.LikeList_count {
  text-align: right;
  margin: 0 90px;
  margin-bottom: 15px;
}

.LikeTable {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
  font-size: 14px;
}

.LikeTable th {
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  background-color: #cfd8e9;
  color: #2d2666;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
}

.LikeTable th:nth-child(2) {
  width: 300px;
}

.LikeTable td {
  border-bottom: 1px solid lightgrey;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
}

.LikeTable td:nth-child(2) {
  text-align: left;
  padding-left: 30px;
  cursor: pointer;
}

.LikeTable tr:last-child > td {
  border-bottom: 1px solid lightgrey;
  height: 40px;
}

.LikeTable tr:nth-child(odd) {
  background-color: 0;
}

.LikeTable tr:nth-child(even) {
  background-color: #ecf0f7;
}

// 좋아요 보관함 탭메뉴
.storageSort {
  width: 100%;
  margin: 40px auto 0;
}

.storageSort ul {
  display: flex;
  justify-content: center;
}

.storageSort ul li button {
  padding: 10px 30px;
  box-sizing: border-box;
  background: none;
  border: 1px solid #cfd8e9;
  color: rgba(45, 38, 102, 0.6);
}

.storageSort ul li button.tab-link-active {
  background: #cfd8e9;
  color: #2d2666;
  font-weight: 400;
}
