.ListBox {
  // border: 1px solid #333;
  box-shadow: 5px 20px 20px rgb(226, 226, 226);
  box-sizing: border-box;
  position: relative;
  width: 45%;
  // height: 40%;
  // margin: 0 5%;
  // margin-bottom: 5%;
  // padding: 1%;
  float: left;
  min-height: 280px;
  margin: 2.5%;
  padding: 5px;
  box-sizing: border-box;
}

.ReviewTxt p {
  margin: 10px 0;
  // 말줄임 4종 세트
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.ListBox:hover {
  background-color: rgb(231, 231, 231);
}

.ListBox > a {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ul {
  width: 100%;
  margin: 0;
  padding: 5px 0;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
}

.li {
  padding: 0;
  display: inline-flex;
  font-size: 12px;
}

.noImg img {
  max-width: 100%;
}

.noImg {
  background-color: rgb(245, 245, 245);
  height: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
