.li_u {
  padding: 0;
  display: inline-flex;
  cursor: default;
}

.li {
  cursor: default;

  .likeIcon {
    cursor: pointer;
  }
}


.ViewTxt img {
  max-width: 100%;
}

.ViewTxt {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.ViewTxt p {
  text-align: left;
  line-height: 30px;
}

.bad_ul {
  width: 500px;
  margin: 0 auto;
}

.back {
  height: 30px;
  width: 30px;
  margin: 10px;
  color: grey;
  display: flex;
}

.btn-go {
  background-color: lightgrey;
  text-align: center;
  border: none;
  border-radius: 2px 2px;
  background-color: lightgrey;
  padding: 1%;
  margin: 1%;
  width: 70px;
  // left: 40%;
  // position: relative;
  cursor: pointer;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  // position: relative;
  // left : 50%;
  // transform: translateX(-50%);
}