.WTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_input {
  margin: 1% auto;
  padding: 1.5%;
  width: 500px;
  border: solid 1px lightgray;
  box-sizing: border-box;
}

.Wysiwyg {
  width: 500px;
  margin: 0 auto;
}

/* CKeditor 글쓰기 창 높이 설정 */
.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  min-height: 300px;
}

.btnWrap {
  display: flex;
  justify-content: center;
  // position: relative;
  // left : 50%;
  // transform: translateX(-50%);
}

.Write > .btnWrap button {
  background-color: lightgrey;
  text-align: center;
  border: none;
  border-radius: 2px 2px;
  background-color: lightgray;
  padding: 1%;
  margin: 1%;
  width: 70px;
  // left: 40%;
  // position: relative;
  cursor: pointer;
}
