@charset "utf-8";


#header{width:calc(100% - 100px); padding:0 30px; box-sizing:border-box; position:fixed; top:40px; left:50%; transform:translateX(-50%); z-index:999; transition:all 0.4s; height:100px; background:rgba(255,255,255,0.95);/*  overflow:hidden; */}
#header .logo{position:absolute; top:12px; /* top:50%; transform:translateY(-50%);  */transition:all 0.4s; display:inline-block;}
#header .logo > a{display:inline-block;}
#header .logo img{display:inline-block; max-width:100%; transition:all 0.4s;}

#header .menu > .gnb{text-align:center; transition:all 0.4s;}
#header .menu > .gnb > li{display:inline-table; box-sizing:border-box; line-height:100px; transition:all 0.4s; cursor:default;}
#header .menu > .gnb > li > a{font-size:18px; color:#444; font-weight:500; padding:0 25px; box-sizing:border-box; transition:all 0.4s; position:relative; display:inline-block;}
#header .menu > .gnb > li > a:after{content:''; width:0; height:2px; background:#71a820; display:block; position:absolute; bottom:0; left:50%; transition:width 0.4s ease 0s, left 0.4s ease 0s;}
#header .menu > .gnb > li > a:hover::after, #header .menu > .gnb > li.on > a:after{width:100%; left:0;}

#header .sub-menu{display:none; opacity:0; transition:all 0.4s; height:100%; min-height:300px; margin-top:-1px; text-align:left;}
#header .sub-menu > li{line-height:26px;}
#header .sub-menu > li > a{font-size:16px; color:#555; font-weight:500; padding:7px 20px; box-sizing:border-box; display:block; transition:all 0.4s;}
#header .sub-menu > li > a:hover{color:#125fad;}

#header.on{height:400px; background:#fff;}
#header.on:before{content:''; width:100%; height:1px; background:#ededed; position:absolute; top:100px; left:0;}
#header.on .sub-menu{display:block; opacity:1;}
#header.on .menu > .gnb > li > a{padding:0 40px;}

#header .lang{position:absolute; top:40px; right:30px; text-align:center;}
#header .lang > li{margin:0 10px !important; display:inline-table;}
#header .lang > li > a{font-size:15px !important; color:#1b1c80 !important; opacity:0.6; padding:0 !important;}
#header .lang > li.on > a{opacity:1; font-weight:600; position:relative;}
#header .lang > li.on > a:before{content:''; width:100%; height:1px; background:#1b1c80; position:absolute; bottom:-2px; left:1px;}

#header:hover{background:#fff;}





.btn-more{font-size:14px; text-align:center; border:1px solid #aaa; color:#555; padding:15px; width:100%; max-width:160px; margin:0 auto; opacity:0.8; display:block; position:relative; transition:all 0.4s;}
.btn-more .plus{position:relative; transition:padding 0.4s, margin 0.4s; -webkit-transition:padding 0.4s, margin 0.4s;}
.btn-more .plus:after{content:'\e914'; font-family:'xeicon'; font-size:16px; color:#fff; display:block; position:absolute; right:0; top:50%; transform:translateY(-50%); opacity:0; transition:opacity 0.4s, right 0.4s; -webkit-transition:opacity 0.4s, right 0.4s;}
.btn-more:hover{background:#115fad; opacity:1; color:rgba(255,255,255,0.9); border-color:#115fad;}
.btn-more:hover .plus:after{opacity:1; right:-15px; color:rgba(255,255,255,0.9);}
.btn-more:hover .plus{margin-left:-10px; padding-right:10px;}

.btn-more2{border-color:#fff; color:#fff;}


footer{width:100%; background:#262626;}
.ft-wrap{padding:40px 0; box-sizing:border-box; position:relative;}
.ft-info{margin-bottom:15px; overflow:hidden;}
.ft-info h3{font-size:22px; font-weight:500; color:#fff; opacity:0.6; margin-bottom:20px;}
.ft-info ul{width:50%; float:left; box-sizing:border-box;}
.ft-info ul li{font-size:14px; color:#fff; opacity:0.55; line-height:26px;}

.etc ul li{float:left; margin-right:20px;}
.etc ul li a{font-size:14px; color:#fff; opacity:0.3; transition:all 0.4s;}
.etc ul li a:hover{opacity:0.6;}

.ft-right{float:right;}
.ft-menu{float:right; display:block;}
.ft-menu ul li{float:left; padding:0 20px; box-sizing:border-box; position:relative;}
.ft-menu ul li:first-child{padding-left:0;}
.ft-menu ul li:first-child a{opacity:0.7; font-weight:500;}
.ft-menu ul li:last-child{padding-right:0;}
.ft-menu ul li:before{content:''; width:5px; height:1px; background:#fff; opacity:0.4; position:absolute; right:0; top:50%; transform:translateY(-50%) rotate(45deg);}
.ft-menu ul li a{font-size:14px; color:#fff; opacity:0.5; transition:all 0.4s;}
.ft-menu ul li a:hover{opacity:0.8;}

.ft-banner{position:absolute; right:0; bottom:40px;}
.ft-banner img{max-width:100%; display:block;}

.copy{width:100%; background:rgba(0,0,0,0.1); text-align:center; padding:5px 10px; box-sizing:border-box;}
.copy p{font-size:14px; color:#ccc; opacity:0.5;}

.wow{animation-duration:1.3s;}









@media all and (max-width:1679px){	
	#header .logo{top:25px}
	#header .logo img{max-width:70%;}	
	#header .menu > .gnb > li > a{font-size:16px; padding:0 15px;}
	#header .sub-menu > li > a{font-size:14px; padding:7px 5px;}
	#header.on .menu > .gnb > li > a{padding:0 20px;}
	#header .lang > li{margin:0 5px !important;}	
	#header .lang > li > a{font-size:14px !important;}
}

@media all and (max-width:1199px){
	#header{width:100%; top:0; height:80px; background:#fff; -webkit-transform:none; transform:none; left:0;}
	#header .logo{top:15px;}
	
	.ham{padding:5px 10px; box-sizing:border-box; display:inline-block; position:absolute; right:20px; top:50%; transform:translateY(-50%);}
	.ham .line{display:block; width:24px; height:2px; background:#115fad; margin:7px auto; transition:all 0.4s;}
	.ham.active .line{background:#fff;}
	.ham.active .line1{transform:translateY(9px) rotate(45deg);}
	.ham.active .line2{opacity:0;}
	.ham.active .line3{transform:translateY(-9px) rotate(-45deg);}
	
	.m-menu{width:100%;/*  max-width:260px; */ display:block; height:100%; background:#115fad; position:fixed; right:-100%; top:0; padding-top:80px; box-sizing:border-box; transition:all 0.4s; visibility:hidden; overflow-y:scroll;}
	.m-menu.on{right:0; visibility:visible;}	
	
	#header .menu > .gnb{text-align:left;}
	#header .menu > .gnb > li{display:block; line-height:26px; border-bottom:1px solid rgba(255,255,255,0.2);}
	#header .menu > .gnb > li > a{padding:15px 25px; display:block; color:rgba(255,255,255,0.9);}
	#header .menu > .gnb > li > a::after{height:0;}
	
	#header .sub-menu{opacity:1; display:block !important; min-height:auto; margin-top:0; /* border-top:1px solid rgba(255,255,255,0.2);  */background:rgba(0,0,0,0.1);}
	#header .sub-menu > li > a{padding:10px 25px; color:rgba(255,255,255,0.6);}
	#header .sub-menu > li > a:hover{color:rgba(255,255,255,0.9);}
		
	#header .lang{top:30px; right:80px;}
	#header .lang > li > a{color:#fff !important;}
	#header .lang > li.on > a{opacity:0.8;}
	#header .lang > li.on > a::before{background:rgba(255,255,255,0.8);}
	
	
	.blind{position:fixed; top:0; left:0; bottom:0; width:100%; height:100%; z-index:998; display:none; background:rgba(0,0,0,0.6); transition:all 0.4s;}
	
	.ft-wrap{padding:40px 10px;}
	.ft-banner{right:10px;}
	
}

@media all and (max-width:767px){
	#header{height:60px; padding:0 20px;}
	#header .logo{top:7px;}
	#header .logo img{max-width:60%;}
	#header .lang{top:20px;}
	.ham{right:10px;}
	
	.btn-more{font-size:12.5px;}
	
	.ft-wrap{padding:20px 2.5%;}
	.ft-menu{margin-bottom:15px;}
	.ft-info{margin-bottom:10px; overflow:hidden;}
	.ft-info h3{margin-bottom:15px; font-size:18px;}
	.ft-info ul{width:100%;}
	.ft-info ul li, .etc ul li a, .copy p{font-size:13px; line-height:24px;}
	.ft-banner{right:2.5%; bottom:20px;}
	.etc{width:100%; margin-bottom:40px; overflow:hidden;}
}

@media all and (max-width:525px){
	.ft-menu{display:none;}
	.ft-banner img{width:80%; margin:0 auto;}
	.copy p{line-height:20px;}
	
}

@media all and (max-width:360px){
	
}