@charset "utf-8";

.section-wrap{width:100%; height:100%; max-width:1200px; margin:0 auto; position:relative;}

/*button*/
.button--nina{position:relative;}
.button--nina i{font-style:normal; position:absolute; transition:all 0.4s; width:100%; left:50%; top:50%; transform:translate(-50%, -50%); text-align:center;}

.btn-line{font-size:16px; color:#fff; padding:15px 40px; box-sizing:border-box; border:1px solid #fff; font-weight:300; opacity:0.8; transition:all 0.4s; display:inline-block;}
.btn-line:hover{background:#fff; opacity:1;}
.btn-line:hover i{opacity:0;}

.btn-navy{font-size:16px; color:#fff; padding:15px 40px; box-sizing:border-box; border:1px solid #232e84; font-weight:300; opacity:0.8; transition:all 0.4s; display:inline-block; background:#232e84;}
.btn-navy i{font-style:normal; position:absolute; transition:all 0.4s;}
.btn-navy:hover{background:#fff; opacity:1; color:#232e84;}
.btn-navy:hover i{opacity:0;}

.btn-half{width:49%; text-align:center; float:left;}

.btn-plus{width:50px; height:50px; position:absolute; display:inline-block; color:#fff; border:1px solid #fff; font-size:30px; top:11px; right:0; transition:all 0.4s; text-align:center; line-height:50px;}
.btn-plus i{transition:all 0.4s;}
.btn-plus:hover{background:#232e84; border-color:#232e84;}
.btn-plus:hover i{transform:rotate(180deg);}



/*title*/
.s-title{width:100%; text-align:center; opacity:0.95;}
.s-title h1{font-size:60px; color:#fff; margin-bottom:25px;}
.s-title p{font-size:22px; color:#fff;}

.s-title2{text-align:left;}


/*====================
	section0 - ABOUT
======================*/
.bg-video{position: absolute; right: 0; bottom: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; background:url(../../images/theme/main/bg-video.png)no-repeat; background-size: cover;}

.about{width:100%; height:100%; background:rgba(29,31,41,0.75);}
.about-txt{position:absolute; top:50%; left:0; transform:translate(0, -50%); transition:all 0.4s;}
.about-txt h2, .about-txt h1, .about-txt p{color:#fff; opacity:0.95;}
.about-txt h2{font-size:46px; font-weight:400;}
.about-txt h1{font-size:60px; font-family: 'Amaranth', 'Lato', 'Noto Sans KR', sans-serif;}
.about-txt p{font-size:22px; margin:50px 0;}

.right#fp-nav{right:50px;}
#fp-nav{margin-top:0 !important;; transform:translate(0, -50%);}
#fp-nav ul li, .fp-slidesNav ul li{width:25px; height:25px; margin:17.5px;}
#fp-nav ul li a span, .fp-slidesNav ul li a span{width:5px; height:5px; background:rgba(255,255,255,0.8); left:50%; top:50%; transform:translate(-50%, -50%); margin:0;}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{width:5px; height:5px; margin:0; border-radius:50%; left:50%; top:50%; transform:translate(-50%, -50%);}
#fp-nav ul li a.active, .fp-slidesNav ul li a.active, #fp-nav ul li:hover a.active, .fp-slidesNav ul li:hover a.active{position:relative;}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{width:5px; height:5px; background:#fff; left:50%; top:50%; transform:translate(-50%, -50%); margin:0;}
#fp-nav ul li a:before, .fp-slidesNav ul li a:before,  #fp-nav ul li:hover a:before, .fp-slidesNav ul li:hover a:before{content:''; width:25px; height:25px; margin:0; border-radius:50%; border:1px solid rgba(255,255,255,0.6); position:absolute; left:-1px; top:-1px; opacity:0;}
#fp-nav ul li a.active:before, .fp-slidesNav ul li a.active:before,  #fp-nav ul li:hover a.active:before, .fp-slidesNav ul li:hover a.active:before{-webkit-animation: ball-scale-multiple 1s 0s linear infinite; animation: ball-scale-multiple 1s 0s linear infinite;}
/* #fp-nav ul li a.active:before, .fp-slidesNav ul li a.active:before,  #fp-nav ul li:hover a.active:before, .fp-slidesNav ul li:hover a.active:before{content:''; width:25px; height:25px; margin:0; border-radius:50%; border:1px solid rgba(255,255,255,0.6); position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); -webkit-animation: ball-scale-multiple 1s 0s linear infinite; animation: ball-scale-multiple 1s 0s linear infinite;} */
#fp-nav.right.right ul li:last-child, .fp-slidesNav ul li:last-child{display:none !important;}


/* circle 애니메이션 css */
.ball-scale-multiple {position: relative; opacity:0;filter:Alpha(opacity=0);
	-moz-transition:all 0.7s, opacity 1.0s;
	-ms-transition:all 0.7s, opacity 1.0s;
	-webkit-transition:all 0.7s, opacity 1.0s;
	-o-transition:all 0.7s, opacity 1.0s;
	transition:all 0.7s, opacity 1.0s;
}
.ball-scale-multiple > div:nth-child(2) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s; 
}
.ball-scale-multiple > div {
    border-radius: 50%;
    position: absolute;
    top: -3px;
	left:-3px;
    opacity: 0;
    margin: 0;
    width: 74px;
    height: 74px;
	border:3px solid #1a978e;
	background-color: #1a978e;
    -webkit-animation: ball-scale-multiple 3s 0s linear infinite;
    animation: ball-scale-multiple 3s 0s linear infinite;
}

@keyframes ball-scale-multiple {
	0% {
		-webkit-transform: scale(0.33);
        transform: scale(0.33);
		opacity: 0.3; 
	}
	5% {
		opacity: 0.8; 
	}
	100% {
		-webkit-transform: scale(1);
        transform: scale(1);
		opacity: 0; 
	}  
}

@-webkit-keyframes ball-scale-multiple {
	0% {
		-webkit-transform: scale(0.33);
        transform: scale(0.33);
		opacity: 0.3; 
	}
	5% {
		opacity: 0.8; 
	}
	100% {
		-webkit-transform: scale(1);
        transform: scale(1);
		opacity: 0; 
	}  
}
/* #fp-nav ul li .fp-tooltip.right{right:40px;} */
#fp-nav ul li .fp-tooltip{top:50%; transform:translate(0, -50%); font-family: 'Lato', 'Noto Sans KR', sans-serif; width:auto; opacity:0.6; padding-right:20px;}
#fp-nav ul li a.active + .fp-tooltip{opacity:1;}

/*====================
	section1 - PRODUCT
======================*/
#section1{width:100%; height:100%;/*  pointer-events:none; */}

.p-bg{background:url(../../images/theme/main/product-bg1.jpg)no-repeat;}
.p1-bg{background:url(../../images/theme/main/product-bg2.jpg)no-repeat; opacity:0;}
.p2-bg{background:url(../../images/theme/main/product-bg3.jpg)no-repeat; opacity:0;}
.p3-bg{background:url(../../images/theme/main/product-bg4.jpg)no-repeat; opacity:0;}
.product-bg{width:100%; height:100vh; background-size:cover;  background-position:center; -webkit-transition:all 0.4s; transition:all 0.4s; position:absolute; top:0; left:0;}

.product-list{padding:80px 0 0; box-sizing:border-box; width:100%;}
.product-list ul{text-align:center; font-size:0;}
.product-list ul li{display:inline-table; box-sizing:border-box; margin-left:-1px; width:100%; max-width:230px;}
.product-list ul li a{display:block; padding:35px 45px 30px; box-sizing:border-box; border:1px solid #fff; transition:all 0.4s;}
.product-list ul li img{display:block; margin:0 auto 15px; max-width:100%;}
.image-wrapper {position: relative;}
.image-hover {position: absolute; top: 35px; left: 50%; opacity: 0; transition: opacity 0.4s ease-out; transform:translate(-50%, 0);}
.product-list ul li h4{font-size:18px; color:#fff; font-weight:500; transition:all 0.4s;}
.product-list ul li:last-child{max-width:300px; background:#232e84; margin-left:20px;}
.product-list ul li:last-child a{border-color:#232e84;}

.product-list ul li a:hover{background:#fff;}
.product-list ul li a:hover .image-hover{opacity:1;}
.product-list ul li a:hover h4{color:#232e84;}

/* .product-list ul li a{pointer-events:auto;}
#section1:hover{background:url(../../images/theme/main/product-bg2.jpg)no-repeat; background-size:cover; background-position:center;} */



/*====================
	section2 - R&D
======================*/
#section2{width:100%; height:100%; background:url(../../images/theme/main/rnd-bg.jpg)no-repeat; background-size:cover; background-position:center;}

.rnd-top{width:100%; margin-bottom:40px; overflow:hidden;}
.rnd-btn{margin-top:11%;}
.rnd-btn .btn-navy{float:right;}

.rnd-center img{display:block; max-width:100%;}


/*====================
	section3 - NOTICE & RECRUIT
======================*/
#section3{width:100%; height:100%; background:url(../../images/theme/main/notice-bg.jpg)no-repeat; background-size:cover; background-position:center;}

.notice{width:100%; margin-bottom:40px; overflow:hidden;}
.notice-box{width:100%; margin-bottom:20px;}
.notice-box a{display:block; width:100%; height:100%; position:relative; background:#fff; min-height:80px; border:2px solid #fff; transition:all 0.4s; box-sizing:border-box;}
.notice-box a:hover{border-color:#232e84; /* box-shadow:1px 1px 4px rgba(0,0,0,0.6); */}
.notice-box ul{position:absolute; width:100%; top:50%; transform:translateY(-50%);}
.notice-box ul li{display:table-cell; vertical-align:middle; width:12.5%; }
.notice-box ul li:nth-child(2){width:75%;}
.notice-box ul li h4{font-size:18px; color:#444; font-weight:400;}
/* .notice-box ul li:last-child{position:absolute; right:50px; top:50%; transform:translateY(-50%); } */
.n-date{font-size:16px; color:#888; font-weight:300; float:right; padding-right:50px;}

.r-box{width:100px; height:40px; font-size:16px; color:#fff; text-align:center; line-height:40px; border-radius:20px; display:block; margin:0 25px;}
.r-box-navy{background:#232e84;}
.r-box-red{background:#c50018;}

.recruit{width:100%; background:url(../../images/theme/main/recruit.jpg)no-repeat; background-size:cover; background-position:center; padding:50px 50px 70px; box-sizing:border-box; overflow:hidden; position:relative;}
.recruit-btn{position:absolute; width:49%; right:50px; top:50%; transform:translateY(-50%);}
.recruit-btn .btn-line{float:right;}


/*====================
	section4 - VIDEO & CS CENTER
======================*/
#section4{width:100%; height:100%; background:url(../../images/theme/main/video-bg.jpg)no-repeat; background-size:cover; background-position:center;}

.video-cs{width:100%; height:100%; position:relative;}
.video{position:absolute; top:50%; transform:translateY(-50%); width:calc(65% - 70px); left:0;}

.cs-center{background:rgba(22,29,83,0.8); height:100vh; width:35%; right:0; top:0; position:absolute;}
.cs-info{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:calc(100% - 80px);}
.cs-box ul{margin:80px 0; display:block; overflow:hidden;}
.cs-box ul li{text-align:center; box-sizing:border-box;}
.cs-box ul li:first-child{margin-bottom:40px; overflow:hidden;}
.cs-box ul li span{font-size:32px; color:#bbb; font-weight:300; margin-bottom:10px;}
.cs-box ul li h2{font-size:44px; color:#fff; font-weight:300;}
.cs-box .btn-half{width:100%;}







@media all and (max-width:1199px){
	.right#fp-nav{right:0;}
	
	.about-txt{padding:0 40px;}
	
	.s-title h1{font-size:52px;}
	.s-title p{font-size:20px;}
	
	.btn-plus{right:10px; width:40px; height:40px; font-size:26px; line-height:40px;}
}

@media all and (max-width:767px){
	.right#fp-nav{display:none !important;}
	
	.about-txt h2{font-size:34px;}
	.about-txt h1{font-size:46px;}
	.about-txt p{font-size:18px; margin:40px 0;}
	
	.btn-line{font-size:14px;}
	.btn-navy{font-size:14px;}
	
	.s-title h1{font-size:48px;}
	.s-title p{font-size:18px;}
	
	.product-list{padding:40px 0;}
	.product-list ul li{width:50%; max-width:100%;}
	.product-list ul li:last-child{margin:10px 0 0; max-width:100%; width:100%;}
	.rnd-btn{margin-top:40px;}
	
	.btn-plus{right:2.5%; width:30px; height:30px; line-height:30px; font-size:18px;}
	.r-box{font-size:14px; margin:0 15px;}
	.notice-box ul li h4{font-size:16px;}
	.n-date{font-size:14px; padding-right:20px;}
	
	.recruit{padding:40px 20px;}
	.recruit-btn{width:100%; top:auto; right:auto; transform:none; margin-top:40px; position:static;}
	.recruit-btn .btn-line{width:100% !important;}
	
	.video, .cs-center{position:static; width:100%; height:auto; transform:none;}
	.video{padding-top:20%;}
	.yujin-video iframe{height:260px;}
	
	.cs-center{height:auto; width:100%; position:relative;}
	.cs-info{position:static; transform:none; width:100%; overflow:hidden; padding:40px; box-sizing:border-box;}
	.cs-box ul{margin:30px 0;}
	.cs-box ul li:first-child{margin-bottom:20px;}
	.cs-box ul li span{font-size:22px;}
	.cs-box ul li h2{font-size:34px;}	
	
	

}

@media all and (max-width:525px){
	.about-txt{padding:0 20px;}
	
	.s-title h1{font-size:38px;}
	.product-list ul li h4{font-size:16px;}
	
	.rnd-top{margin-bottom:0;}
	.btn-half{width:100%; margin-bottom:10px;}
	
}

@media all and (max-width:360px){
	
}