@charset "utf-8";

/*====================
	SUB PAGE MENU
======================*/
#header{position:absolute;}
/* .scroll-menu{width:100%; background:rgba(18,29,61,0.9); padding:0 25px !important;}
#header.scroll-menu .logo{left:25px; top:15px;}
#header.scroll-menu .menu > ul > li > a{padding-bottom:0 !important; line-height:65px !important;}
#header.scroll-menu .menu > ul > li > .btn-inquiry{margin:14px 0 !important; line-height:37px !important;} */


.sub-top1{background:url(../../images/theme/sub/sub-top1.jpg)no-repeat;}
.sub-top2{background:url(../../images/theme/sub/sub-top2.jpg)no-repeat;}
.sub-top3{background:url(../../images/theme/sub/sub-top3.jpg)no-repeat;}
.sub-top4{background:url(../../images/theme/sub/sub-top4.jpg)no-repeat;}
.sub-top5{background:url(../../images/theme/sub/sub-top5.jpg)no-repeat;}
#sub-top{width:100%; background-size:cover; background-position:center center; position:relative; height:480px;}

#sub-top .s-top-title{position:absolute; top:50%; left:50%; /* width:80%;  */transform:translate(-50%, -50%); text-align:center; /* padding:100px 20px;  */box-sizing:border-box;}
#sub-top .s-top-title h1{font-size:46px; color:rgba(255,255,255,0.9); font-weight:500; margin-bottom:15px;}
#sub-top .s-top-title ul{text-align:center;}
#sub-top .s-top-title ul li{display:inline-table; font-size:16px; color:rgba(255,255,255,0.8); padding:0 12px; position:relative;}
#sub-top .s-top-title ul li a{color:rgba(255,255,255,0.8); transition:color 0.4s;}
#sub-top .s-top-title ul li a:hover{color:#fff;}
#sub-top .s-top-title ul li i{font-size:18px; font-weight:300;}
#sub-top .s-top-title ul li:before{content:''; position:absolute; width:2px; height:2px; background:#fff; opacity:0.6; left:-1px; top:50%; transform:translateY(-50%);}
#sub-top .s-top-title ul li:first-child:before{width:0;}

#sub-top .sub-nav{position:absolute; bottom:0; width:100%;}
#sub-top .sub-nav ul{width:100%; max-width:1200px; margin:0 auto; height:60px;}
#sub-top .sub-nav ul li{float:left; text-align:center;}
#sub-top .sub-nav ul li a{font-size:16px; color:rgba(255,255,255,0.8); display:block; background:rgba(0,0,0,0.4); margin-right:1px; transition:all 0.4s; line-height:60px;}
#sub-top .sub-nav ul li:not(.selected) a:hover{background:rgba(0,0,0,0.6); color:#fff;}
#sub-top .sub-nav .selected a{background:#fff; color:#333;}

#sub-top .sub-nav1 ul li{width:20%;}
#sub-top .sub-nav2 ul li{width:50%;}
#sub-top .sub-nav3 ul li{width:100%;}
#sub-top .sub-nav4 ul li{width:33.33%;}


.s-title{margin:80px 0 50px; text-align:center;}
.s-title h2{font-size:32px; color:#333; }
.s-c-title{margin-bottom:20px;}
.s-c-title h3{font-size:24px; color:#444; position:relative; padding-top:8px;}
.s-c-title h3:before{content:''; width:30px; height:2px; background:url(../../images/theme/sub/s-c-title.gif)no-repeat; position:absolute; top:0; left:0;}

.s-section{width:100%; min-height:400px; padding-bottom:7%;}
.n-p-b{padding-bottom:0 !important;}
.section-wrap{width:100%; max-width:1200px; margin:0 auto;}
.s-contents{width:100%; margin-bottom:50px; overflow:hidden;}
.gray-bg{background:#f8f8f8; width:100%; padding:50px 0 80px; box-sizing:border-box; overflow:hidden;}

.basic-table-v{width:100%; border-top:1px solid #232e84; border-bottom:1px solid #555;}
.basic-table-v th, .basic-table-v td{font-size:16px; padding:15px 20px; border-top:1px solid #ededed; background:#fff;}
.basic-table-v th{background:#232e84; color:#fff; text-align:left; font-weight:500;}
.b-t-0{border-top:0 !important;}
.th-sub{background:#f4f4f9 !important;}





/*====================
	sub1-1 인사말
======================*/
.g-box{width:100%; min-height:340px; position:relative; background:#f8f8f8 url(../../images/theme/sub/g-box-bg.png)no-repeat 100% 0; padding:60px; box-sizing:border-box; background-size:contain;}
.g-box:before{content:''; width:0; height:0; border-top:50px solid #fff; border-right:50px solid transparent; position:absolute; top:0; left:0;}
.g-box h2{font-size:28px; font-weight:500; color:#444; margin-bottom:40px; line-height:36px;}
.g-box h2 span{font-size:24px; font-weight:400;}
.g-box > p{font-size:18px; color:#444; line-height:30px;}

.g-box h2, .g-box > p{width:60%}

.g-ceo{position:absolute; bottom:0; right:50px;}
.g-ceo p{position:absolute; left:-80%; bottom:40px;}
.g-ceo .sign{font-size:20px; font-weight:500; letter-spacing:0.1em; margin-left:10px;}
.g-ceo img{display:block; max-width:100%;}

.company-img{padding-left:20px; box-sizing:border-box;}


/*====================
	sub1-2 연혁
======================*/
.history-top{width:100%; min-height:260px; background:url(../../images/theme/sub/history.jpg)no-repeat center; background-size:cover; position:relative;}
.h-top-txt{position:absolute; top:50%; right:100px; transform:translateY(-50%); text-align:right;}
.h-top-txt p{font-size:22px; color:#fff; font-weight:300;}
.h-top-txt h2{font-size:40px; color:#fff; font-family: 'Amaranth', 'Lato', 'Noto Sans KR', sans-serif;}

.history-wrap{width:100%; background:#f8f8f8; padding:100px; box-sizing:border-box;}
.history-table{width:100%;}
.history-table th{background:#232e84 url(../../images/theme/sub/abstract-bg.png)no-repeat center; background-size:cover; font-size:28px; color:#fff; font-weight:300; box-shadow:3px 3px 12px rgba(0,0,0,0.05);}

.history-box{background:#fff; padding:10px; box-sizing:border-box; /* width:calc(100% - 15px); */width:100%; float:right; box-shadow:3px 3px 12px rgba(0,0,0,0.05);}
.history-list{padding:5px 20px; box-sizing:border-box; width:60%; float:left;}
.history-list-full{width:100%;}
.history-list li{font-size:16px; color:#555; font-weight:400; position:relative; padding-left:20px; margin:15px 0;}
.history-list li:before{content:''; width:4px; height:4px; background:#888; position:absolute; top:8px; left:0;}
.history-list li strong{font-weight:500;}
 

.history-img{width:40%; float:left; box-sizing:border-box;}
.history-img li img{display:block; max-width:100%; float:right;}
.history-img li:nth-child(2) img{padding-top:10px;}

.w140{width:140px;}
.round-lt{border-radius:40px 0 0 0;}
.round-br{border-radius:0 0 40px 0;}


/*====================
	sub1-3 조직도
======================*/
.chart{position:relative;}
.chart-ceo{width:200px; height:200px; padding:10px; box-sizing:border-box; position:relative; background:#fff; border:1px dotted #232e84; border-radius:50%; margin:0 auto 60px;}
.chart-ceo h2{font-size:26px; color:#fff; text-align:center; background:#232e84 url(../../images/theme/sub/abstract-bg.png)no-repeat center; background-size:cover; border-radius:50%; width:180px; height:180px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.chart-ceo h2 span{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:100%;}
.chart-ceo:before{content:''; width:1px; height:100%; background:url(../../images/theme/sub/v-line.gif)repeat-Y; position:absolute; bottom:-60px; left:50%; z-index:-1;}

.chart-team-wrap{position:relative; width:100%;}
.chart-team-wrap:before{content:''; width:75%; height:1px; background:url(../../images/theme/sub/h-line.gif)repeat-X; position:absolute; top:0; left:12.5%;}
.chart-team{width:100%; padding:0 10px; box-sizing:border-box; position:relative;}
.chart-team:before{content:''; width:1px; height:calc(100% - 10px); position:absolute; top:0; left:50%; background:url(../../images/theme/sub/v-line.gif)repeat-Y; z-index:-1;}
.team-title{width:100%; padding:30px 0 10px;}
.team-title h3{font-size:18px; color:#fff; text-align:center; padding:15px; box-sizing:border-box;background:#568cc5 url(../../images/theme/sub/abstract-bg2.png)no-repeat center; background-size:cover; border-radius:5px;}
.chart-team ul li{width:100%; border:1px solid #ccc; background:#fff; font-size:16px; color:#555; text-align:center; padding:12px; box-sizing:border-box; margin:10px 0;}


/*====================
	sub1-4 주요협력업체
======================*/
.partner-top{width:100%; background:url(../../images/theme/sub/partner.jpg)no-repeat; background-attachment:fixed; background-position:center; min-height:200px; position:relative; margin-bottom:10px; background-size:contain;}
.partner-top h1{font-size:46px; font-family: 'Amaranth', 'Lato', 'Noto Sans KR', sans-serif; color:#fff; opacity:0.6; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); font-style:italic;}

.partner-box{width:calc(100% - 10px); margin:10px 0; border:1px solid #ccc; box-sizing:border-box;}
.pb-right{float:right;}
.partner-img{width:100%; height:100px; border-bottom:1px solid #ccc; position:relative;}
.partner-img img{display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); max-width:100%;}
.partner-info{width:100%; background:#f8f8f8; padding:20px; box-sizing:border-box;}
.partner-info h4{font-size:18px; color:#444; font-weight:500; margin-bottom:10px;}
.partner-info ul{overflow:hidden;}
.partner-info ul li{float:left; position:relative; padding-left:20px; color:#555;}
.partner-info ul li:first-child{margin-right:40px;}
.partner-info ul li span{position:absolute; left:0; top:0; opacity:0.6;}


/*====================
	sub1-5 오시는길
======================*/
.directions-tab{width:100%; margin-bottom:20px; overflow:hidden;}
.directions-tab ul li{width:12.5%; float:left; box-sizing:border-box;}
.directions-tab ul li a{border:1px solid #ccc; box-sizing:border-box; display:block; text-align:center; font-size:16px; color:#888; margin-left:-1px; padding:20px 10px;}
.directions-tab ul li:first-child a{margin-left:0;}
.directions-tab ul li.selected a{border-color:#232e84; background:#232e84; color:#fff;}

.map{width:100%; border:1px solid #ccc; height:360px; margin-bottom:20px;}
.root_daum_roughmap{width:100% !important; border:0 !important; padding:0 !important; border-radius:0 !important;}

.map-info{width:calc(100% - 20px);}
.map-info h2{width:100%; background:#f4f4f9; padding:50px 20px; font-size:28px; color:#444; text-align:center; box-sizing:border-box; font-weight:500; margin-bottom:20px;}
.map-info ul li{width:50%; float:left; position:relative; padding-left:25px; color:#555; font-size:22px; font-weight:400; box-sizing:border-box;}
.map-info ul li:first-child{width:100%; margin-bottom:15px;}
.map-info ul li span{position:absolute; left:0; top:0; color:#232e84;}


/*====================
	sub2 제품소개
======================*/
.pro-tab{width:100%; margin-bottom:50px; overflow:hidden;}
.pro-tab ul{border:1px solid #232e84; border-left:0; border-right:0; background:#fafafa; box-sizing:border-box; overflow:hidden;}
.pro-tab ul li{width:25%; height:80px; float:left; display:table; border-top:1px solid #ccc; box-sizing:border-box; position:relative;}
.pro-tab ul li:first-child, .pro-tab ul li:nth-child(2), .pro-tab ul li:nth-child(3), .pro-tab ul li:nth-child(4){border-top:0;}
.pro-tab ul li:before{content:''; width:1px; height:16px; background:#ccc; position:absolute; top:50%; right:0; transform:translateY(-50%);}
.pro-tab ul li:nth-child(4n)::before{width:0;}
.pro-tab ul li a{font-size:16px; color:#444; display:table-cell; vertical-align:middle; text-align:center;/*  transition:all 0.4s; */ padding:0 10px; line-height:26px;}
.pro-tab ul li.selected a{background:#232e84; color:#fff;}
.pro-tab ul li.selected:before{width:0;}

.pro-contents{width:100%; margin-bottom:20px; overflow:hidden;}
.pro-en{font-size:18px; color:#888; font-weight:300; padding-left:10px; vertical-align:bottom;}
.pro-en2{padding-left:0;}
.pro-img{width:100%; border:1px solid #ccc; box-sizing:border-box; min-height:280px; background-size:cover !important; background-position:center !important;}
.pro-info{width:calc(100% - 20px); margin-left:20px; position:relative; background:#f4f4f9; padding:30px; box-sizing:border-box; min-height:280px;}
.pro-info:before{content:''; width:0; height:0; border-top:40px solid #fff; border-left:40px solid transparent; position:absolute; top:0; right:0;}
.info-txt{width:100%; margin-bottom:20px; overflow:hidden;}
.info-txt h4{font-size:18px; color:#444; margin-bottom:10px;}
.info-txt p{text-align:justify;}

.pro-table{width:100%; border-bottom:1px solid #555;}
.pro-table th, .pro-table td{font-size:16px; color:#555; padding:15px 0; text-align:center; border-top:1px solid #ededed; border-left:1px solid #ededed;}
.pro-table th{background:#232e84; color:#fff; font-weight:500;}
.b-l-0{border-left:0 !important;}
.pro-table tr:nth-child(2n-1) td{background:#fbfbfd;}

.pro-table2 tr:nth-child(2n-1) td{background:#fff;}
.pro-table2 tr:nth-child(2n) td{background:#fbfbfd;}
.bg-white{background:#fff !important;}
.bg-bg{background:#fbfbfd !important;}
.bgwhite td{background:#fff !important;}
.bgbg td{background:#fbfbfd !important;}
.m-b-20{margin-bottom:20px;}

.t-title{font-size:18px; color:#555; position:relative; margin-bottom:10px; padding-left:15px;}
.t-title:before{content:''; width:7px; height:7px; background:#232e84; position:absolute; left:0; top:7px;}


/*====================
	sub3-1 연구소 소개
======================*/
.rnd-top{width:100%; position:relative; margin-top:80px;}
.rnd-slider .rnd-img{width:100%; min-height:400px; background-size:cover !important; background-position:center !important;}

/*slick-slider*/
.rnd-slider .slick-arrow{display:none;}
.rnd-slider .slick-dots{bottom:40px; left:40px; width:auto; text-align:left;}
.rnd-slider .slick-dots li, .rnd-slider .slick-dots li button{width:auto; height:auto;}
.rnd-slider .slick-dots li button::before{font-size:0; width:8px; height:8px; background:#fff; opacity:0.6; border-radius:4px; transition:all 0.4s;}
.rnd-slider .slick-dots li.slick-active{width:24px;}
.rnd-slider .slick-dots li.slick-active button::before{opacity:0.8; width:24px;}

.rnd-txt{position:absolute; right:40px; bottom:-40px; text-align:right; padding:40px 40px 80px; box-sizing:border-box; opacity:0.9; 
background: #232e84; /* Old browsers */
background: -moz-linear-gradient(-45deg, #232e84 0%, #090f34 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #232e84 0%,#090f34 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #232e84 0%,#090f34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232e84', endColorstr='#090f34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.rnd-txt h2{font-size:28px; color:#fff; font-weight:500; margin-bottom:30px; line-height:38px;}
.rnd-txt h2 span{font-size:24px; color:#ececec; font-weight:400;}
.rnd-txt p{color:#fff; opacity:0.8;}

.map-info2{float:right;}


/*====================
	sub4-1 인재상
======================*/
.talent h3{font-size:22px; color:#333; font-weight:400; padding:36px; box-sizing:border-box; width:100%; border-radius:50px; background:#f4f4f9; text-align:center; margin-bottom:60px; overflow:hidden;}

.talent-list ul{text-align:center; font-size:0;}
.talent-list ul li{display:inline-table; width:28%;}

.talent-box{width:calc(100% - 4px); margin:2px; border-radius:10px; position:relative; padding:20px; box-sizing:border-box; min-height:300px;}
.talent-box1{background:#6a78e5;}
.talent-box2{background:#2f96de;}
.talent-box3{background:#2fbbde;}

/* .talent-box:before{content:''; width:60px; height:60px; border-radius:50%; position:absolute; top:50%; right:-45px; transform:translateY(-50%); z-index:10; border:4px solid #fff;}
.talent-box:after{content:''; width:68px; height:68px; border-radius:50%; position:absolute; background:#fff; top:50%; right:-49px; transform:translateY(-50%);}
.talent-box1:before{background:#6478e5;}
.talent-box2:before{background:#2f96de;}
.talent-box3:before, .talent-box3:after{width:0;} */

.talent-box:before{content:''; width:64px; height:68px; position:absolute; top:50%; right:-49px; transform:translateY(-50%); z-index:10;}
.talent-box1:before{background:url(../../images/theme/sub/talent1-before.png)no-repeat center;}
.talent-box2:before{background:url(../../images/theme/sub/talent2-before.png)no-repeat center;}

.talent-box img{display:block; max-width:100%; background:rgba(255,255,255,0.6); border-radius:50px; margin:20px auto 15px;}
.talent-box h2{font-size:26px; color:#fff; margin-bottom:35px;}
.talent-box p{color:#fff; text-align:justify;}




@media all and (max-width:1199px){
	#sub-top{height:360px;}
	#sub-top .s-top-title h1{font-size:38px;}
	
	.history-wrap{padding:40px;}
}

@media all and (max-width:767px){
	#sub-top{height:260px;}
	#sub-top .s-top-title h1{font-size:32px;}
	
	.m-sub-nav > button{width:100%; height:40px; border:none; background:rgba(17,17,17,0.4); color:#fff; font-size:14px; text-align:left; padding:0 20px; box-sizing:border-box;}
	.m-sub-nav > button i{float:right; transition:all 0.4s;}
	.m-sub-nav > button.on i{transform:rotate(180deg);}
	.m-sub-nav{bottom:20px !important; padding:0 5%; box-sizing:border-box;}
	.m-sub-nav ul{width:90% !important; height:auto !important; position:absolute; z-index:600; border:1px solid #ccc; border-top:0; background:#f9f9f9 !important; box-sizing:border-box;}
	.m-sub-nav ul li{width:100% !important; float:none !important; text-align:left !important; line-height:32px !important;}
	.m-sub-nav ul li a{padding:0 20px; margin-right:0; font-size:13px !important; background:none !important; margin-right:0 !important; color:#555 !important; line-height:40px !important;}
	
	.s-title{margin:50px 0 40px;}
	.s-title h2{font-size:28px;}
	.s-contents{margin-bottom:30px;}
	
	/*sub1-1*/
	.g-box{padding:40px 40px 100px;}
	.g-box h2{font-size:24px; line-height:30px; margin-bottom:30px;}
	.g-box h2 span{font-size:20px;}
	.g-box > p{font-size:16px; line-height:26px;}
	.g-ceo{right:0;}
	.g-ceo img{max-width:90%; float:right;}
	.g-ceo p{left:-60%;}
	
	.g-overview{width:100%; margin-bottom:20px;}
	.company-img{padding:0;}
	
	/*sub1-2*/
	.h-top-txt{right:20px;}
	.h-top-txt p{font-size:18px;}
	.h-top-txt h2{font-size:32px;}
	
	.history-list, .history-img{width:100%;}
	.history-img li img{width:100%;}
	
	/*sub1-3*/
	/* .chart-ceo::before, .chart-team-wrap::before, .chart-team::before{width:0;} */
	.chart-ceo{margin:0 auto 20px;}
	
}

@media all and (max-width:525px){
	.g-box{background-position:220% 0; padding:20px 0 100px 20px;}
	.g-box::before{border-top:20px solid #fff; border-right:20px solid transparent;}
	.g-box h2, .g-box > p{width:50%;}
	.g-ceo img{width:75%;}
	.g-ceo p{bottom:20px; left:-20%;}
	.g-ceo .sign{display:block; text-align:right;}
	
	.basic-table-v th, .basic-table-v td{display:block;}
	
	.history-wrap{padding:20px;}
	.history-table th, .history-table td{width:100%; display:block;}
	.history-table th{padding:15px 0;}
	
	.chart-team-wrap::before{width:0;}
	.chart-ceo::before, .chart-team::before{width:1px;}
	.team-title{padding:20px 0 0;}
	.chart-team ul li:last-child{margin-bottom:0;}
}

@media all and (max-width:360px){
	
}