@charset "utf-8";


/*====================
 / gallery-slider 01 /
======================*/
.gallery-slider01{width:100%; position:relative; transition:all 0.4s; overflow:visible; margin:30px auto; width:100%; max-width:1400px;}

.gallery-slider01 .slick-arrow{opacity:0; transition:all 0.4s !important;}
.gallery-slider01 .slick-list{overflow:visible !important; width:1400px; margin:0 -50px !important;}
.gallery-slider01 .slick-prev, .gallery-slider01 .slick-next{width:50px !important; height:50px !important; background:#5e5852 !important; z-index:10; top:50% !important; transition:all 0.4s; transform:translate(0, -50%);}
.gallery-slider01 .slick-prev::before, .gallery-slider01 .slick-next::before{transition:all 0.4s;}
.gallery-slider01 .slick-prev{left:5px !important;}
.gallery-slider01 .slick-next{right:5px !important;}

.gallery-slider01 .gallery-box{margin:0 30px;}
.gallery-slider01 .gallery-img{width:100%; min-height:360px; background-size:cover !important; background-position:center !important;}




/*====================
 / banner-slider /
======================*/
.banner-slider{width:100%; position:relative; transition:all 0.4s;/*  overflow:visible; */ margin:60px auto; width:100%; max-width:1200px; overflow:hidden;}

.banner-slider .slick-arrow{opacity:0; transition:all 0.4s !important;}
.banner-slider .slick-list{/* overflow:visible !important;  */width:1160px; margin:0 20px !important;}
.banner-slider .slick-prev, .banner-slider .slick-next{width:50px !important; height:50px !important; background:#171c61 !important; z-index:10; top:50% !important; transition:all 0.4s; transform:translate(0, -50%);}
.banner-slider .slick-prev::before, .banner-slider .slick-next::before{transition:all 0.4s; font-family:'xeicon'}
.banner-slider .slick-prev::before{content: "\e908";}
.banner-slider .slick-next::before{content: "\e90b";}
.banner-slider .slick-prev{left:0 !important;}
.banner-slider .slick-next{right:0 !important;}


/* .banner-slider .gallery-img{width:100%; min-height:120px; background:#fff; position:relative; border:1px solid #eee; box-sizing:border-box;}
.banner-slider .gallery-img img{max-width:100%; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);} */
/*
.banner-slider .gallery-box{margin:0 6px;} 
.banner-slider .gallery-img{background:#fff; border:1px solid #eee; box-sizing:border-box;}
.banner-slider .gallery-img img{max-width:100%; display:block; margin:35px auto;}
 */

 .banner-slider .gallery-img > div{/* width:100%; max-width:280px;  */height:120px; background-color:#fff !important; background-position:center center !important; border:1px solid #eee; box-sizing:border-box; margin:0 5px; background-size:90% !important;}





@media all and (max-width:1199px){
	.gallery-slider01 .slick-list{width:100%; padding:0 30px !important; margin:0 -30px !important;}
	.banner-slider .slick-list{width:95%; margin:0 2.5% !important;}
	/* .banner-slider .gallery-img{max-width:95%; margin:0 2.5%;} */
}

@media all and (max-width:767px){
	.gallery-slider01 .gallery-box{margin:0 15px;}
	.banner-slider{margin:40px auto;}
	/* .banner-slider .slick-list{width:90%; margin:0 5% !important;} */
}

@media all and (max-width:525px){
	.gallery-slider01 .gallery-img{min-height:280px;}
}

@media all and (max-width:360px){
	
}