@charset "utf-8";
/* CSS Document */
/* @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); */

/* body{margin:0; padding:0; font-family: 'Noto Sans KR', sans-serif;} */
img{border:0;}
li{list-style:none;}
a{text-decoration:none;}

/* button */
/* .button{padding:5px 30px; background:#ddd; border:1px solid #ccc; color:#666; text-align:center; display:inline-block; font-size:0.8em; border-radius:1px; margin:0 5px;}
.caution{background:#999; color:#fff;}
.button:hover{background:#222a7a; color:#fff;} */
.button{padding:10px 30px; background:#555; border:1px solid #555; color:#fff; text-align:center; display:inline-block; /* font-size:0.8em; */ border-radius:1px; margin:0 5px; font-size:14px; font-family:"Lato", "Noto Sans KR", sans-serif; transition:all 0.4s;}
.caution{background:#999; color:#fff;}
.button:hover{background:#333; border-color:#333;}
@media(max-width:768px){
	.button{padding:5px 10px;}
	
}
