@charset "utf-8";

.menu > ul > li > a, .lang ul li a{color:#fff;}

#header.fixed{background:#fff; height:80px; border-bottom:1px solid #eee;}
#header.fixed .logo{left:20px; bottom:10px;}
#header.fixed .logo img{max-width:160px;}

#header.fixed .menu > ul{padding-top:0;}
#header.fixed .menu > ul > li > a{line-height:80px;}
#header.fixed .menu > ul > li > a, #header.fixed .lang ul li a{color:#222;}

#header.fixed .sub-menu{top:50px;}
#header.fixed .sub-menu.active{top:80px;}

 #header.fixed .lang{top:30px; right:20px;}


/* sub-top */
#sub-top{width:100%; position:relative; transition:all 0.4s; overflow:hidden;}
.sub-top1{background:url(../../images/theme/sub/sub-top01.jpg)no-repeat;}
.sub-top2{background:url(../../images/theme/sub/sub-top02.jpg)no-repeat;}
.sub-top3{background:url(../../images/theme/sub/sub-top03.jpg)no-repeat;}
.sub-top4{background:url(../../images/theme/sub/sub-top04.jpg)no-repeat;}
.sub-top5{background:url(../../images/theme/sub/sub-top05.jpg)no-repeat;}
.sub-top-bg{transform:scale(1.08) rotate(0.1deg); transition:transform 5s linear, height 0.4s; background-size:cover; background-position:center center; height:600px;}
.sub-top-bg.active{transform:scale(1) rotate(0deg);}

#sub-top .s-top-title{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); text-align:center; width:90%;}
#sub-top .s-top-title h1{font-size:48px; color:#fff;/*  opacity:0.95; */ font-weight:700; letter-spacing:0.05em; position:relative; padding-top:25px;/*  transition:all 0.4s; */}


/*sub-nav*/
#sub-nav{width:100%; border-bottom:1px solid #eee; box-sizing:border-box; height:60px; box-sizing:border-box;}
#sub-nav > ul{display:block; width:100%; max-width:1200px; margin:0 auto;}
#sub-nav > ul > li{border-right:1px solid #eee; box-sizing:border-box; float:left; position:relative;}
#sub-nav > ul > li:not(.nav-home){width:100%; max-width:270px;}
#sub-nav > ul > li:not(.nav-home) > a{padding:0 25px; line-height:60px; font-size:16px; color:#444; font-weight:400; position:relative; display:block; cursor:pointer;}
#sub-nav > ul > li:not(.nav-home) > a:before{content: "\e938"; font-family: 'xeicon'; font-size:18px; position:absolute; top:0; right:25px; color:#aaa; opacity:0.8; transition:all 0.4s;}
#sub-nav > ul > li.nav-active > a:before{transform:rotate(180deg);}
.nav-home{width:60px; text-align:center; border-left:1px solid #eee;}
.nav-home a{font-size:24px; color:#00633d; padding:0; display:block; line-height:60px;}
.nav-2depth > a{background:#00633d; color:#fff !important;}
.nav-2depth > a:before{color:#fff !important;}
#sub-nav .nav-menu ul{display:none; position:absolute; z-index:200; background:#fff; box-shadow:15px 20px 29px 0 rgba(0,0,0,0.13); width:100%; margin-top:-1px;}
#sub-nav .nav-menu ul li{border-top:1px solid #eee; box-sizing:border-box;}
#sub-nav .nav-menu ul li a{font-size:16px; color:#555; font-weight:400; line-height:1.65; padding:15px 25px; box-sizing:border-box; display:block; transition:all 0.4s;}
#sub-nav .nav-menu ul li.selected a, #sub-nav .nav-menu ul li a:hover{background:#00633d; color:#fff;}
#sub-nav .nav-menu.no-nav > a{cursor:default;}
#sub-nav .nav-menu.no-nav > a:before{content:'';}


.s-title{width:100%; text-align:center; margin:120px 0 60px; overflow:hidden;}
.s-title h2{font-size:36px; color:#333;}

.s-section{width:100%; min-height:400px; padding-bottom:180px; overflow:hidden;}
.n-p-b{padding-bottom:0 !important;}
.section-wrap{width:100%; max-width:1200px; margin:0 auto;}
.s-contents{width:100%; margin-bottom:80px; overflow:hidden;}
.small-wrap{width:100%; max-width:900px; margin:0 auto;}

.s-c-title{width:100%; margin-bottom:30px; overflow:hidden;}
.s-c-title h3{font-size:26px; color:#444; font-weight:600;}

.bg-gray{width:100%; padding:80px 0; box-sizing:border-box; overflow:hidden; background:url(../../images/theme/sub/bg.jpg)repeat;}

.basic-list li{font-size:18px; color:#444; font-weight:400; padding:3px 0 3px 14px; position:relative; line-height:1.8;}
.basic-list li:before{content:''; width:3px; height:3px; background:#888; position:absolute; top:18px; left:0;}

.basic-table{width:100%; border-top:2px solid #00633d;}
.basic-table th, .basic-table td{font-size:18px; line-height:1.8; color:#444; padding:15px 20px; border-bottom:1px solid #ddd; text-align:left;}
.basic-table th{font-weight:500;}
.basic-table td{border-left:1px solid #ddd;}

.mw200{min-width:200px;}


/*========================================
	sub1-1 CEO 인사말
==========================================*/
.intro{position:relative; margin-bottom:60px; z-index:10; text-align:right;}
.intro.gr-intro:before{position:absolute; content:''; width:0%; transition:all 1.5s ease-out; height:2px; left:0; top:47%; background:linear-gradient(to right, #a3c512, #00633d);}
.intro.gr-intro.active:before{width:40%;}
.intro h1{font-size:44px; font-family:'Barlow','S-CoreDream-3Light','Noto Sans KR', sans-serif; line-height:1.5; color:#333; transition:all 0.4s;} 
.intro h1 > b{font-size:50px; font-family:'Barlow','S-CoreDream-7ExtraBold','Noto Sans KR', sans-serif; }

.scrollMotion{display:flex; height:560px;} 
.scrollMotion .imgCont{position:relative; width:100%; max-width:1260px;}
.scrollMotion .imgCont .img{position:absolute; top:0; right:0; width:900px; height:100%; overflow:hidden; transition:all 1.5s ease-out;}
.scrollMotion .imgCont .img img{position:absolute; top:0; right:0;}
.scrollMotion:nth-child(even) .imgCont .img{left:0;}
.scrollMotion:nth-child(even) .imgCont .img img{left:0;}
.scrollMotion.active .imgCont .img{width:100%;}

.greetings{overflow:hidden;}
.g-txt-wrap{width:100%; overflow:hidden; margin-top:-200px;}
.g-txt-wrap .txt{width:75%; background:#fff; padding:80px 0 80px 80px; box-sizing:border-box; float:right; position:relative; transition:all 0.4s;}
.g-txt-wrap .txt p, .txt2 p{text-align:justify;}

.namul-video{width:100%;}
.video-wrap video{width:100%; overflow:hidden; margin:0 auto; display:block; background:#555;}
.subtitle{border:1px solid #eee; box-sizing:border-box; transition:all 0.4s;}
.subtitle a{width:100%; padding:25px 40px; font-size:20px; color:#444; font-weight:400; position:relative; display:block; box-sizing:border-box;}
.subtitle a:before{content: "\e941"; font-family: 'xeicon'; font-size:24px; color:#888; font-weight:500; position:absolute; top:30px; right:40px; transition:all 0.4s;}

.subtitle .txt-wrap{height:0; transition:all 0.4s;}
.subtitle .txt{padding:10px 40px 40px; box-sizing:border-box; height:170px;}
.subtitle .txt .inner{width:100%; overflow-x:hidden; overflow-y:auto; max-height:118px;}
.subtitle .txt .inner p{font-size:16px; text-align:justify; padding-right:10px;}
.subtitle .txt .inner::-webkit-scrollbar{width:6px;}
.subtitle .txt .inner::-webkit-scrollbar-thumb{background-color:#e5e5e5; border-radius:50px;}
.subtitle .txt .inner::-webkit-scrollbar-track{background-color:transparent;}

.subtitle.on{background:#fafafa; border-color:transparent;}
.subtitle.on .txt-wrap{height:160px;}
.subtitle.on a:before{transform:rotate(180deg);}

.sign{padding:50px 0; text-align:right;}
.sign h4{font-size:18px; color:#444; font-weight:400;}
.sign h4 > b{padding-left:15px; font-weight:600; font-size:22px; letter-spacing:0.5em; box-sizing:border-box;}



/*========================================
	sub1-2 경영이념 및 비전
==========================================*/
.intro-box{width:100%; padding:40px; box-sizing:border-box; background:#fafafa; text-align:center; margin-bottom:60px; overflow:hidden;}

.ideology{width:100%; margin-bottom:120px; overflow:hidden;}
.diagram{width:100%;}
.ideo-box{width:360px; height:360px; margin:0 auto; padding:20px; box-sizing:border-box; position:relative;}
.ideo-box:before{content:''; width:40px; height:10px; position:absolute; right:-40px; top:50%; transform:translateY(-50%);}
.ideo-box1{background:url(../../images/theme/sub/circle1.png)no-repeat;}
.ideo-box1:before{background:url(../../images/theme/sub/dash1.png)no-repeat;}
.ideo-box2{background:url(../../images/theme/sub/circle2.png)no-repeat;}
.ideo-box2:before{background:url(../../images/theme/sub/dash2.png)no-repeat;}
.ideo-box3{background:url(../../images/theme/sub/circle3.png)no-repeat;}
.ideo-txt{width:100%; min-height:320px; border-radius:50%; background:#fff; box-shadow:10px 10px 20px rgba(0,0,0,0.2); position:relative;}
.ideo-txt .txt{position:absolute; top:50%; left:50%; width:90%; transform:translate(-50%, -50%); text-align:center;}
.ideo-txt .txt img{max-width:100%; display:block; margin:0 auto 25px;}
.ideo-txt .txt h4{font-size:22px; color:#555; font-weight:500;}

.intro-box2{background:#fff; border:1px solid #fafafa; box-sizing:border-box;}

.vision{width:100%; padding-bottom:150px; overflow:hidden;}
.v-box{margin-bottom:50px; overflow:hidden;}
.v-box1{padding-right:80px; box-sizing:border-box;}
.v-box2{margin-top:120px; padding-left:80px; box-sizing:border-box;}
.v-box3{padding-left:60px; box-sizing:border-box; width:100%; max-width:880px;}
.v-box .v-img{width:100%; position:relative; margin-bottom:30px; overflow:hidden;}
.v-box .v-img:before{font-size:120px; color:#fff; font-weight:800; opacity:0.2; position:absolute; left:-5px; bottom:-25px;}
.v-box1 .v-img:before{content:'01';}
.v-box2 .v-img:before{content:'02';}
.v-box3 .v-img:before{content:'03';}
.v-img img{max-width:100%; display:block; border-radius:40px;}
.v-txt{padding:0 20px; box-sizing:border-box;}
.v-txt h3{font-size:26px; color:#444; font-weight:600; margin-bottom:10px;}


/*========================================
	sub1-3 연혁
==========================================*/
#history{width:100%;}

.history-wrap{position:relative; overflow:hidden;}
.history{position:relative; padding-bottom:80px;}
.history:before{position:absolute; content:''; top:0; left:50%; display:block; width:1px; height:100%; background:#eee;}
.history.first-history{padding-top:120px;}
.history.end-history{padding-bottom:53px;}
.history .history-box{width:100%; overflow:hidden; position:relative;}

.history .box-wrap{width:50%; position:relative;}
.history .box-wrap.right{float:right; padding-left:60px; box-sizing:border-box;}
.history .box-wrap.left{float:left; padding-right:60px; box-sizing:border-box;}
.history .box-wrap .year{font-size:48px; font-weight:bold; color:#00633d; margin-bottom:30px; font-style:italic;}
.history .box-wrap.left .year{text-align:right;}
.history .box-wrap.right .year{text-align:left;}

.history .box-wrap .box ul li{position:relative; font-size:18px; line-height:1.8; color:#444;}
.history .box-wrap .box ul li span{position:absolute; font-size:22px; color:#444; font-weight:600; font-style:italic; top:7px;}
.history .box-wrap .box ul li i{color:#888; font-style:normal;}
.history .box-wrap.left .box ul li{padding:10px 70px 10px 0px; text-align:right;}
.history .box-wrap.left .box ul li span{right:0;}
.history .box-wrap.right .box ul li{padding:10px 0px 10px 70px;}
.history .box-wrap.right .box ul li span{left:0;}

.ht-bar{position:absolute; top:0; left:50%; z-index:5;}
.ht-bar .bar{z-index:5; display:block; position:absolute; top:0; left:50%; width:1px; height:0px; background:#00633d; opacity:0.5; transition:height 0.2s linear;}


/* animation-circle */
.circle-box .circle {position:absolute; left:-25px; top:3%; display:flex; justify-content:center; align-items:center; width:50px; height:50px; animation:ani_circle 2s linear infinite; -webkit-animation: ani_circle 2s linear infinite; animation-fill-mode:forwards; -webkit-animation-fill-mode:forwards; transform:scale(0); -webkit-transform:scale(0);}
.circle-box .shape {background:#00633d; border-radius:100px; display:inline-block; box-sizing:border-box;}
.circle-box .circle.n2 {animation-delay:-0.3s; -webkit-animation-delay:-0.3s;}
.circle-box .circle.n3 {animation-delay:-0.5s; -webkit-animation-delay:-0.5s;}
.circle-box .circle.n1 .shape {width:7px; height:7px;}
.circle-box .circle.n2 .shape {width:15px; height:15px; opacity:0.4; filter:alpha(opacity=40); -ms-filter:alpha(opacity=40);}
.circle-box .circle.n3 .shape {width:25px; height:25px; opacity:0.2; filter:alpha(opacity=20); -ms-filter:alpha(opacity=20);}

.history .box-wrap.left .circle-box .circle{left:auto; right:-25px;}
 
@-webkit-keyframes ani_circle {
    0% {transform:scale(0); -webkit-transform:scale(0);}
    50% {transform:scale(1); -webkit-transform:scale(1); opacity: 1; filter: alpha(opacity=100); -ms-filter:alpha(opacity=100);}
	100% {transform:scale(1.5); -webkit-transform:scale(1.5); opacity: 0; filter: alpha(opacity=0); -ms-filter:alpha(opacity=0);}
}
@keyframes ani_circle {
    0% {transform:scale(0); -webkit-transform:scale(0);}
    50% {transform:scale(1); -webkit-transform:scale(1); opacity: 1; filter: alpha(opacity=100); -ms-filter:alpha(opacity=100);}
	100% {transform:scale(1.5); -webkit-transform:scale(1.5); opacity: 0; filter: alpha(opacity=0); -ms-filter:alpha(opacity=0);}
}

.circle-box.aos-animate{transform:none !important;}


/*========================================
	sub1-4 조직도
==========================================*/
.ogz{width:100%; position:relative; margin:40px 0;}
.ogz-row1{position:relative; padding-bottom:60px; box-sizing:border-box;}
.ogz-row1:before{content:''; width:1px; height:90%; background:url(../../images/theme/sub/vline.gif)repeat-y; position:absolute; left:50%; bottom:0; z-index:-1;}
.ceo{width:230px; height:220px; background:#fff url(../../images/theme/sub/ceo-bg.png)no-repeat center; background-size:cover; position:relative; margin:0 auto;}
.ceo h2{font-size:44px; color:#fff; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:calc(100% - 60px); text-align:center;}

.ogz-row2{width:100%; padding:60px 0; box-sizing:border-box; position:relative;}
.ogz-row2:before{content:''; width:80%; height:1px; background:url(../../images/theme/sub/hline.gif)repeat-x; position:absolute; left:10%; top:0; z-index:-1;}
.ogz-group{width:20%; float:left; box-sizing:border-box; padding:0 10px; position:relative;}
.ogz-group:before{content:''; width:1px; height:100%; background:url(../../images/theme/sub/vline.gif)repeat-y; position:absolute; left:50%; top:-60px; z-index:-1;}
.ogz-group2:before{width:0;}
.ogz-big{width:100%; max-width:220px; padding:20px; box-sizing:border-box; background:#fff; border:1px solid #555; margin-bottom:40px; position:relative; text-align:center; border-radius:35px;}
.ogz-big:before{content:''; width:11px; height:11px; background:#555; border-radius:6px; position:absolute; top:-6px; left:50%; transform:translateX(-50%);}
.ogz-big h3{font-size:18px; color:#555; font-weight:500;}


/*========================================
	sub1-6 CI/BI
==========================================*/
.symbol{width:100%; background:url(../../images/theme/sub/grid.gif)repeat; border:1px solid #eee; box-sizing:border-box; text-align:center; padding:79.5px;}
.symbol img{max-width:100%; margin:0 auto; display:block;}
.symbol-txt{width:100%; border:1px solid #eee; box-sizing:border-box; padding:35px 40px; margin-top:-1px;}


/*========================================
	sub1-7 지사 및 오시는길
==========================================*/
.map{width:100%; height:680px; border:1px solid #eee;}
.root_daum_roughmap{width:100% !important; border:0 !important; padding:0 !important; border-radius:0 !important;}

.map-info{padding:60px 0 0 60px; box-sizing:border-box; width:100%; position:relative;}
.map-info h4{font-size:22px; font-weight:400; color:#444;}
.map-info ul{display:block; padding:60px 0;}
.map-info ul li{font-size:22px; color:#444; font-weight:400; line-height:1.8; padding:5px 0 5px 40px; position:relative;}
.map-info ul li i{position:absolute; top:16px; left:0; color:#888; }

.branch{width:100%; background:#fafafa; padding:40px; box-sizing:border-box; min-height:256px;}
.branch h4{font-size:22px; color:#444; font-weight:600; margin-bottom:10px;}



/*========================================
	sub2 제품소개-리스트
==========================================*/
.intro-box3{text-align:left;}
.intro-box3 p{text-align:justify;}
.intro-box .point{text-decoration:underline;}

.product-list{width:100%; overflow:hidden;}
.product-list ul li{width:33.33%; float:left; box-sizing:border-box; margin-bottom:40px;}
.product-list ul li:nth-child(3n-2){padding-right:10px;}
.product-list ul li:nth-child(3n-1){padding:0 5px;}
.product-list ul li:nth-child(3n){padding-left:10px;}
.product-list ul li .product-img{width:100%; height:390px; overflow:hidden; margin-bottom:20px; transition:all 0.4s;}
.product-list ul li .product-img > span{width:100%; height:100%; background-size:cover !important; background-position:center !important; margin-bottom:20px; transform:scale(1) rotate(0deg); transition:transform 0.8s linear; display:block;}
.product-list ul li h4{font-size:20px; text-align:center; color:#444; font-weight:500; transition:all 0.4s;}

.product-list ul li a{transition:all 0.4s; display:block;}
.product-list ul li a:hover .product-img{border-radius:40px;}
.product-list ul li a:hover .product-img > span{transform:scale(1.08) rotate(0.1deg);}
.product-list ul li a:hover h4{color:#00633d;}

/*========================================
	sub2 제품소개-뷰어
==========================================*/
.product-view{width:100%; position:relative; overflow:hidden; padding-bottom:120px;}
.product-view:before{content:''; width:100%; height:80%; background:url(../../images/theme/sub/bg.jpg)repeat; position:absolute; left:0; bottom:0; z-index:-1;}

.p-slider-wrap{width:100%; padding-right:40px; box-sizing:border-box;}
.p-view-img{width:100%; min-height:560px; border:1px solid #eee; box-sizing:border-box; position:relative; background:#fff; background-size:cover !important;}
.p-view-img:before{content:''; width:1px; height:100%; background:#eee; position:absolute; right:0; top:0;}
/* .p-view-img img{max-width:100%; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);} */

.product-view .slider-thumb .slick-track{width:100% !important;}
.product-view .slider-thumb{width:100% !important; display:block;}
.product-view .slider-thumb li{width:25% !important; float:left; box-sizing:border-box; padding:2% 1%;}
.product-view .slider-thumb li:first-child{padding-left:0;}
.product-view .slider-thumb li:last-child{padding-right:0;}
.product-view .thumb-img{width:100%; border:1px solid #eee; box-sizing:border-box; min-height:130px; background-size:cover !important; background-color:#fff !important; background-position:center !important;}

.product-view .slick-arrow{display:none;}

.p-v-top{width:100%; margin-bottom:82px; overflow:hidden;}
.p-v-top h3{font-size:36px; font-weight:500; color:#444; margin-bottom:40px;}
.p-v-top p{text-align:justify;}

.p-detail h4{font-size:25px; color:#444; font-weight:500; margin-bottom:15px;}
.p-table th{text-align:center;}

.product-view .btn-wrap{margin:80px 0; text-align:center;}
.product-view .btn-wrap > a {margin:0 20px;}
.btn-more3{background:#00633d; border-color:#00633d; color:#fff;}


/*========================================
	sub3-1 제조공정
==========================================*/
.process{padding-top:8px;}
.process-list{width:calc(100% - 20px); margin:10px auto;}
.process-inner{text-align:center; height:380px; position:relative; width:100%;}

.process-inner .front, .process-inner .back{width:100%;height:100%; border-radius:20px; border:1px solid #eee; padding:40px; box-sizing:border-box; backface-visibility:hidden; -webkit-backface-visibility:hidden;
-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.process-inner .front{background:#fff; -webkit-transform: rotateY(0deg); transform: rotateY(0deg); position:relative;}
.process-inner .back{position:absolute;top:0;left:0;background:#0070c0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  }
.process-inner:hover .front, .process-inner:hover .back{-webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
 transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
   transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.process-inner:hover .front{-webkit-transform: rotateY(-180deg); transform: rotateY(-180deg);}
  .process-inner:hover .back{-webkit-transform: rotateY(0deg); transform: rotateY(0deg); box-shadow:3px 5px 8px rgba(0, 0, 0, 0.1);}

.process-inner .number, .number{font-size:18px; line-height:1; color:#00633d; font-weight:normal; display:block; text-align:left; cursor:default;}
.process-inner .cont{position:absolute; width:90%; top:50%; left:50%; transform:translate(-50%, -50%); cursor:default;}
.process-inner img{margin:0 auto 25px; display:block; max-width:100%;}
.process-inner h4{font-size:22px; font-weight:500; color:#555; line-height:1.8; }

.process-inner p{font-size:18px; font-weight:400; color:#555; line-height:1.8;}

.process-inner .back{background-size:cover !important; background-position:center !important; width:100%; height:100%;}
.process-inner .back .number{color:#fff; opacity:0.6;}
.process-inner .back h4{font-size:22px; font-weight:500; color:#fff; position:absolute; left:40px; bottom:40px; width:calc(100% - 40px); text-align:left; cursor:default;}


/*========================================
	sub3-2 품질관리현황
==========================================*/
.quality{width:100%; padding:80px 0; box-sizing:border-box; position:relative;}
.quality:before{content:''; width:100%; height:480px; background:url(../../images/theme/sub/bg.jpg)repeat; position:absolute; left:0; top:0; z-index:-1;}

.q-intro{width:100%; margin-bottom:60px; overflow:hidden;}
.q-intro img{max-width:100%; display:block; margin:0 auto;}
.q-intro h3{font-size:26px; color:#444; line-height:1.8; font-weight:400; padding:30px 0; box-sizing:border-box; text-align:justify;}

.mixedSlider .MS-content .item img{display:block; max-width:100%; margin:0 auto;}
.mixedSlider .MS-controls button{width:47px; height:47px; background:#222;}
.mixedSlider .MS-controls button i{font-size:18px; text-align:center; line-height:47px; color:#fff;}


/*========================================
	sub3-3 유통시스템
==========================================*/
.d-box{width:100%; position:relative; padding:20px 20px 60px; box-sizing:border-box; overflow:hidden;}
.d-img{width:100%; max-width:500px; min-height:360px; background-size:cover !important; background-position:center !important; margin-bottom:80px;}
.d-txt{width:70%; max-width:780px; background:#fff; position:absolute; right:20px; top:80px; z-index:5; padding:60px; box-sizing:border-box; box-shadow:5px 5px 10px rgba(0,0,0,0.05); min-height:360px;}
.d-txt .number{margin-bottom:10px;}
.d-txt h3{font-size:26px; color:#444; font-weight:500; margin-bottom:40px;}

.d-box2 .d-img{float:right;}
.d-box2 .d-txt{right:auto; left:20px;}


@media all and (max-width:1200px){
	.ham .line{background:rgba(255,255,255,0.8);}
	#header.fixed .lang{right:70px;}
	#header.fixed .menu > ul > li > a{line-height:inherit;}
	
	.btn-up-wrap{bottom:20px; right:20px;}
	
	.sub-top-bg{height:400px;}
	#sub-top .s-top-title h1{font-size:38px;}
	
	.basic-list li, .basic-table th, .basic-table td, .process-inner p{font-size:16px;}
	.basic-list li:before{top:16px;}
	
	.g-txt-wrap .txt{padding:60px;}
	
	.history .box-wrap .box ul li{font-size:16px;}
	
	.q-intro h3{font-size:24px;}
	
	.process-inner .number, .number{font-size:16px;}
	
	
	
}

@media all and (max-width:768px){
	#header.fixed .logo{bottom:15px;}
	#header.fixed .logo img{max-width:120px;}
	
	.sub-top-bg{height:320px;}
	#sub-top .s-top-title h1{font-size:32px;}
	
	.s-title{margin:80px 0 50px;}
	.s-title h2{font-size:28px;}
	.s-contents{margin-bottom:40px;}
	
	.s-c-title{margin-bottom:15px;}
	.s-c-title h3{font-size:22px;}
	
	.basic-list li, .basic-table th, .basic-table td, .process-inner p{font-size:14px;}
	.basic-list li:before{top:14px;}
	
	/* 인사말 */
	.intro h1{font-size:32px;}
	.intro h1 > b{font-size:38px;}
	.intro.gr-intro.active:before{width:30%;}
	.g-txt-wrap{margin-top:-100px;}
	.g-txt-wrap .txt{width:90%; padding:40px;}
	.subtitle a{font-size:16px; padding:15px 25px;}
	.subtitle a:before{font-size:18px; top:18px; right:25px;}
	.subtitle .txt{padding:10px 25px 30px;}
	.subtitle .txt .inner p{font-size:14px;}
	.sign h4{font-size:15px;}
	.sign h4 > b{font-size:18px;}
	
	/* 경영이념 및 비전 */
	.ideology{padding-bottom:60px; margin-bottom:0;}
	.intro-box{margin-bottom:30px; padding:25px;}
	.ideo-box{width:260px; height:260px; margin:20px auto; background-size:contain !important;}
	.ideo-box:before{right:auto; top:auto; bottom:-25px; left:50%; transform:translateX(-50%) rotate(90deg);}
	.ideo-txt{min-height:220px;}
	.ideo-txt .txt img{max-width:60px; margin:0 auto 15px;}
	.ideo-txt .txt h4{font-size:18px;}
	.vision{padding-bottom:60px;}
	.v-box1{padding-right:10px;}
	.v-box2{padding-left:10px; margin-top:60px;}
	.v-box3{padding:0;}
	.v-txt h3{font-size:20px;}
	
	/* 연혁 */
	.history.first-history{padding-top:60px;}
	.history{padding-bottom:60px;}
	.ht-bar{left:20px;}
	.ht-bar .bar{left:0;}
	.history:before{left:20px;}
	.history .history-box{padding:0 20px; box-sizing:border-box;}
	.history .box-wrap{width:100%; padding-right:0 !important; padding-left:40px !important;}
	.circle-box .circle{top:0; right:auto !important; left:-25px !important;}
	.history .box-wrap .year{font-size:38px; text-align:left !important; margin-bottom:20px;}
	.history .box-wrap .box ul li{font-size:14px; padding:10px 0px 10px 55px !important; text-align:left !important;}
	.history .box-wrap .box ul li span{font-size:18px; top:5px; left:0 !important; right:auto !important;}
	
	/* 조직도 */
	.ogz-row1{padding-bottom:0;}
	.ceo h2{font-size:36px;}
	.ogz-row2:before{width:0;}
	.ogz-group{width:100%;}
	.ogz-big{max-width:50%; margin:20px auto;}
	.ogz-big h3{font-size:16px;}
	
	/* CI/BI */
	.symbol-txt{padding:25px 30px;}
	
	/* 지사 및 오시는길 */
	.map{height:360px;}
	.map-info{padding:40px 0 0;}
	.map-info h4, .branch h4{font-size:18px;}
	.map-info ul{padding:30px 0;}
	.map-info ul li{font-size:16px; padding:5px 0 5px 25px;}
	.map-info ul li i{top:12px;}
	.branch{padding:25px 30px; min-height:auto;}
	
	/* 제품소개 리스트 */
	.product-list ul li{width:50%; padding:0 !important;}
	.product-list ul li:nth-child(2n-1){padding-right:5px !important;}
	.product-list ul li:nth-child(2n){padding-left:5px !important;}
	.product-list ul li .product-img{height:280px;}
	.product-list ul li h4{font-size:16px;}
	
	.product-view:before{height:80%;}
	.p-slider-wrap{padding-right:0; margin-bottom:20px;}
	.p-view-img{min-height:450px;}
	.p-v-top{margin-bottom:0;}
	.p-v-top h3{font-size:26px; margin-bottom:20px;}
	.p-v-top p{margin-bottom:40px;}
	.p-detail h4{font-size:20px;}
	.product-view .btn-wrap{margin:40px 0 0;}
	.product-view .btn-wrap > a{margin:0 10px;}
	
	/* 생산공정도 */
	.process-inner img{max-width:80px; margin:0 auto 15px;}
	.process-inner h4, .process-inner .back h4{font-size:18px;}
	
	/* 품질관리현황 */
	.quality{padding:40px 0;}
	.quality:before{height:575px;}
	.q-intro h3{font-size:18px;}
	.mixedSlider .MS-content .item{width:50% !important;}
	
	/* 유통시스템 */
	.d-box{padding:0; margin-bottom:20px;}
	.d-img{min-height:260px; margin-bottom:0; max-width:100%; float:none !important;}
	.d-txt{position:static; width:100%; box-shadow:none; border:1px solid #eee; padding:25px 30px; min-height:auto;}
	.d-txt h3{font-size:22px; margin-bottom:20px;}
	.process-inner .number, .number{font-size:14px;}
	
	/* 요리정보 */
}


@media all and (max-width:525px){
	.nav-home a{font-size:20px;}
	#sub-nav > ul > li:not(.nav-home){max-width:calc(100% - 60px); border-right:0;}
	#sub-nav > ul > li:not(.nav-home) > a, #sub-nav .nav-menu ul li a{font-size:15px;}
	
	.basic-table th, .basic-table td{display:block;}
	.basic-table th{text-align:center;}
	.basic-table td{border-left:0;}
	
	.intro.gr-intro.active:before{width:0;}
	.intro h1{font-size:22px;}
	.intro h1 > b{font-size:26px;}
	.scrollMotion{height:auto;}
	.scrollMotion .imgCont .img, .scrollMotion .imgCont .img img{width:100%; position:static;}
	.g-txt-wrap{margin-top:0;}
	.g-txt-wrap .txt{width:100%; padding:40px 2.5%;}
	
	.v-box{padding:0 !important; margin:20px auto !important;}
	
	.history .box-wrap .box ul li > i{display:block;}
	
	.ogz-big{max-width:80%;}
	
	.product-view .thumb-img{min-height:80px;}
	
	.q-intro{margin-bottom:0;}
	.mixedSlider .MS-content .item{width:100% !important;}
	
	
}

@media all and (max-width:360px){
	.product-list ul li{width:100%; padding:0 !important;}
	
	
}
