@charset "utf-8";

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-7ExtraBold';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

/* 
body{position:relative;}
.skip a{position:absolute; background:#00633d; width:100%; height:30px; color:#fff; z-index:100; line-height:30px; top:-30px; opacity:0; text-align:center;}
  */
 
#header{width:100%; height:100px; padding:0 50px; box-sizing:border-box; position:fixed; top:0; left:0; z-index:999; transition:all 0.4s;}
.logo{position:absolute; bottom:0; left:50px;}
.logo img{max-width:100%; display:inline-block;}

.menu{width:100%; max-width:1200px; margin:0 auto;}
.menu > ul{text-align:center; padding-top:20px;}
.menu > ul > li{display:inline-table; margin:0 30px; position:relative; cursor:default;}
.menu > ul > li > a{font-size:18px; color:#222; font-weight:400; padding:10px; box-sizing:border-box; line-height:100px;}
.icon-shop{display:inline-block; vertical-align:middle;}

.sub-menu{position:absolute; opacity:0; top:70px; left:-50px; width:100%; padding:10px; background:#fff; box-shadow:15px 20px 29px 0 rgba(0,0,0,0.23); transition:all 0.6s ease-out; transition-property:opacity, top, visibility; transition-delay:0s, 0s, 0s; min-width:160px;}
.sub-menu3{left:-22px;}
.sub-menu.active{opacity:0.95; top:90px; z-index:800;}
.sub-menu > li > a{display:block; position:relative; padding:11px; background:#fff; font-size:16px; color:#555; font-weight:500; opacity:0.9; box-sizing:border-box; text-align:left; transition:all 0.3s ease 0s;}
.sub-menu > li > a:hover{color:#00633d; opacity:1;}
.sub-menu > li > a > span{position:relative;;}
.sub-menu > li > a > span:before{content:''; width:100%; height:1px; background:#00633d; position:absolute; bottom:0; left:0; transition:all 0.3s; opacity:0;}
.sub-menu > li > a:hover span:before{opacity:1;}

.lang{position:absolute; top:60px; right:50px;}
.lang ul li{float:left; padding:0 8px; box-sizing:border-box; position:relative;}
.lang ul li:last-child:before{content:''; width:1px; height:10px; background:#aaa; position:absolute; top:6px; left:0; opacity:0.5;}
.lang ul li a{font-size:15px; color:#444; opacity:0.6; padding:2px; box-sizing:border-box;}
.lang ul li.selected a{opacity:1; text-decoration:underline;}

.btn-more{font-size:15px; color:#555; padding:20px; box-sizing:border-box; border:1px solid #888; text-align:center; width:100%; max-width:180px; display:inline-block; position:relative; transition:all 0.4s; overflow:hidden;}
.btn-more:before{content:''; z-index:-1; background:#00633d; transition:all 0.8s; position:absolute; left:0; top:0; width:0; height:100%; border-bottom-right-radius:50%; border-top-right-radius:50%;}
.btn-more:hover{border-color:#00633d; color:#fff;}
.btn-more:hover:before{width:200%;}

.btn-more2{color:#fff; border-color:#eee;}




/*btn-fixed*/
.btn-up-wrap{position:fixed; right:50px; bottom:50px; z-index:999; transition:all 0.4s;}
.btn-up{transition:all 0.4s; width:50px; height:50px; border:2px solid #eee; text-align:center; cursor:pointer; color:#ccc; box-sizing:border-box; display:block; font-size:22px; line-height:46px; border-radius:25px; opacity:0.8;}
.btn-up:hover{color:#00633d; border-color:#00633d; opacity:1;}







footer{width:100%; padding:80px 50px; box-sizing:border-box; background:#fafafa; overflow:hidden; position:relative;}
.ft-info{width:calc(100% - 310px);}
.etc{width:100%; overflow:hidden; margin-bottom:40px;}
.etc li{float:left; margin-right:20px; box-sizing:border-box;}
.etc li:last-child, .company-info li:last-child, .ft-mark li:last-child, .sns ul li:last-child{margin-right:0;}
.etc li a{font-size:16px; line-height:1.65; color:#555; font-weight:500; position:relative; transition:all 0.4s;}
.company-info{width:100%; overflow:hidden; margin-bottom:5px;}
.company-info li{font-size:15px; line-height:1.65; color:#555; float:left; margin-right:30px;}
.company-info li > b{font-family:'Barlow','S-CoreDream-7ExtraBold','Noto Sans KR', sans-serif;}
.ft-info p{font-size:15px; margin-bottom:40px;}
.ft-mark li{float:left; margin-right:20px;}
.ft-mark li img{max-width:100%; display:block;}

.ft-quick{width:100%; max-width:310px; position:absolute; top:80px; right:50px;}
.go-shop{display:block; padding:20px; box-sizing:border-box; position:relative; border-bottom:1px solid #888; font-size:18px; color:#555; font-weight:500; transition:all 0.4s; margin-bottom:10px;}
.go-shop:before{content: "\e913"; font-family: 'xeicon'; color:#555; position:absolute; top:25px; right:20px; transition:all 0.4s;}
.go-shop:after{content:''; width:0; height:1px; background:#00633d; position:absolute; left:0; bottom:-1px; transition:all 0.4s;}
.go-shop:hover{color:#00633d;}
.go-shop:hover:before{transform:rotate(90deg); color:#00633d;}
.go-shop:hover:after{width:100%;}

.sns ul{display:block; float:right;}
.sns ul li{float:left; margin-right:15px;}
.sns ul li a{font-size:15px; color:#888; font-weight:500; position:relative; transition:all 0.4s;}
.sns ul li a:before, .etc li a:before{content:''; width:0; height:1px; background:#00633d; position:absolute; left:0; bottom:0; transition:all 0.4s;}
.sns ul li a:hover, .etc li a:hover{color:#00633d;}
.sns ul li a:hover:before, .etc li a:hover:before{width:100%;}



























@media all and (max-width:1299px){
	.logo{left:20px;}
	.lang{right:10px;}
	.menu > ul > li{margin:0 15px;}
	.menu > ul > li > a{font-size:16px;}
	
	
}

@media all and (max-width:1200px){
	.ham{padding:12px; box-sizing:border-box; display:inline-block; position:absolute; top:10px; right:20px; transition:all 0.4s;}
	.ham .line{display:block; width:24px; height:2px; background:rgba(0,0,0,0.6); margin:7px auto; transition:all 0.4s;}
	.ham.active .line, #header.fixed .ham .line{background:#231815;}
	.ham.active .line1{transform:translateY(9px) rotate(45deg);}
	.ham.active .line2{opacity:0;}
	.ham.active .line3{transform:translateY(-9px) rotate(-45deg);}
	
	#header{height:80px;}
	.logo{left:20px; bottom:10px;}
	.logo img{max-width:160px;}
	.lang{display:none;}
	
	#header .m-menu{width:100%; display:block; height:100%; background:#fcfcfc; position:fixed; top:0; right:-100%; padding-top:80px; box-sizing:border-box; transition:all 0.4s; visibility:hidden; overflow-y:scroll;}
	#header .m-menu.on{right:0; visibility:visible;}
	
	#header .menu > ul{padding-top:0;}
	#header .menu > ul > li{text-align:left; display:block; border-top:1px solid #eee; padding:0; margin:0;}
	#header .menu > ul > li:last-child{border-bottom:1px solid #eee;}
	#header .menu > ul > li > a{font-size:16px; color:#555; line-height:26px; padding:15px 20px; display:block;}
		
	#header .sub-menu{position:static; background:rgba(0,0,0,0.02); overflow:hidden; transition:none; opacity:1; display:none; top:0; right:0; box-shadow:none; padding:0; box-sizing:border-box;}
	#header .sub-menu li{float:none;}
	#header .sub-menu li > a{font-size:14px; padding:10px 35px; line-height:1.65; display:block; position:relative; background:none;}
	#header .sub-menu li > a:before{content:''; width:5px; height:1px; background:#aaa; position:absolute; top:50%; left:20px;}
	
	.lang.on{display:block; top:30px; right:70px;}
	.lang.on ul li a {color:#555 !important;}
	
}

@media all and (max-width:860px){
	footer{padding:60px 40px;}
	.ft-info{width:100%;}
	.etc{margin-bottom:20px;}
	.etc li a{font-size:14px;}
	.company-info li{font-size:14px;}
	.ft-info p{font-size:14px; margin-bottom:30px;}
	
	.ft-quick{position:static; float:right;}
	.go-shop{font-size:15px; padding:15px;}
	.go-shop:before{top:20px;}
	.sns ul li a{font-size:14px;}
	
}

@media all and (max-width:768px){
	.logo{bottom:15px;}
	.logo img{max-width:120px;}
	
	.btn-more{padding:15px; font-size:14px;}
	
	
}

@media all and (max-width:525px){
	.ham{right:10px;}
	.btn-more{font-size:13px; padding:12px; max-width:140px;}
	
	footer{padding:40px 20px;}
	
	.ft-mark{margin-bottom:20px; overflow:hidden;}
	.ft-quick{max-width:100%;}
}

@media all and (max-width:360px){
	
}