@charset "utf-8";

.section-wrap{width:100%; height:100%; max-width:1200px; margin:0 auto; position:relative;}

/*button*/
.button--nina{position:relative;}
.button--nina i{font-style:normal; position:absolute; transition:all 0.4s; width:100%; left:50%; top:50%; transform:translate(-50%, -50%); text-align:center;}

.btn-line{font-size:14px; color:#fff; padding:15px 40px; box-sizing:border-box; border:1px solid #fff; font-weight:300; opacity:0.8; transition:all 0.4s; display:inline-block; letter-spacing:0.1em;}
.btn-line:hover{background:#fff; opacity:1;}
.btn-line:hover i{opacity:0;}

.btn-line2{color:#666; border-color:#888; opacity:0.6;}
.btn-line2:hover{border-color:#4583c5;}




/*====================
	section0 - ABOUT
======================*/
.bg-video{position: absolute; right: 0; bottom: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -100; background:url(../../images/theme/main/main-bg.jpg)no-repeat; background-size: cover;}

.about{width:100%; height:100%; background:rgba(26,66,109,0.2);}
.about-txt{position:absolute; top:50%; left:0; transform:translate(0, -50%); transition:all 0.4s;}
.about-txt h2, .about-txt h1, .about-txt p{color:#fff; opacity:0.85;}

.about-txt h1{font-size:40px;}
.about-txt p{font-size:18px; margin:50px 0;}

.right#fp-nav{right:71px; z-index:1000;}
#fp-nav{margin-top:0 !important;; transform:translate(0, -50%);}
#fp-nav ul li, .fp-slidesNav ul li{width:25px; height:25px; margin:17.5px;}
#fp-nav ul li a span, .fp-slidesNav ul li a span{width:5px; height:5px; background:rgba(255,255,255,0.8); left:50%; top:50%; transform:translate(-50%, -50%); margin:0;}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{width:5px; height:5px; margin:0; border-radius:50%; left:50%; top:50%; transform:translate(-50%, -50%); background:#fff;}
#fp-nav ul li a.active, .fp-slidesNav ul li a.active, #fp-nav ul li:hover a.active, .fp-slidesNav ul li:hover a.active{position:relative;}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{width:5px; height:5px; background:#fff; left:50%; top:50%; transform:translate(-50%, -50%); margin:0;}
#fp-nav ul li a:before, .fp-slidesNav ul li a:before,  #fp-nav ul li:hover a:before, .fp-slidesNav ul li:hover a:before{content:''; width:25px; height:25px; margin:0; border-radius:50%; border:1px solid rgba(255,255,255,0.6); position:absolute; left:-1px; top:-1px; opacity:0;}
#fp-nav ul li a.active:before, .fp-slidesNav ul li a.active:before,  #fp-nav ul li:hover a.active:before, .fp-slidesNav ul li:hover a.active:before{-webkit-animation: ball-scale-multiple 1s 0s linear infinite; animation: ball-scale-multiple 1s 0s linear infinite;}
/* #fp-nav ul li a.active:before, .fp-slidesNav ul li a.active:before,  #fp-nav ul li:hover a.active:before, .fp-slidesNav ul li:hover a.active:before{content:''; width:25px; height:25px; margin:0; border-radius:50%; border:1px solid rgba(255,255,255,0.6); position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); -webkit-animation: ball-scale-multiple 1s 0s linear infinite; animation: ball-scale-multiple 1s 0s linear infinite;} */
#fp-nav.right.right ul li:last-child, .fp-slidesNav ul li:last-child{display:none !important;}


/* circle 애니메이션 css */
.ball-scale-multiple {position: relative; opacity:0;filter:Alpha(opacity=0);
	-moz-transition:all 0.7s, opacity 1.0s;
	-ms-transition:all 0.7s, opacity 1.0s;
	-webkit-transition:all 0.7s, opacity 1.0s;
	-o-transition:all 0.7s, opacity 1.0s;
	transition:all 0.7s, opacity 1.0s;
}
.ball-scale-multiple > div:nth-child(2) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s; 
}
.ball-scale-multiple > div {
    border-radius: 50%;
    position: absolute;
    top: -3px;
	left:-3px;
    opacity: 0;
    margin: 0;
    width: 74px;
    height: 74px;
	border:3px solid #1a978e;
	background-color: #1a978e;
    -webkit-animation: ball-scale-multiple 3s 0s linear infinite;
    animation: ball-scale-multiple 3s 0s linear infinite;
}

@keyframes ball-scale-multiple {
	0% {
		-webkit-transform: scale(0.33);
        transform: scale(0.33);
		opacity: 0.3; 
	}
	5% {
		opacity: 0.8; 
	}
	100% {
		-webkit-transform: scale(1);
        transform: scale(1);
		opacity: 0; 
	}  
}

@-webkit-keyframes ball-scale-multiple {
	0% {
		-webkit-transform: scale(0.33);
        transform: scale(0.33);
		opacity: 0.3; 
	}
	5% {
		opacity: 0.8; 
	}
	100% {
		-webkit-transform: scale(1);
        transform: scale(1);
		opacity: 0; 
	}  
}
/* #fp-nav ul li .fp-tooltip.right{right:40px;} */
#fp-nav ul li .fp-tooltip{top:50%; transform:translate(0, -50%); font-family:'Montserrat', 'Noto Sans KR', sans-serif; width:auto; opacity:0.6; padding-right:20px;}
#fp-nav ul li a.active + .fp-tooltip{opacity:1;}

/*================================
	section1 - PRODUCT
==================================*/
#section1{width:100%; height:100%;/*  pointer-events:none; */}
/* .product-txt-wrap{float:right;} */
.pro-img{width:100%; height:100vh; background-size:cover !important; background-position:center !important;}
.pro-txt{position:absolute; top:50%; transform:translateY(-50%); width:50%; max-width:600px; padding-left:60px; box-sizing:border-box;}
.pro-txt h4{font-size:18px; color:#4583c5; font-weight:500; margin-bottom:5px;}
.pro-txt h2{font-size:32px; color:#333; font-weight:800; margin-bottom:40px;}
.pro-txt p{text-align:justify; margin-bottom:60px;}

.slick-arrow{display:none;}

.slider-thumb{position:absolute; right:calc(50% - 600px); z-index:100; bottom:100px;}
.slider-thumb .slick-list{overflow:visible;}
.slider-thumb .slick-list .slick-track{width:auto !important;}
.slider-thumb .thumb-box{width:160px !important; margin:0 5px; transition:all 0.4s;}
.thumb-img{width:160px; height:95px; background-size:cover !important; background-position:center !important; transition:all 0.4s;}
.slider-thumb .thumb-box.slick-current .thumb-img{border:3px solid #4583c5; box-sizing:border-box;}


/*=================================
	section2 - SOLUTION
===================================*/
.s-title{text-align:center; margin-bottom:40px; overflow:hidden;}
.s-title h1{font-size:32px; font-weight:400; color:#333;}

#section2{width:100%; background:#f8f8f8;}
.s-box{width:calc(100% - 20px); margin:10px; box-sizing:border-box;}
.s-box a{position:relative; display:block; overflow:hidden;}
.s-img{width:100%; min-height:260px; box-sizing:border-box; overflow:hidden;}
.s-img span{height:100%; min-height:260px; background-size:cover !important; background-position:center !important; transition:all 1.5s ease-out; transform:scale(1.0); display:block;}
.s-txt{width:100%; padding:30px; box-sizing:border-box; background:#fff; min-height:270px;}
.s-txt h3{font-size:22px; font-weight:700; color:#333; margin-bottom:10px; letter-spacing:-0.02em;}
.s-txt p{text-align:justify;}

.s-box a:hover{z-index:2;}
.s-box a:hover .s-img span{transform:scale(1.1);}

.s-box a span.bdT{position: absolute; top:0;left:0;width:0;height:2px; background-color: #4583c5;}
.s-box a span.bdL{position: absolute;left:0;bottom:0;height:0;width:2px; background: #4583c5;}
.s-box a span.bdB{position: absolute;bottom:0;right:0;width:0;height:2px; background-color: #4583c5;}
.s-box a span.bdR{position: absolute;top:0;right:0;height:0;width:2px; background: #4583c5;}
.s-box a:hover span.bdT{width:100%;transition: all 0.35s linear;-webkit-transition: all 0.35s linear;}
.s-box a:hover span.bdL{height:100%; transition: all 0.35s .35s linear;-webkit-transition: all 0.35s .35s linear;}
.s-box a:hover span.bdB{width:100%;transition: all 0.35s linear;-webkit-transition: all 0.35s linear;}
.s-box a:hover span.bdR{height:100%; transition: all 0.35s .35s linear;-webkit-transition: all 0.35s .35s linear;}



/*=================================
	section3 - PROJECT
===================================*/
#section3{width:100%; background:url(../../images/theme/main/section4.jpg)no-repeat; background-size:cover; background-position:center;}
.project-list{width:100%; margin-bottom:30px; overflow:hidden;}
.project-box{width:calc(50% - 10px); float:left; box-sizing:border-box; margin:10px 0;}
.project-box:nth-child(2n-1){margin-right:10px;}
.project-box:nth-child(2n){margin-left:10px;}
.project-box a{border:1px solid #ccc; padding:20px; box-sizing:border-box; background:#fff; display:block; position:relative; overflow:hidden; transition:all 0.45s;}
.project-box h4{font-size:18px; font-weight:400; color:#444; margin-bottom:5px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.project-box p{font-size:14px; color:#888;}

.project-box a:hover{z-index:2; border-color:#fff;}
.project-box a span.bdT {position: absolute; top:0;left:0;width:0;height:1px; background-color: #4583c5;}
.project-box a span.bdL {position: absolute;left:0;bottom:0;height:0;width:1px; background: #4583c5;}
.project-box a span.bdB {position: absolute;bottom:0;right:0;width:0;height:1px; background-color: #4583c5;}
.project-box a span.bdR {position: absolute;top:0;right:0;height:0;width:1px; background: #4583c5;}
.project-box a:hover span.bdT	{width:100%;transition: all 0.35s linear;-webkit-transition: all 0.35s linear;}
.project-box a:hover span.bdL	{height:100%; transition: all 0.35s .35s linear;-webkit-transition: all 0.35s .35s linear;}
.project-box a:hover span.bdB {width:100%;transition: all 0.35s linear;-webkit-transition: all 0.35s linear;}
.project-box a:hover span.bdR {height:100%; transition: all 0.35s .35s linear;-webkit-transition: all 0.35s .35s linear;}


.btn-wrap{text-align:center;}



@media all and (max-width:1199px){
	#fp-nav{display:none !important;}
	
	.about-txt h1{font-size:28px;}
	.about-txt{padding:0 10px; box-sizing:border-box;}
	
	.pro-txt{padding:0 40px;}
	.slider-thumb{right:40px;}
	/* .slider-thumb .slick-list .slick-track{width:100% !important;} */
	.slider-thumb .thumb-box{width:auto !important;}
	.thumb-img{width:120px; height:75px;}
}

@media all and (max-width:767px){	
	.btn-line{font-size:13px;}
	.fp-section{height:auto !important;}
	#section2, #section3{padding:60px 0; box-sizing:border-box;}
	
	.about-txt{padding:0 2.5%;}
	.about-txt p{font-size:14px; margin:30px 0;}
	
	.pro-img{height:50vh; margin-bottom:40px; min-height:410px;}
	.pro-txt{position:static; transform:none; width:100%; margin-bottom:40px; max-width:100%;}
	.pro-txt h2{margin-bottom:30px;}
	.pro-txt p{margin-bottom:40px;}
	
	.slick-arrow{display:block;}
	.slick-prev, .slick-next{width:80px; height:80px; background:#fff; right:0; z-index:50; transition:all 0.4s; margin-top:28px;}
	.slick-prev{left:auto; right:80px;}
	.slick-prev::before, .slick-next::before{content: "\e90b"; font-family: 'xeicon'; color:#888; transition:all 0.4s;}
	.slick-prev::before{content: "\e908";}
	.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{background:#fff;}
	.slick-prev:hover::before, .slick-prev:focus::before, .slick-next:hover::before, .slick-next:focus::before{color:#4583c5;}
	
	
	.slider-thumb .thumb-box{display:none;}
	
	.s-title{margin-bottom:40px;}
	.s-title h1{font-size:28px;}
	
	.s-txt{padding:20px 30px; min-height:auto;}
	.s-txt h3{font-size:18px;}
	
	.project-box{width:100%; margin:5px 0 !important;}
	.project-box h4{font-size:16px;}

}

@media all and (max-width:525px){
	.slick-prev, .slick-next{margin-top:-78px;}
	
}

@media all and (max-width:360px){
	
}