@charset "utf-8";

/*====================
	SUB PAGE MENU
======================*/
/* #header{position:absolute;} */
#header .h-inquiry{border:0; height:auto !important;}
.scroll-menu{width:100%; background:#fff; }
.scroll-menu .logo1{display:none !important;}
.scroll-menu .logo2{display:block !important;}
.scroll-menu .menu > ul > li > a{color:#333 !important;}


.sub-top1{background:url(../../images/theme/sub/sub-top1.jpg)no-repeat; background-position:0 -300px !important;}
.sub-top2{background:url(../../images/theme/sub/sub-top2.jpg)no-repeat; background-position:center -300px !important;}
.sub-top3{background:url(../../images/theme/sub/sub-top3.jpg)no-repeat;}
.sub-top4{background:url(../../images/theme/sub/sub-top4.jpg)no-repeat;}
#sub-top{width:100%; background-size:cover; background-position:center center; position:relative; height:480px; background-attachment:fixed; transition:all 0.4s;}
#sub-top:before{content:''; width:1px; height:100%; position:absolute; right:100px; top:0; background:rgba(237,237,237,0.6);}

#sub-top .s-top-title{position:absolute; top:calc(50% + 30px); left:50%; /* width:80%;  */transform:translate(-50%, -50%); text-align:center; /* padding:100px 20px;  */box-sizing:border-box;}
#sub-top .s-top-title h1{font-size:40px; color:#fff; font-weight:700; position:relative; padding-top:20px; display:inline-block;}
#sub-top .s-top-title h1:before{content:'METARPAS'; font-size:16px; color:#89b3e0; font-weight:400; letter-spacing:0.2em; position:absolute; top:0; left:50%; transform:translateX(-50%);}


#sub-nav{width:50%; border-bottom:1px solid #ccc; height:50px; box-sizing:border-box; position:relative; margin-top:-50px; background:#fff; z-index:980;}
#sub-nav > ul{width:100%; max-width:600px; float:right; min-width:600px;}
#sub-nav > ul > li{line-height:50px; font-size:16px; color:#555; border-right:1px solid #ccc; float:left; width:50%; max-width:275px; box-sizing:border-box;}
#sub-nav > ul > li > a{padding:0 35px 0 20px; box-sizing:border-box; display:block; white-space:nowrap; word-break:normal; overflow:hidden; text-overflow:ellipsis;}
#sub-nav .nav-home{border-left:1px solid #ccc; width:50px; text-align:center; padding:0;}
#sub-nav .nav-home a{font-size:20px; color:rgba(0,0,0,0.4); padding:0 10px; transition:all 0.4s;}
#sub-nav .nav-home a:hover{color:#4583c5;}
#sub-nav .nav-menu > a{cursor:pointer; position:relative;}
#sub-nav .nav-menu > a:before{content: "\e936"; font-family:'xeicon'; color:#576079; position:absolute; right:15px; transition:all 0.4s;}
#sub-nav .nav-active > a:before{transform:rotate(180deg);}
#sub-nav .nav-menu ul{display:none; position:absolute; z-index:99; background:rgba(255,255,255,0.95); border:1px solid #ccc; border-top:0; width:100%; max-width:274px; margin-left:-1px;}
#sub-nav .nav-menu ul li{border-bottom:1px dotted #aaa; line-height:26px;}
#sub-nav .nav-menu ul li:last-child{border-bottom:0;}
#sub-nav .nav-menu ul li a{display:block; font-size:15px; color:#666; padding:10px 20px; box-sizing:border-box;}
#sub-nav .nav-menu ul li a:hover{background:rgba(222,217,235,0.2);}
#sub-nav .nav-menu ul li.selected a{background:rgba(222,217,235,0.4);}


.s-title{width:100%; text-align:center; margin:80px 0 50px; overflow:hidden;}
.s-title h2{font-size:32px; color:#444;}
.s-c-title{margin-bottom:15px; overflow:hidden;}
.s-c-title h3{font-size:22px; line-height:32px; color:#444; font-weight:500; padding-top:35px; position:relative;}
.s-c-title h3:before{content:''; width:1px; height:40px; background:#4583c5; position:absolute; top:0; left:10px; transform:rotate(45deg);}

.s-section{width:100%; min-height:400px; padding-bottom:7%; overflow:hidden;}
.n-p-b{padding-bottom:0 !important;}
.section-wrap{width:100%; max-width:1200px; margin:0 auto;}
.s-contents{width:100%; margin-bottom:50px; overflow:hidden;}
.gray-bg{background:#f8f8f8; width:100%; padding:50px 0 80px; box-sizing:border-box; overflow:hidden;}

.ft-blue{color:#4583c5;}
.m-auto{margin:0 auto;}
.float-r{float:right;}

.basic-table{width:100%; border-top:1px solid #4583c5; border-bottom:1px solid #888; margin-bottom:15px;}
.basic-table th, .basic-table td{font-size:16px; line-height:26px; padding:13px 20px; border-top:1px solid #ededed; font-weight:400; color:#555; text-align:left; background:#fff;}
.basic-table th{background:#4583c5; color:#fff; font-weight:500; vertical-align:top;}
.b-t-0{border-top:0 !important;}
.t-gray{background:#f8f8f8 !important;}
.t-center{text-align:center !important;}
.w20{width:20%;}
.w30{width:30%;}

p{text-align:justify; letter-spacing:0;}

.basic-list{background:#f8f8f8; padding:20px 30px; box-sizing:border-box; display:block; min-height:200px;}
.basic-list li{font-size:16px; line-height:28px; color:#555; padding:5px 0 5px 20px; position:relative;}
.basic-list li:before{content:''; width:5px; height:5px; background:#aaa; position:absolute; top:17px; left:0;}
.basic-list li b{font-weight:500;}

/*====================
	sub1-1 인사말
======================*/
.about-img{width:100%; height:380px; background-attachment:fixed !important; background-position:center !important; background-size:cover !important;}
.about-txt{width:66.67%; padding:40px; box-sizing:border-box; background:#fff; margin-top:-180px;}
.about-txt h3{font-size:22px; font-weight:400; color:#444; margin-bottom:20px; overflow:hidden;}
.about-txt h3 span{font-size:32px;}

.about-video{width:100%; padding-right:20px; box-sizing:border-box;}
.video{position:relative; min-height:397px;}
.video iframe{position:absolute; top:0; left:0; width:100%; height:100%;}


/*====================
 / sub1-4 / 협력사
======================*/
.cooperative h4{background:#f8f8f8; text-align:center; padding:30px 15px; box-sizing:border-box; font-size:18px; font-weight:400; color:#444; margin-bottom:50px; line-height:28px;}
.cooperative .co-wrap ul{border-left:1px solid #ededed;}
.cooperative .co-wrap ul li{width:25%; float:left; box-sizing:border-box; position:relative; text-align:center;}
.cooperative .co-wrap ul li a{display:block; margin:-1px 0 0 -1px; border:1px solid #ededed; position:relative; overflow:hidden; height:120px;}
.cooperative .co-wrap ul li img{display:block; max-width:100%; margin:0 auto; position:absolute; top:50%; left:50%; transform:translate3d(-50%, -50%, 0); transition:all 0.25s;}
.cooperative .co-wrap ul li span{opacity:0; font-size:18px; color:#555; position:absolute; top:50%; left:50%; transform:translate3d(-50%, 50%,0); transition:all 0.3s;}
.cooperative .co-wrap ul li a:hover img{transform:translate3d(-50%,-70%,0); opacity:0;}
.cooperative .co-wrap ul li a:hover span{opacity:1; transform:translate3d(-50%, -50%, 0);}


/*====================
	sub1-5 오시는길
======================*/
.directions-tab{width:100%; margin-bottom:20px; overflow:hidden;}
.directions-tab ul{width:100%; max-width:360px; margin:0 auto;}
.directions-tab ul li{width:50%; float:left; box-sizing:border-box;}
.directions-tab ul li a{border:1px solid #ccc; box-sizing:border-box; display:block; text-align:center; font-size:16px; color:#888; margin-left:-1px; padding:13px;}
.directions-tab ul li:first-child a{margin-left:0;}
.directions-tab ul li.selected a{border-color:#4583c5; color:#4583c5; position:relative;}

.map-tab{width:100%; margin-bottom:20px; overflow:hidden;}
.map-tab ul{width:100%; max-width:360px; margin:0 auto;}
.map-tab ul li{width:50%; float:left; box-sizing:border-box;}
.map-tab ul li a{border:1px solid #ccc; box-sizing:border-box; display:block; text-align:center; font-size:16px; color:#888; margin-left:-1px; padding:13px;}
.map-tab ul li:first-child a{margin-left:0;}
.map-tab ul li.selected a{border-color:#4583c5; color:#4583c5; position:relative;}

/* .map{width:100%; border:1px solid #ccc; height:360px; margin-bottom:20px; box-sizing:border-box;} */
.map{width:100%; margin-bottom:20px; overflow:hidden;}
.map iframe{width:100%; border:1px solid #ccc !important; box-sizing:border-box;}
.root_daum_roughmap{width:100% !important; border:0 !important; padding:0 !important; border-radius:0 !important;}
.map-info ul li{font-size:22px; color:#555; font-weight:400; line-height:30px; padding:10px 0 10px 130px; position:relative;}
.map-info ul li span{font-size:18px; font-weight:400; margin-right:10px;}
.info-t{font-size:18px; font-weight:500; color:#c9a063; position:absolute; top:11px; left:0;}


/*====================
	sub2-1 Drone Platform
======================*/
.pro-slider{width:100%; margin-bottom:20px !important;}
.pro-slider .pro-slider-img{width:100%; min-height:400px; background-size:cover !important; background-position:center !important;}

/*slick-slider*/
/* .pro-slider .slick-arrow{display:none !important;} */
.pro-slider .slick-prev, .pro-slider .slick-next{width:50px; height:50px; background:#232323; z-index:10; transition:all 0.4s;}
.pro-slider .slick-prev::before, .pro-slider .slick-next::before{font-family: 'xeicon';}
.pro-slider .slick-prev::before{content: "\e93b";}
.pro-slider .slick-next::before{content: "\e93e";}
.pro-slider .slick-prev:hover, .pro-slider .slick-next:hover{background:#4583c5;}

.pro-slider .slick-dots{bottom:40px; left:40px; width:auto; text-align:left;}
.pro-slider .slick-dots li, .pro-slider .slick-dots li button{width:auto; height:auto;}
.pro-slider .slick-dots li button::before{font-size:0; width:8px; height:8px; background:#fff; opacity:0.6; border-radius:4px; transition:all 0.4s;}
.pro-slider .slick-dots li.slick-active{width:24px;}
.pro-slider .slick-dots li.slick-active button::before{opacity:0.8; width:24px;}

.pro-img-wrap{width:100%; background:#fff; border:1px solid #ccc; box-sizing:border-box; margin:20px 0; overflow:hidden;}
.pro-img-wrap img{max-width:100%; display:block; margin:0 auto;}
.pro-img-wrap2{padding:30px 0;}

.ts-box1{width:100%; border:1px solid #287dc1; padding:40px 40px 50px; box-sizing:border-box; position:relative; margin:20px 0 50px; border-radius:10px;}
.ts-box1 img{display:block; margin:0 auto; max-width:100%;}
.ts-box1 h4{font-size:18px; font-weight:500; color:#fff; background:#287dc1; padding:20px 60px; box-sizing:border-box; display:inline-block; border-radius:40px; position:absolute; z-index:10; bottom:-30px; left:50%; transform:translateX(-50%);}

.ts-box2{width:calc(100% - 10px); border:1px solid #ccc; box-sizing:border-box; border-radius:10px; overflow:hidden; margin-bottom:15px;}
.ts-box2 img{max-width:100%; display:block; margin:20px auto 10px;}
.ts-box2 h4{font-size:18px; color:#287dc1; text-align:center; margin-bottom:20px; overflow:hidden;}
.ts-box3{width:calc(100% - 7px);}


/*====================
	sub2-2 RTK GPS
======================*/
.pro-top-img{/* width:calc(100% - 10px);  */margin-bottom:20px; overflow:hidden;}
.pro-top-img img{display:block; max-width:100%; margin-bottom:10px;}
.pro-top-img h4{font-size:18px; font-weight:500; color:#555; text-align:center;}


/*====================
	sub2-3 PETASO
======================*/
.petaso .basic-list{min-height:auto;}



/*====================
	sub2-5 AI인공지능패키지
======================*/
#sub2-5 .pro-top p{margin-bottom:20px; overflow:hidden;}
.ai-research img{float:left; width:50%; display:inline-block;}
.mp-video{width:calc(100% - 10px);}
.mp-video h4{font-size:18px; font-weight:500; color:#444; text-align:center; margin:10px 0;}
.mp-video img{min-height:397px;}


/*====================
	sub3-1 SOLVIT
======================*/
.feature-box{width:calc(100% - 10px); margin-bottom:40px; overflow:hidden;}
.feature-img{width:100%; min-height:260px; background-size:cover !important; background-position:center center !important;}
.feature-txt{background:#fff; width:90%; padding:20px; box-sizing:border-box; margin-top:-90px;}
.feature-txt h4{font-size:18px; font-weight:500; color:#444; margin-bottom:5px;}
.feature-box2{float:right;}

.effect-wrap{width:100%; margin:40px 0; overflow:hidden;}
.effect-wrap ul li{/* width:320px; */width:calc(25% + 20px); max-width:320px; height:320px; background:rgba(255,255,255,0.6); border-radius:160px; box-sizing:border-box; position:relative; float:left; margin-left:-30px;}
.effect-wrap ul li:first-child{margin-left:0;}
.effect-wrap ul li:nth-child(2n){background:rgba(69,131,197,0.05);}
.effect-txt{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); text-align:center; width:90%;}
.effect-txt img{display:block; max-width:100%; margin:0 auto;}
.effect-txt h3{font-size:20px; font-weight:500; color:#444; margin:10px 0;}
.effect-txt p{text-align:center; font-size:15px; line-height:20px;}

.process-box{width:calc(100% - 40px); box-sizing:border-box; position:relative; margin-bottom:40px;}
.process-box:before{content: "\eb58"; font-family: 'xeicon'; font-size:20px; color:#aaa; position:absolute; right:-25px; top:42%; transform:translateY(-50%) rotate(45deg);}
.process-box2:before{content:'';}
.process-img{width:100%; min-height:200px; background-size:cover !important; background-position:center center !important; position:relative; margin-bottom:10px;}
.process-img span{position:absolute; top:20px; left:20px; width:34px; height:34px; background:#c9a063; color:#fff; font-size:14px; font-weight:500; line-height:32px; text-align:center;}
.process-box p{font-weight:500; text-align:center;}



@media all and (max-width:1199px){
	.scroll-menu .ham .line{background:#4583c5;}
	.scroll-menu .ham.active .line{background:#fff;}
	.scroll-menu .m-menu > ul > li > a{color:#fff !important;}
	
	#sub-top::before{width:0;}
	#sub-nav{background:none;}
	#sub-nav > ul{position:absolute; background:#fff; border-bottom:1px solid #ccc; top:-1px;}
	#sub-nav .nav-menu ul{border-top:1px solid #ccc;}
	
	.basic-table2{margin-bottom:0;}
	
	.about-txt p{text-align:justify;}
	
	.pro-slider .slick-prev{left:-10px;}
	.pro-slider .slick-next{right:-10px;}
	
	.pro-top-img.float-r{float:none;}
	
	.effect-wrap ul li{width:calc(50% - 20px); max-width:100%; margin:10px !important;}
	#sub3-3 .pro-top-img img{max-width:none; min-height:200px;}
}

@media all and (max-width:767px){
	#sub-top{height:360px;}
	#sub-top .s-top-title h1{font-size:32px; padding-top:15px;}
	#sub-top .s-top-title h1::before{font-size:14px;}
	
	#sub-nav{height:44px; margin-top:-44px;}
	#sub-nav > ul > li{font-size:15px; line-height:44px;}
	#sub-nav .nav-menu ul li a{font-size:14px; padding:8px 20px;}
	
	.s-title{margin:50px 0 40px;}
	.s-title h2{font-size:28px;}
	.s-c-title h3{font-size:20px; padding-top:28px; line-height:30px;}
	.s-c-title h3::before{height:30px;}
	
	.s-contents{margin-bottom:40px;}
	.gray-bg{padding:40px 0 60px;}
	
	.basic-table th, .basic-table td{font-size:14px;}
	.basic-list{min-height:auto; padding:15px 25px;}
	.basic-list li{font-size:14px; line-height:24px;}
	
	/* 회사소개 */
	.about-txt{width:90%; padding:30px; margin-top:-120px;}
	.about-txt h3{font-size:20px;}
	.about-txt h3 span{font-size:26px;}
	.about-video{padding:0; margin-bottom:20px;}	
	.video{min-height:315px;}
	
	/* 협력사 */
	.cooperative .co-wrap ul li{width:50%;}
	.cooperative .co-wrap ul li img{width:80%;}
	
	/* 오시는길 */
	.directions-tab ul li a{font-size:15px; padding:13px;}
	.map-info ul li{font-size:18px; padding:10px 0 10px 110px;}
	.map-info ul li span{font-size:16px;}
	
	/* Drone Platform */
	.pro-slider .pro-slider-img{min-height:320px;}
	.pro-slider .slick-prev{left:-2.5%;}
	.pro-slider .slick-next{right:-2.5%;}
	.ts-box1{padding:20px 20px 40px;}
	.ts-box1 h4{font-size:16px; text-align:center; width:70%; padding:15px 40px; bottom:-25px;}
	.ts-box2{width:100%;}
	
	/* RTK GPS */
	.pro-top-img h4{font-size:16px;}
	
	/* Drone Station */
	.mp-video{width:100%; margin-bottom:20px;}
	.mp-video h4{font-size:16px;}
	.mp-video img{width:100%; max-width:100%; display:block; min-height:auto;}
	
	/* AI 인공지능 패키지 */
	#sub2-5 .pro-top-img{margin-bottom:0;}
	.ai-research img{width:100%;}
	
	/* SOLVIT */
	.feature-box{width:100%; float:none !important;}
	.effect-wrap{margin:20px 0;}	
	.effect-txt h3{font-size:18px;}
	.process-box p{font-size:16px;}
}

@media all and (max-width:601px){
	#sub-nav{width:100%; margin-top:0;}
	#sub-nav > ul{background:none; border:0; top:0; min-width:auto;}	
	#sub-nav > ul > li{width:calc(50% - 25px);}
	#sub-nav .nav-menu ul{border-top:0; border-right:0; position:static; width:auto; max-width:100%;}
}

@media all and (max-width:525px){
	#sub-top{height:280px; background-attachment:scroll; background-position:center center !important;}
	#sub-nav > ul > li{width:calc(100% - 50px); max-width:100%;}
	
	.basic-table th, .basic-table td{display:block;}
	.basic-table2 th, .basic-table2 td{display:table-cell;}
	.basic-table .hidden-xs{display:none !important;}
	
	.about-img{background-attachment:scroll !important;}
	.video{min-height:260px;}
	
	.ts-box1 h4{width:80%; font-size:14px;}
	
	.feature-box{margin-bottom:20px;}
	.effect-wrap ul li{width:100%; margin:5px 0 !important; height:260px;}	
	.effect-txt{width:80%;}
	
	.process-box{width:100%; margin-bottom:20px;}
	.process-box:befoe{content:'';}	
	
	#sub3-3 .pro-top-img{margin-bottom:0;}
	#sub3-3 .pro-top-img img{max-width:100%; min-height:auto; width:100%;}
	
}

@media all and (max-width:360px){
	
}
