@charset "utf-8";

header{width:100%; position:relative; background:#fff; z-index:9999; border-bottom:1px solid #ccc;}
#header-wrap{max-width:1200px;  width:100%; margin:0 auto; height:80px; overflow:hidden;}
#header-wrap > div{float:left;}
#header-wrap .top-logo img{padding-top:13px;}
#header-wrap .main-menu{width:62%; float:left; box-sizing:border-box;}
#header-wrap .main-menu ul{float:right;}
#header-wrap .main-menu ul li{float:left; line-height:77px;  width:130px;}
#header-wrap .main-menu ul li a{font-size:1em; color:#333; font-weight:600; display:block; z-index:998; padding-left:10px;}
#header-wrap .main-menu ul li a:hover{border-bottom:3px solid #e91c23;}

#header-wrap .lang{margin-top:30px; width:13%; float:left; box-sizing:border-box;}
#header-wrap .lang ul{float:right;}
#header-wrap .lang ul li{float:left;}
#header-wrap .lang ul li a{display:block; padding:3px 20px; font-size:0.75em;}
#header-wrap .lang ul .kor a{border:1px solid #ccc; border-radius:20px 0 0 20px;}
#header-wrap .lang ul .eng a{border:1px solid #ccc; border-radius:0 20px 20px 0; margin-left:-1px;}
#header-wrap .lang ul .selected a{color:#fff; background:#3b8cce;}

#sub-menu{display:none; width:100%; height:240px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; position:absolute; z-index:999; background:rgba(256,256,256,0.9);}
#sub-menu .sub-wrap{max-width:1200px; width:100%; margin:0 auto;}
#sub-menu .sub-menu-wrap{float:right;}
#sub-menu .sub-menu-wrap ul{float:left; height:240px; width:130px; border-right:1px solid #ccc; box-sizing:border-box;}
#sub-menu .sub-menu-wrap ul li a{color:#555; font-size:0.8em; display:block; padding:3px 10px;}
/*#sub-menu .sub-menu-wrap .sub-menu2{width:330px;} */
#sub-menu .sub-menu-wrap .sub-menu1{border-left:1px solid #ccc;}
#sub-menu .sub-menu-wrap ul li a:hover{color:#fff; background:rgba(2,32,67,0.8);}
#sub-menu .submenu1{width:62%; float:left; box-sizing:border-box;}
#sub-menu .submenu2{width:13%; float:left; box-sizing:border-box;}

.ham{display:none;  float:right; padding:0 10px; position:absolute; top:0; right:0; }
.ham a{color:#333; font-size:3em; line-height:70px;}
#mobile-menu-wrap{width:100%;}
#mobile-menu-wrap .mobile-menu{display:none; z-index:999; position:absolute; top:70px; width:100%; background:rgba(256, 256, 256, 0.9);}
#mobile-menu-wrap .mobile-menu ul > li{line-height:45px; border-bottom:1px solid #ccc; text-align:center; color:#333; font-weight:600;}
#mobile-menu-wrap .mobile-menu ul li:hover{cursor:pointer;}
#mobile-menu-wrap .mobile-menu ul > li > a{ color:#333; font-weight:600; display:block;}
#mobile-menu-wrap .mobile-menu .mobile-submenu{display:none; background:rgba(0,0,0,0.1);}
#mobile-menu-wrap .mobile-menu .mobile-submenu li{border:0;}
#mobile-menu-wrap .mobile-menu .mobile-submenu li a{color:#555; font-weight:500; display:block;}
#mobile-menu-wrap .mobile-menu .mobile-lang{}
#mobile-menu-wrap .mobile-menu .mobile-lang li{float:left; width:50%; border-right:1px solid #ccc; box-sizing:border-box; font-size:0.75em;}
#mobile-menu-wrap .mobile-menu .mobile-lang li:last-child{border-right:0;}
#mobile-menu-wrap .mobile-menu .mobile-lang .selected{background:#3b8cce;}
#mobile-menu-wrap .mobile-menu .mobile-lang .selected a{color:#fff;}

@media all and (max-width:1199px){
	#header-wrap{height:70px;}
	.ham{display:block;}
}

@media all and (max-width:525px){
	#header-wrap .top-logo img{width:250px;}
}
