@charset "utf-8";

.c-navy{color:#0c3981 !important;}

body.sub01{ background:#edebeb url('../images/sub/sub_right01.jpg') 100% 0 fixed; }
body.sub02{ background:#edebeb url('../images/sub/sub_right02.jpg') 100% 0 fixed; }
body.sub03{ background:#edebeb url('../images/sub/sub_right03.jpg') 100% 0 fixed; }
body.sub04{ background:#edebeb url('../images/sub/sub_right04.jpg') 100% 0 fixed; }
#container{ position:relative; z-index:1;}
#contents{ position:relative; margin:0; padding:40px 80px 100px 480px; width:1440px; background-color:#fff; box-sizing:border-box; min-height:970px;}

.sub-nav{width:100%; float:right;}
.sub-nav ul{text-align:right;}
.sub-nav ul li{display:inline-table; font-size:13px; color:#aaa; padding:0 10px; position:relative;}
.sub-nav ul li a{color:#333; font-size:13px; opacity:0.2; transition:all 0.4s;}
.sub-nav ul li a:hover{opacity:1;}
.sub-nav ul li:before{content:''; width:1px; height:10px; background:#ededed; transform:skewX(-20deg); position:absolute; right:-2px; top:5px;}
.sub-nav ul li:last-child:before{background:none;}

.s-title{margin:40px 0;}
.s-title h2{font-family: 'S-CoreDream-5Medium'; font-size:28px; color:#333;}


.s-section{width:100%; min-height:400px; padding-bottom:7%; overflow:hidden;}
.n-p-b{padding-bottom:0 !important;}
.section-wrap{width:100%; max-width:1200px; margin:0 auto;}
.b-contents{width:100%; margin-bottom:50px; overflow:hidden;}
.gray-bg{background:#fafafa; padding:50px 0 100px; overflow:hidden;}
.float-r{float:right;}

.c-title{margin-bottom:15px;}
.c-title h4{font-size:18px; font-weight:500; color:#444; padding-left:15px; position:relative;}
.c-title h4:before{content:''; width:7px; height:7px; background:#71a820; opacity:0.8; position:absolute; left:0; top:6px;}

.c-s-title{margin-bottom:7px;}
.c-s-title h5{font-size:16px; color:#484848; font-weight:500; position:relative; padding-left:15px;}
.c-s-title h5:before{content:''; width:7px; height:1px; background:#888; position:absolute; top:9px; left:0;}
.big-title{margin:20px 0; text-align:right; position:relative;}
.big-title h2{font-size:20px; font-weight:400; color:#fff; padding:15px 30px; box-sizing:border-box; background:#71a820; border-radius:0 25px; display:inline-block;}
.big-title:before{content:''; width:90%; height:1px; background:#71a820; top:0; left:0; position:absolute;}
.table-title{border:2px solid #115fad; border-left:0; border-right:0;}
.table-title h5{font-size:16px; color:#333; padding:15px; box-sizing:border-box;}

.basic-list{padding:20px 30px; box-sizing:border-box; display:block; overflow:hidden;}
.basic-list li{font-size:14px; line-height:24px; color:#555; font-weight:300; padding:5px 0 5px 15px; position:relative; box-sizing:border-box;}
.basic-list li:before{content:''; width:3px; height:3px; background:#888; transform:rotate(45deg); position:absolute; left:0; top:18px;}
.basic-list li b{font-weight:500;}


.basic-table{width:100%; border-top:2px solid #115fad; border-bottom:1px solid #555;}
.basic-table th, .basic-table td{font-size:14px; color:#555; font-weight:300; line-height:24px; padding:10px 12px; text-align:center; border-left:1px solid #eee;}
.basic-table th:first-child, .basic-table td:first-child{border-left:0;}
.basic-table th{background:#f3f7fb; font-weight:500;}
.basic-table td{border-top:1px solid #eee;}
.basic-table2 th, .basic-table2 td{text-align:left; border-top:1px solid #eee;}
.basic-table3 th, .basic-table3 td{border-top:1px solid #eee;}
.basic-table4 td{text-align:left;}
.basic-table4 td:first-child{border-left:1px solid #eee;}
.basic-table5 td:nth-child(2){text-align:left !important;}

.bl-0{border-left:0 !Important;}
.ta-c{text-align:center !important;}
.basic-table img{display:block; width:100%; max-width:100%; margin:0 auto;}
.basic-table .basic-list{padding:0 5px;}

.table-ps{font-size:13px; color:#859cc0; text-align:right; margin-top:7px; line-height:18px;}

.basic-img img{display:block; margin:10px auto; max-width:100%;width:100%;}
.basic-img h4{font-size:16px; color:#555; font-weight:500; text-align:center;}
.basic-img2 img{display:block; margin:10px auto; max-width:96%;}
.basic-img2 h5{font-size:16px; color:#555; font-weight:500; text-align:center;}
.basic-img3 img{box-sizing:border-box; display:block; max-width:95%;}
.basic-img4 img{border-radius:5px;}
.basic-img5 img{border:1px solid #eee; box-sizing:border-box; width:98%;}
.basic-img6{width:100%; border:1px solid #eee; box-sizing:border-box; border-radius:5px; padding:20px;}
.basic-img6 img{display:block; max-width:100%; margin:0 auto;}
.border-box{width:100%; border:1px dotted #aaa; box-sizing:border-box; padding:20px;}
.border-box .basic-list{padding:0;}
.gray-box{background:#fafafa; padding:20px; box-sizing:border-box;}
.gray-box .basic-list{padding:0 5px;}

.w15{width:15%;}
.w16{width:16.66%;}
.w20{width:20%;}
.w30{width:30%;}
.w35{width:35%;}
.w50{width:50%;}
.mr-0{margin-right:0;}
.mb-0{margin-bottom:0;}
.mb-20{margin-bottom:20px;}
.mt-20{margin-top:20px;}
.p-lr-10{padding:0 10px; box-sizing:border-box;}
.italic{font-style:italic;}
.c-red{color:#ff0000;}
.c-blue{color:#2b6fb7;}
.c-green{color:#006834;}
.c-navy{color:#0c3981 !important;}
.b-r-d{border-right:1px dotted #aaa; box-sizing:border-box;}
.f-weak{font-weight:400; color:#666; font-size:16px; padding-left:10px;}


/*-------------------------sub1-1---------------------*/
.greeting img{display:block; max-width:100%;}
.greet-txt1{padding:20px 0; box-sizing:border-box; border-bottom:1px solid #ccc; margin-bottom:20px; overflow:hidden;}
.greet-txt1 h3{font-size:22px; font-weight:400; color:#333;}
.greet-txt1 p{font-size:18px; color:#333;}
.greeting-sign{text-align:right; margin:10px 0;}
.signature{font-size:18px; font-weight:600; letter-spacing:0.2em; margin-left:10px;}

/*-------------------------sub1-2---------------------*/
#tab-menu{text-align:center; margin-bottom:40px; overflow:hidden;}
#tab-menu ul{position:relative; display:inline-block; z-index:100; width:100%; max-width:320px;}
#tab-menu ul li{float:left; display:table; width:50%; max-width:160px; height:40px;}
#tab-menu ul li a{font-size:14px; color:#999; line-height:40px; display:block; border:1px solid #d2d9eb; box-sizing:border-box; cursor:pointer; transition:none;}
#tab-menu ul li~li{margin-left:-1px;}
#tab-menu .tab-selected a{border:1px solid #203f99; color:#fff; background:#203f99; position:relative; z-index:1;}
.tab-content{display:none;}
.tab-contents .tab-selected{display:inherit;}

.history{background:url(../images/sub/history-line.gif)repeat-y 120px;/*  overflow:hidden; */ padding:50px 0; position:relative;}
.history:before{content:''; width:11px; height:11px; background:#ccc; position:absolute; border-radius:50%; top:0; left:115px;}
.history-box{margin-bottom:40px;}
.h-year{position:relative; width:100%; max-width:120px; float:left;}
.h-year h2{ font-family: 'S-CoreDream-3Light'; font-size:28px; color:#006834; text-align:right; padding-right:30px;}
.h-year:after{content:url(../images/sub/history-dot.gif); width:11px; height:11px; position:absolute; right:-6px; top:8px;}
.h-contents{margin-left:160px; padding:7px 0;}
.h-contents ul li{position:relative; margin-bottom:15px; line-height:26px; font-size:14px; color:#555; padding-left:40px;}
.h-contents ul li span{position:absolute; left:0; top:0; padding-left:5px; color:#333; font-weight:500;}

/*-------------------------sub1-4---------------------*/
.map{border:1px solid #ccc; min-height:360px; overflow:hidden;}
.root_daum_roughmap{width:100% !important; border:0 !important; padding:0 !important; border-radius:0 !important;}

.map-info{margin-top:40px; width:100%;}
.map-info ul li{width:50%; float:left; border:1px solid #ccc; box-sizing:border-box; min-height:140px; text-align:center; color:#555; font-size:16px; padding:10px 20px;}
.map-info ul li:nth-child(2n){margin-left:-1px;}
.map-info ul li:nth-child(3), .map-info ul li:last-child{margin-top:-1px;}
.map-info ul li img{display:block; margin:15px auto; max-width:100%;}


/*-------------------------sub2-1---------------------*/
.b1-1 img{display:block; margin:0 auto; max-width:100%;}
.benefit-box{width:33.33%; border:1px solid #eee; box-sizing:border-box; margin-left:-1px; padding:15px 20px; float:left; min-height:400px;}
.benefit-box .basic-list{padding:10px;}
.benefit-box1{margin-left:0;}
.benefit-box img{display:block; margin:10px auto 0;}
.benefit-box h5{font-size:16px; font-weight:500; color:#555; text-align:center; margin:10px 0 15px;}

.lid-system{width:96%; border:1px solid #eee; box-sizing:border-box; margin:2%; min-height:500px;}
.lid-system-img{background-size:cover !important; background-position:center center !important; min-height:190px; position:relative;}
.lid-system-img span{font-size:16px; color:#fff; font-weight:400; background:#555; width:34px; height:34px; line-height:34px; position:absolute; left:10px; top:10px; text-align:center;}
.lid-system-txt h4{font-size:16px; color:#404040; font-weight:500; padding:15px; background:#fafafa;}
/* .lid-system-txt .basic-list{padding:10px 20px;} */

.management ul li{width:33.33%; float:left; box-sizing:border-box; padding:20px; position:relative;}
.management ul li:before{content: "\e930"; font-family: 'xeicon'; color:#555; transform:rotate(90deg); position:absolute; right:-8px; font-size:22px; top:47%;}
.management ul li:last-child:before{content:'';}
.management ul li img{display:block; margin:10px auto; max-width:100%;}
.management ul li h4{font-size:16px; font-weight:500; color:#555; text-align:center;}

.lid-last img{display:block; margin:10px auto 20px; max-width:100%;}
.clear-table{width:100%;}
.clear-table th, .clear-table td{font-size:14px; color:#555; line-height:24px; padding:12px 15px; text-align:left;}
.clear-table th{font-size:16px; vertical-align:text-top;}
.clear-table td{border-top:1px solid #eee;}
.color1{border-top:2px solid #87bcdf;}
.color2{border-top:2px solid #d19ec2;}
.color3{border-top:2px solid #b5d782;}
.color4{border-top:2px solid #edbc60;}
.color5{border-top:2px solid #fafafa;}
.color6{border-top:2px solid #f39da7;}
.color7{border-top:2px solid #f29ca6;}
.color8{border-top:2px solid #9ec9d3;}


/*-------------------------sub2-2---------------------*/
.green-cer{border:1px solid #eee; width:100%; box-sizing:border-box;}
.green-cer-img{background:#fff;}
.green-cer img{max-width:90%; display:block; margin:30px auto;}
.green-cer-txt{padding:30px; box-sizing:border-box; background:#fafafa;}
.green-cer-txt h2{font-size:22px; color:#008837; font-weight:600;}
.green-cer-txt ul{margin-top:20px;}
.green-cer-txt .basic-list{padding:0;}
.green-cer-txt2{padding:48px 30px;}
.b-cer{width:90%; margin:5%;}
.b-cer img{display:block; max-width:100%; margin:0 auto 10px; border:1px solid #eee; box-sizing:border-box;}
.b-cer h4{font-size:16px; font-weight:500; color:#404040; text-align:center; line-height:26px;}
.system-map{width:96%; border:1px solid #eee; box-sizing:border-box; border:1px solid #eee; margin:2%;}
.s-m-img{width:100%; min-height:180px; background-size:cover !important; background-position:center center !important;}
.s-m-img2{min-height:360px;}
.system-map h4{font-size:16px; background:#fafafa; padding:15px; box-sizing:border-box; font-weight:500; color:#404040;}
.system-map .basic-list{padding:10px 20px; box-sizing:border-box;}
.system-map-1{width:100%; margin:0;}

/*perform-slider*/
.mixedSlider .MS-content{margin:0 50px;}
.mixedSlider .MS-content .item img{display:block; width:96%; margin:0 auto 10px;}
.mixedSlider .MS-content .item h4{font-size:16px; line-height:24px; color:#555; font-weight:500; text-align:center;}
.mixedSlider .MS-controls button{width:40px; height:40px; border:1px solid #888 !important; box-sizing:border-box; opacity:0.6; top:50%; transform:translateY(-50%);}
.mixedSlider .MS-controls button i{font-size:15px; text-align:center; line-height:28px; color:#555;}
.mixedSlider .MS-controls button:hover{opacity:1;}


/*-------------------------sub2-3---------------------*/
.step-list{width:100%; max-width:50%; margin:0 auto;}
.step-list li{margin:10px 0; font-size:14px; line-height:26px; color:#404040;}
.step-list .step{position:relative; font-weight:500; color:#fff; background:#0c3981; border-radius:5px; padding:3px 20px; box-sizing:border-box; margin-right:10px;}
.step-list .step:before{content:"\e936"; font-family: 'xeicon'; color:#0c3981; font-size:14px; position:absolute; left:40%; bottom:-19px; opacity:0.4;}
.step-list li:last-child .step:before{content:'';}


/*-------------------------sub2-4---------------------*/
.ceramic-type{margin:10px 10px 20px;}
.ceramic-type img{max-width:80%;}

@media all and (max-width:1199px){


}

@media all and (max-width:767px){


}

@media all and (max-width:525px){

	
}

@media all and (max-width:360px){

}