@charset "utf-8";

.sub-top1{background:url(../images/sub/sub-top1.jpg)no-repeat;}
.sub-top2{background:url(../images/sub/sub-top2.jpg)no-repeat;}
.sub-top3{background:url(../images/sub/sub-top3.jpg)no-repeat;}
.sub-top4{background:url(../images/sub/sub-top4.jpg)no-repeat;}
.sub-top5{background:url(../images/sub/sub-top5.jpg)no-repeat;}
#sub-top{width:100%; overflow:hidden; background-size:cover; background-position:center center;}

.s-top-title{text-align:center; padding:110px 0; box-sizing:border-box;}
.s-top-title p{font-size:18px; color:#555; font-weight:400;}
.s-top-title h1{font-size:32px; color:#555;}

#sub-nav{width:100%; border-bottom:1px solid #ccc; height:40px; box-sizing:border-box; overflow:hidden;}
#sub-nav > ul{width:100%; max-width:1200px; margin:0 auto;}
#sub-nav > ul > li{line-height:40px; font-size:14px; color:#555; border-right:1px solid #ccc; float:left; width:100%; max-width:160px;}
#sub-nav > ul > li > a{padding:0 10px; box-sizing:border-box; display:block;}
#sub-nav .nav-home{border-left:1px solid #ccc; width:40px; text-align:center; padding:0;}
#sub-nav .nav-home a{font-size:17px; color:#576079; padding:0 10px; opacity:0.6; transition:all 0.4s; font-weight:300;}
#sub-nav .nav-home a:hover{opacity:1;}
#sub-nav .nav-menu > a{cursor:pointer; background:rgba(222,217,235,0.1); position:relative;}
#sub-nav .nav-menu > a:before{content: "\e942"; font-family:'xeicon'; color:#576079; position:absolute; right:10px;}
#sub-nav .nav-active > a:before{content: "\e945";}
#sub-nav .nav-menu ul{display:none; position:absolute; z-index:99; background:#fff; border:1px solid #ccc; border-top:0; width:100%; max-width:160px; margin-left:-1px;}
#sub-nav .nav-menu ul li{border-bottom:1px solid #ccc;}
#sub-nav .nav-menu ul li:last-child{border-bottom:0;}
#sub-nav .nav-menu ul li a{display:block; font-size:13px; color:#555; padding:0 10px;}
#sub-nav .nav-menu ul li a:hover{background:rgba(222,217,235,0.2);}

/********************************* section *************************************/
#section{width:100%;}
.sub-section{width:100%; min-height:600px; overflow:hidden; padding-bottom:7%;}
.section-wrap{width:100%; max-width:1200px; margin:0 auto;}
.s-contents{width:100%; margin-bottom:40px;}
.p-b-0{padding-bottom:0 !important;}

.s-title{text-align:center; width:100%; margin:60px 0 40px;}
.s-title h2{font-size:28px; color:#333; font-weight:500;}

.c-title{margin-bottom:10px;}
.c-title h4{font-size:18px; font-weight:500; color:#333; padding-left:15px; position:relative;}
.c-title h4:before{content:''; width:7px; height:7px; opacity:0.8; position:absolute; left:0; top:4px; background: #4199d5; /* Old browsers */
background: -moz-linear-gradient(-45deg, #4199d5 0%, #0362b8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #4199d5 0%,#0362b8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #4199d5 0%,#0362b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4199d5', endColorstr='#0362b8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.gray-bg{width:100%; background:#f8f8f8; padding:40px 0; overflow:hidden;}

/*인사말*/
.greeting-img{width:100%; background:url(../images/sub/greeting-bg.jpg)no-repeat; background-attachment:fixed; min-height:340px; background-position:center center;}
.greeting-txt{width:75%; background:#fff; padding:40px; box-sizing:border-box; margin-top:-120px;}
.greeting-txt h2{font-size:28px; color:#036eb8; font-weight:300; margin-bottom:15px;}
.greeting-txt h4{font-size:16px; text-align:right; font-weight:500; margin-top:15px;}

/*경영방침*/
#sub1-2{padding-top:25px;}
.manage-box{width:100%; background-size:cover !important; background-position:center !important;}
.blue-box{width:100%; min-height:400px;}
.blue-box1{background:rgba(3,110,184,0.85);}
.blue-box2{background:rgba(13,60,93,0.85); margin-top:25px;}
.m-txt-box{padding:130px 20px; box-sizing:border-box; text-align:center;}
.m-txt-box img{display:block; margin:10px auto;}
.m-txt-box p{font-size:15px; color:#fff; line-height:24px;}

/*비전*/
.vision{width:100%; min-height:470px; background:url(../images/sub/vision-bg.jpg)no-repeat; background-attachment:fixed; position:relative; background-position:center;}
.vision ul{text-align:center; padding:60px 0 190px; box-sizing:border-box; overflow:hidden; display:block;}
.vision ul li{display:inline-table; width:25%; max-width:180px; min-height:203px; margin:10px;}
.vision ul li h4{font-size:16px; font-weight:500; padding-top:70px; line-height:26px;}
.vision-txt{width:100%; position:absolute; bottom:0; z-index:1; background:rgba(248,248,248,0.9); padding:45px 20px; box-sizing:border-box;}
.vision-txt h3{font-size:18px; font-weight:400; color:#333; text-align:center; line-height:28px;}

.vision2-txt{float:right; margin-bottom:30px; overflow:hidden;}
.vision2-txt h3{font-size:18px; font-weight:400; color:#333; line-height:28px; text-align:right; display:inline-block; margin-right:20px;}
.vision2-txt img{display:inline-block; max-width:100%;}
.vision-icon{width:98%; margin:1%; background:#fff; border:1px solid #d4dfe6; border-radius:5px; padding:20px; box-sizing:border-box;}
.vision-icon img{display:block; max-width:100%; margin:0 auto 5px;}
.vision-icon h4{font-size:16px; text-align:center; font-weight:400; color:#333;}

/*연혁*/
.history-img{width:90%; margin-top:60px;}
.history-img img{display:block; max-width:100%; margin-bottom:15px;}
.history-img p{font-size:18px; font-weight:300; text-align:right; line-height:28px; margin-bottom:20px;}

.history{background:url(../images/sub/v-line.gif)repeat-y 0;/*overflow:hidden; */ padding:50px 0 80px; position:relative;}
.history:before{content:''; width:11px; height:11px; background:#ccc; position:absolute; border-radius:50%; top:0; left:-5px;}
.h-year{position:relative;}
.h-year:before{content:url(../images/sub/h-dot.gif); width:11px; height:11px; position:absolute; left:-5px; top:9px;}
.h-year h2{font-size:30px; color:#036eb8; padding-left:20px; font-weight:500;}
.h-contents{margin:25px 0 40px 65px;}
.h-contents ul li{position:relative; margin-bottom:15px; line-height:26px; font-size:16px; color:#555; padding-left:15px;}
.h-contents ul li:before{content:''; width:5px; height:5px; background:#888; position:absolute; left:0; top:12px; border-radius:2.5px;}

/*오시는길*/
.map iframe{width:100%; border:1px solid #ccc !important; box-sizing:border-box;}
.map-info{border-bottom:1px solid #ccc; padding:20px 0;}
.map-info h2{font-size:28px; font-weight:400; color:#333; text-align:center; padding:20px 0; box-sizing:border-box;}
.map-info h3{font-size:22px; color:#333; font-weight:300; padding:5px 0 5px 30px; position:relative;}
.map-info h3 span{position:absolute; left:0; color:#4199d5;}
.contact li{float:left; width:33.3333%;}

/*product-list*/
.basic-table{width:100%; border-top:2px solid #036eb8; border-bottom:1px solid #555;}
.basic-table th, .basic-table td{padding:7px 15px; line-height:24px; font-size:14px; color:#555; border-left:1px solid #ccc;}
.basic-table th:first-child{border-left:0;}
.basic-table th{background:#f2f8fb}
.basic-table td{border-top:1px solid #ccc;}
.basic-table td img{vertical-align:middle;}
.basic-table2 th{border-top:1px solid #ccc; border-left:0;}
.basic-table2 ul li{position:relative; padding-left:15px;}
.basic-table2 ul li:before{content:''; width:3px; height:3px; background:#888; left:0; position:absolute; border-radius:3px; top:11px;}
.basic-table3 td{text-align:center;}
.basic-table3 td:first-child{text-align:left;}

.b-l-0{border-left:0 !important;}
.t-a-c{text-align:center;}
.t-a-l{text-align:left;}
.b-l-1{border-left:1px solid #ccc !important;}
.b-t-1{border-top:1px solid #ccc;}
.t-gray{background:#fafafa;}
.w80{width:80px;}
.w100{width:100px;}
.w120{width:120px;}
.w130{width:130px;}
.w10{width:10%;}
.w12{width:12%;}
.w25{width:25%;}
.w30{width:30%;}

/*Premill Abutment*/
.product-img{width:100%; margin-bottom:20px; border:1px solid #ccc; box-sizing:border-box; overflow:hidden; padding:20px;}
.product-img img{max-width:100%; display:block; margin:0 auto;}
.pro-list-half li{width:50%; float:left; box-sizing:border-box;}

/*카탈로그*/
.section-wrap2{width:100%; max-width:1000px; margin:0 auto;}
.brochure-wrap{position:relative; width:100%; overflow:hidden;}
.brochure-box{background:#f8f8f8; width:100%; min-height:508px;}
.brochure-img{padding-top:70px;}
.brochure-img img{display:block; width:100%; max-width:360px; border:1px solid #ccc; margin:0 auto;}
.brochure-txt{padding:70px 70px 0 0;}
.brochure-txt h4{font-size:16px; font-weight:300; color:#333;}
.brochure-txt h2{font-size:24px; color:#0070b8; font-weight:400;}
.brochure-txt > p{margin:20px 0; color:#888;}
.brochure-list{margin:20px 0; overflow:hidden;}
.brochure-list p{padding-bottom:10px; border-bottom:1px solid #ccc; box-sizing:border-box; margin-bottom:10px;}
.brochure-list ul li{font-size:14px; color:#555; line-height:26px; padding:5px 0; box-sizing:border-box; text-indent:-0.8em; margin-left:0.8em; width:47%; float:left;}
.brochure-btn{position:absolute; width:50%; bottom:0;}
.brochure-btn .b-btn{width:48%; float:left; display:block; margin:0 1%; font-size:14px; box-sizing:border-box; line-height:40px; text-align:center;}
.btn-w{border:1px solid #ccc; color:#888; transition:all 0.4s;}
.btn-full{background:#036eb8; color:#fff; border:1px solid #036eb8; transition:all 0.4s;}
.btn-w:hover{border:1px solid #036eb8; color:#036eb8;}
.btn-full:hover{background:#fff; color:#036eb8;}






@media all and (max-width:1199px){
	.over-auto{overflow:auto;}
	.gray-bg{padding:40px 2.5%; box-sizing:border-box;}
}

@media all and (max-width:767px){
	.s-top-title{padding:70px 0;}
	.s-top-title h1{font-size:28px;}
	.s-top-title p{font-size:16px;}
	.s-title h2{font-size:22px;}
	
	.greeting-txt{width:85%;}
	
	.blue-box2{margin-top:0;}
	
	.vision ul li{width:50%;}
	.vision2-txt h3{display:block; margin-right:0;}
	.vision2-txt img{display:block; margin-top:15px; float:right;}
	
	.history-img{margin:0 auto;}
	.history-wrap{margin:40px;}
	
	.map-info h2{border-bottom:1px dotted #ccc; padding:0 0 20px; margin-bottom:10px;}
	.map-info h3{font-size:18px;}
	.contact li{width:100%;}
	
	.pro-list-half li{width:100%;}
	
	.brochure-txt{padding:40px 20px; box-sizing:border-box;}
	.brochure-btn{width:100%;}
}

@media all and (max-width:525px){
	#sub-nav > ul > li:nth-child(2){max-width:100px;}
		
	.blue-box4{background:rgba(3,110,184,0.85);}
	.blue-box3{background:rgba(13,60,93,0.85);}
	
	.vision ul li{width:100%;}
	.vision2-txt h3{font-size:16px;}
}

@media all and (max-width:360px){
	
}