/*********************************/
/*  장바구니 없을 때             */
/*********************************/

.bin_basket {
  text-align: center;
}

.b_icon {
  height: 50px;
  width: 50px;
  padding: 0 30px;
  // opacity: 0.6;
  justify-content: space-between;
}

.b_icon:focus {
  opacity: 1;
}

/*********************************/
/*  장바구니 있을 때             */
/*********************************/
.basket {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 50px;
  height: 50px;
}

.basket_name {
  text-align: center;
}

.basket_tab_all {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  display: inline-block;
  margin: 20px 0;
}

.basket_tab_list {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.basket_tab button {
  border: none;
}

.basket_tab_content {
  text-align: left;
  background-color: #f5f7f8;
  min-height: 500px;
  width: 500px;
  height: 600px;
  padding: 10px 20px;
  box-sizing: border-box;
}

.basket_tab > button {
  background: none !important;
  color: navy;
  opacity: 0.6;
}

.basket_tab > .tab-link-active {
  opacity: 1;
}

.basket_list {
  width: 300px;
  padding: 5px;
  margin: 5px;
}

.basket_li_title {
  cursor: pointer;
}

.basket_li_content {
  font-size: 14px;
  color: #777;
  cursor: context-menu;
}

.basket_edit {
  border: none;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}

.basket_delete {
  border: none;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  background-color: lightgray;
}

.btn_wrap {
  display: flex;
}

// .b_icon:active {
//   color: blue;
// }
