@charset "utf-8";

.section2{padding:60px 0 0 !important;}

/*기업리스트*/
#co-list{width:100%; border-top:2px solid #012966; border-bottom:1px solid #555; overflow:hidden; margin-bottom:30px;}
.co-box-wrap{width:33.3333%; float:left; box-sizing:border-box;}
.co-box{width:98%; max-width:380px; margin:10px auto; background:#f8f8f8; padding:15px 15px 30px; box-sizing:border-box; position:relative; min-height:780px;}
.co-img{width:100%; min-height:260px; background-size:cover !important; background-position:center center !important;}
.co-table{width:100%; margin:15px 0; overflow:hidden;}
.co-table th, .co-table td{font-size:18px; color:#404040; padding:7px 0;}
.co-table th{font-weight:500; text-align:left; vertical-align:top; letter-spacing:-0.03em;}
.w20{width:20%;}
.co-table p{text-align:justify; font-size:18px; line-height:normal; text-overflow:ellipsis; word-wrap:break-word; height:128px; display:-webkit-box; -webkit-line-clamp:5; -webkit-box-orient:vertical;}

.co-btn-wrap{position:absolute; bottom:30px; width:100%;}
.btn-rect{font-size:16px; padding:8px 0; box-sizing:border-box; display:block; width:100%; border-radius:25px; text-align:center; max-width:350px; margin-top:10px; transition:all 0.4s;}
.btn-rect2{width:92% !important;}
.btn-navy{background:#012966; color:#fff; border:1px solid #012966;}
.btn-orange{background:#fff; color:#555; border:1px solid #ea541f;}
.btn-navy:hover{background:#ea541f; border-color:#ea541f;}
.btn-orange:hover{background:#ea541f; color:#fff;}

.no-co-list{padding:20% 0; text-align:center;}


/*기업상세*/
#co-view .co-title{width:100%; background:#012966; position:relative; padding:12px 20px; box-sizing:border-box; margin-bottom:20px; overflow:hidden;}
#co-view .co-title h3{font-size:26px; color:#fff; font-weight:500; letter-spacing:-0.02em;}
.btn-list{position:absolute; background:rgba(0,0,0,0.2); right:0; width:100%; max-width:140px; top:0; font-size:16px; color:rgba(255,255,255,0.8); text-align:center; padding:20px 0; box-sizing:border-box; transition:all 0.4s;}
.btn-list i{padding-right:10px;}
.btn-list:hover{color:#fff;}

.co-view-img{width:98%; max-width:560px; min-height:560px; background-size:cover !important; background-position:center center !important;}
.co-info{width:100%; position:relative; min-height:560px; display:flex; flex-wrap:wrap; align-content: space-between;}
.co-table2{margin:0; margin-bottom:20px;}
.co-table2 p{height:auto;}
.view-btn-wrap{/* position:absolute; bottom:0;  */width:100%; position:static;}
.view-btn-wrap .btn-rect{max-width:100%;}

.co-product-list{width:100%; background:#f8f8f8; margin-top:40px; padding:40px 0; box-sizing:border-box; overflow:hidden;}
.view-title{overflow:hidden;}
.view-title h4{font-size:20px; color:#333; font-weight:500; display:inline-block; float:left;}
.view-product-list{margin:10px 0; width:100%; overflow:hidden;}


/*상품상세*/
#pro-view .pro-title{width:100%; background:#ea541f; position:relative; padding:12px 20px; box-sizing:border-box; margin-bottom:20px; overflow:hidden;}
#pro-view .pro-title h3{font-size:26px; color:#fff; font-weight:500; letter-spacing:-0.02em;}

.pro-view-img{width:98%; max-width:560px; min-height:560px; background-size:cover !important; background-position:center center !important;}
.pro-info{width:100%; position:relative; min-height:560px; display: flex; flex-wrap: wrap; align-content: space-between;}
.pro-info p{font-size:18px; line-height:32px;}
.tbwrap{width:100%;}
.pro-table{width:100%;/*  position:absolute; bottom:50px; */ border-top:1px solid #ea541f; border-bottom:1px solid #555; margin:15px 0; position:static;}
.pro-table th, .pro-table td{padding:7px 15px; font-size:16px; color:#555; border-top:1px solid #ccc;}
.pro-table th{background:rgba(234,85,32,0.05); font-weight:500;}
.pro-table td p{font-size:16px; line-height:normal; text-align:justify;}

.btn-gray{background:#656464; border:1px solid #656464; color:#fff; transition:all 0.4s;}
.btn-gray:hover{background:#ea541f; border-color:#ea541f;}
.view-btn-wrap2 .btn-rect{width:48%; float:left; margin:0 1%;}

.product-detail{width:100%; margin:40px 0; overflow:hidden;}
.detail-img{border:1px solid #555; border-left:0; border-right:0; padding:40px 0; box-sizing:border-box; margin:10px 0;}
.detail-img img{display:block; max-width:100%; margin:0 auto;}

.btn-wrap{margin:20px auto 0; text-align:center;}
.btn-more{font-size:16px; font-weight:300; color:#fff; border:1px solid #fff; width:100%; max-width:180px; line-height:38px; opacity:0.6; display:inline-block; text-align:center; transition:all 0.4s;}
.btn-more:hover{border-color:#ea5420; color:#fff; background:#ea5420; opacity:1;}

.sns-share{float:right;}
.sns-share li{float:left; margin-left:5px; color:#888; font-size:20px;}
.sns-share li:first-child{margin-right:10px;}
.sns-share li img{border-radius:2px; box-sizing:border-box;}
#kakaostory-share-button img{width:30px !important; height:30px !important;}

.w50{width:20%;}


@media all and (max-width:1199px){

}

@media all and (max-width:767px){
	.co-box-wrap{width:50%; float:left; box-sizing:border-box;}
	
	.co-view-img{margin:0 auto 20px;}
	.co-table2{margin-bottom:20px;}
	.co-table th, .co-table td{font-size:16px;}
	
	#co-view .co-title h3, #pro-view .pro-title h3{font-size:18px;}
	.btn-list{font-size:14px; padding:15px 0;}
	
	.pro-view-img{margin:0 auto 20px; max-width:400px; min-height:400px;}
	.pro-info{min-height:auto;}
	.pro-info p{min-height:auto;}
	.pro-table{position:static; margin:20px 0;}
	.view-btn-wrap{position:static;}
	.co-table p, .pro-info p{font-size:16px; line-height:28px;}
	.btn-rect{font-size:14px;}
	.btn-more{font-size:14px;}
}

@media all and (max-width:525px){
	.co-box-wrap{width:100%; float:left; box-sizing:border-box;}
	.btn-rect2{max-width:100%;}
	
	.pro-view-img{max-width:300px; min-height:300px;}
	.btn-list{max-width:50px;}
	.btn-list i{padding-right:0;}
	
}

@media all and (max-width:360px){

}
