@charset "utf-8";

p{font-size:20px; line-height:34px; letter-spacing:-0.02em;}

#sub-top{width:100%; overflow:hidden; background-size:cover; background-position:center center;}
.sub-top1{background:url(../images/sub/sub-top1.jpg)no-repeat;}
.sub-top2{background:url(../images/sub/sub-top2.jpg)no-repeat;}
.sub-top3{background:url(../images/sub/sub-top3.jpg)no-repeat;}
.sub-top4{background:url(../images/sub/sub-top4.jpg)no-repeat;}
.sub-top5{background:url(../images/sub/sub-top5.jpg)no-repeat;}
.sub-top6{background:url(../images/sub/sub-top6.jpg)no-repeat;}


.sub-title{text-align:center; padding:80px 20px; box-sizing:border-box;}
.sub-title p{font-size:18px; color:rgba(255,255,255,0.6); letter-spacing:0.08em; font-weight:300;}
.sub-title h1{font-size:36px; color:rgba(255,255,255,0.8); letter-spacing:-0.03em; font-weight:500;}
.sub-title2 p{color:rgba(0,0,0,0.6);}
.sub-title2 h1{color:rgba(0,0,0,0.8);}
.sub-title2 h1 a{color:rgba(0,0,0,0.8);}


/********************************* section *************************************/
#section{padding:60px 0 10%; min-height:600px; box-sizing:border-box;}
.section-wrap{width:100%; max-width:1200px; margin:0 auto;}
.ss-title{text-align:center; margin-bottom:80px;}
/* .ss-title img{display:block; margin:10px auto 20px;}
.ss-title h2{font-size:28px; color:#333; letter-spacing:-0.02em; font-weight:600; margin-bottom:7px;} */
.ss-title img{display:none;}
.ss-title h2{font-size:28px; color:#333; letter-spacing:-0.02em; font-weight:600; margin-bottom:7px; position:relative; padding-left:50px; display:inline-block;}
.ss-title h2:before{content:''; width:30px; height:40px; background:url(../images/sub/logo-icon.png)no-repeat; position:absolute; left:0; top:0;}
.ss-title h2 a{color:#333;}
.ss-title p{font-size:18px; color:#707070;letter-spacing:-0.02em; font-weight:400;}
.ss-title2{margin-bottom:0;}

.ft-italic{font-style:italic;}
.highlight{font-weight:600; color:#333; background:url(../images/sub/highlight.png)repeat-x; background-position:center 100%; padding:0 5px; background-size:100% 50%;}
.ft-orange{color:#ea541f;}
.ft-gray{color:#ededed;}
.mt-10{margin-top:10px;}
.mt-60{margin-top:60px;}


/* 브랜드스토리 */
.brand-story{background:url(../images/sub/brand-bg.png)no-repeat; width:100%; background-position:100% 0; background-size:100%; padding:20% 0; box-sizing:border-box;}
.brand-story p{font-size:20px; color:#555; line-height:34px; letter-spacing:-0.02em;}
/* .brand-story img{display:block; max-width:100%; margin:10px 0 60px;} */
.brand-txt2 img{float:right; margin:0 40px 60px 0;}

.product-title{background:url(../images/sub/product-title-bg.png)no-repeat; background-position:100% 0; min-height:282px; width:100%; background-color:#ea541f; text-align:center; padding:60px 10px; box-sizing:border-box;}
.product-title img{max-width:100%; display:block; margin:0 auto;}
.product-title p{color:rgba(255,255,255,0.6); font-size:18px; font-weight:300;}

.product-list{width:100%; margin-top:-90px; padding:0 15px; box-sizing:border-box;}
.s-p-box{width:96%; max-width:270px; margin:10px; border:1px solid #ccc; box-sizing:border-box; background:#fff;}
.s-p-img{width:100%; min-height:190px; background-size:cover !important; background-position:center center !important;}
.s-p-box h3{font-size:18px; color:#545454; text-align:center; font-weight:400; padding:10px; white-space:nowrap; overflow:hidden; word-break:break-all; text-overflow:ellipsis; box-sizing:border-box;}
.s-p-box-no{min-height:240px; background:#f8f8f8; font-size:60px; text-align:center; color:#ccc; padding-top:24%;}


/* 첫구매 가이드 */
#tab-menu{text-align:center; margin-bottom:20px;}
#tab-menu ul{position:relative; display:inline-block; z-index:50;}
#tab-menu ul li{float:left; display:table; /* width:300px; */width:334px;}
#tab-menu ul li a{font-size:18px; color:#555; line-height:60px; display:block; border:1px solid #d7d7d7; box-sizing:border-box; cursor:pointer; transition:none; background:#fdfcfc; overflow:hidden;}
#tab-menu ul li~li{margin-left:-1px;}
#tab-menu .tab-selected a{border:3px solid #ea541f; color:#ea541f; position:relative; z-index:1; background:#fff; font-weight:500; line-height:56px;}
.tab-content{display:none;}
.tab-contents .tab-selected{display:inherit;}

.relief-reason{width:100%; max-width:1000px; /* margin:0 auto 80px; */ margin:80px auto;}
.relief-reason h4{text-align:center; font-weight:500; letter-spacing:0.03em; margin:80px 0 40px;}
.reason-box{width:100%; border:3px solid #2b2b35; box-sizing:border-box; padding:0 40px 40px;}
.reason-box img{display:block; max-width:100%; margin:-40px auto 30px;}
.reason-box p{font-size:20px; line-height:34px; text-align:center;}

.reason-table{width:100%; margin:60px 0 20px; overflow:hidden;}
.reason-table th, .reason-table td{text-align:left;}
.reason-table th p, .reason-table td p{text-align:left;}
.reason-table th img{margin:0 10px 0 40px; display:inline-block; float:left;}
.reason-table-title{padding-right:40px;}
.reason-table-title h3{font-size:26px; font-weight:600;}
.reason-table-title p{font-size:16px; color:#939393;}
.reason-table td{padding-left:40px; border-left:1px solid #ccc; margin:20px 0; display:inline-block;}

.ft26{font-size:26px;}
.ft22{font-size:22px;}

#guide1, #guide2, #guide3{width:100%; padding:40px 0; overflow:hidden;}
.guide{width:100%; padding:0 40px; box-sizing:border-box; position:relative;}
.guide1{background:url(../images/sub/direct-bg.jpg)no-repeat; background-position:center 100%; min-height:720px;}
/* .guide2{background:url(../images/sub/strict-bg.jpg)no-repeat; background-position:center 100%; min-height:600px; min-height:340px;}
.guide3{background:url(../images/sub/limited-bg.jpg)no-repeat; background-position:center 100%; min-height:556px; min-height:240px;} */
.guide2, .guide3{min-height:440px;}
.guide1 img, .guide3 img{display:block; width:50%; max-width:520px; top:0; right:40px; position:absolute;}
.guide2 img{position:absolute; left:40px; top:0; width:50%; max-width:520px;}
.guide-txt{position:absolute; z-index:1;}
.guide-txt2{right:0; top:0; width:50%;}
.guide-txt h2{font-size:28px; color:#333; font-weight:600; margin:20px 0 40px;}
.guide-txt3{background:url(../images/sub/strict-bg.jpg)no-repeat; background-position:center 100%; min-height:300px;}
.guide-txt3 p{width:50%; float:right; padding:60px 20px 0 0; box-sizing:border-box;}
.guide-txt4{background:url(../images/sub/limited-bg.jpg)no-repeat; background-position:center 100%; min-height:300px; background-size:cover;}
.guide-txt4 p{width:50%; padding:40px; box-sizing:border-box;}

.method{margin-top:-180px;}
.method ul{text-align:center;}
.method ul li{display:inline-table; margin:1%; width:98%; max-width:300px;}
.method-box{width:100%; background:#f8f8f8; min-height:410px; padding:30px 15px; box-sizing:border-box; position:relative;}
.method-box img{margin:25px 0 10px;}
.method-box h3{font-size:22px; letter-spacing:-0.03em; color:#333;}
.method-box p{font-size:18px; line-height:30px;}
.line-orange{width:1px; height:15px; background:rgba(234,85,32,0.4); transform:rotate(45deg); margin:15px auto; display:block;}
.btn-r-rectangle{position:absolute; bottom:30px; width:100%; max-width:270px; border:1px solid #ea541f; background:#fff; border-radius:20px; padding:7px 10px; box-sizing:border-box; font-size:16px; color:#404040; display:block; transition:all 0.4s; }
.btn-r-rectangle:hover{background:#ea541f; color:#fff;}



/* 자활사업이란 */
.s-h-txt{position:relative; margin-bottom:40px;}
.s-h-txt img{display:block; max-width:100%;}
.line-orange2{width:100%; height:1px; background:#ea541f; position:absolute; top:25%; z-index:-1;}
.s-h-box{width:100%; margin:20px 0 60px; overflow:hidden;}
.s-h-img img{display:block; max-width:100%; margin:0 auto;}
.s-h-title{margin:40px 0; border-bottom:1px solid #ccc; padding-bottom:20px; box-sizing:border-box;}
.s-h-title h3{font-size:28px; color:#333; letter-spacing:-0.03em; font-weight:600; margin-top:15px;}
.box-contents p{width:50%; float:left; box-sizing:border-box;}
.box-contents p:first-child{padding-right:40px;}


/*제품리스트*/
.product-list-wrap ul li{width:25%; float:left; box-sizing:border-box;}
.s-p-box2{max-width:290px; margin:2%;}
.s-p-box2 .s-p-img{min-height:220px;}
.s-p-box .desc{ text-align:left; padding:10px 15px; background:#fff; box-sizing:border-box;}
.s-p-box .tt{ font-size:20px; font-weight:500; color:#333; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.s-p-box .st{ font-size:16px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#666;}

.no-search-result{text-align:center; padding:10% 0; background:url(../images/sub/product-title-bg.png)no-repeat; background-size:cover; background-color:#f8f8f8;}


/*커뮤니티게시판 tab*/
#community-tab{text-align:center; margin-bottom:40px;}
#community-tab ul{position:relative; display:inline-block; z-index:50;}
#community-tab ul li{float:left; display:table; width:180px; height:50px;}
#community-tab ul li a{font-size:16px; color:#888; line-height:50px; display:block; border:1px solid #ccc; box-sizing:border-box; cursor:pointer; transition:none; background:#f8f8f8;}
#community-tab ul li~li{margin-left:-1px;}
#community-tab .selected a{border:1px solid #ea541f; color:#ea541f; position:relative; z-index:1; background:#fff;}



@media all and (max-width:1199px){
	p{font-size:18px; line-height:32px;}
	
	#section{padding:40px 0 15%;}
	.ss-title img{width:25px; margin:5px auto;}
	.ss-title h2{font-size:24px; margin-bottom:0;}
	.ss-title p{font-size:14px; line-height:26px;}
	
	/* 브랜드스토리 */
	.brand-story{background-size:90%; background-position:100% 16px;}
	
	/*첫구매가이드*/
	#tab-menu ul li{width:240px;}
	.guide-txt h2{font-size:22px;}
	.guide1 img, .guide3 img{right:10px;}
	.guide2 img{left:10px;}

}

@media all and (max-width:767px){
	p{font-size:16px; line-height:28px;}
	
	.sub-title{padding:60px 20px;}
	.sub-title h1{font-size:28px;}
	
	.ss-title{margin-bottom:60px;}
	
	/* 브랜드스토리 */
	.brand-story{background-position:100% 10px; background-size:100%; padding:20% 0 10%;}
	.brand-story img{max-width:50%; padding-left:20%;}
	.brand-story p{font-size:16px; line-height:28px; background:#fff; padding:20px 10px 0 0; box-sizing:border-box;}
	.s-p-box{max-width:100%;}
	.s-p-img{min-height:240px;}
	.s-p-box-no{min-height:288px; padding-top:100px;}
	.product-title p{font-size:14px;}
	
	/*첫구매가이드*/
	#tab-menu ul li{width:160px;}
	#tab-menu ul li a{line-height:50px; font-size:14px;}
	#tab-menu .tab-selected a{line-height:46px;}
	.relief-reason{margin-bottom:40px;}
	.relief-reason h4{margin:40px 0 40px;}
	.reason-box p{font-size:16px; line-height:28px;}
	.reason-table th img{margin:0 auto;}
	.reason-table-title{padding-right:20px;}
	.reason-table-title h3{font-size:18px;}
	.reason-table-title p{font-size:14px; line-height:22px;}
	.reason-table td{padding-left:20px;}
	
	.guide{padding:0 2.5%;}
	.guide-txt{background:#fff; width:70%; padding:0 20px 40px; top:70px;}
	.guide-txt3{min-height:auto; overflow:hidden;}
	.guide-txt3 p, .guide-txt4 p{width:100%; padding:30px 20px;}
	.guide2{min-height:400px;}
	/* .guide3{min-height:320px;} */
	.guide3{min-height:600px;}
	.guide-txt4{min-height:auto;}
	
	/*자활사업이란*/
	.s-h-title{margin:20px 0; text-align:center;}
	.s-h-title h3{margin-top:5px; font-size:22px;}
	.box-contents p{width:100%; float:none; padding:0 !important;}
	
	/*제품리스트*/
	.product-list-wrap ul li{width:50%; float:left; box-sizing:border-box;}

	/*커뮤니티 탭*/
	#community-tab ul li{width:140px; height:40px;}
	#community-tab ul li a{font-size:13px; line-height:40px;}
}

@media all and (max-width:525px){
	/*첫구매가이드*/
	#tab-menu ul{width:100%;}
	#tab-menu ul li{width:100%; display:block; margin-top:-1px;}
	#tab-menu ul li a{line-height:40px;}
	#tab-menu .tab-selected a{line-height:36px;}
	.reason-table th, .reason-table td{display:block; text-align:center; padding:0;}
	.reason-table th img{float:none;}
	.reason-table-title{padding-right:0;}
	.reason-table th p, .reason-table td p{text-align:center;}
	.reason-table td{border-left:0; border-bottom:1px solid #ccc; padding-bottom:20px;}
	.reason-box{padding:0 20px;}
	.guide1{min-height:780px;}
	/* .guide3{min-height:360px;} */
	
	/*제품리스트*/
	.product-list-wrap ul li{width:100%; float:left; box-sizing:border-box;}
	.s-p-box2 .s-p-img{min-height:340px;}
	
}

@media all and (max-width:360px){

}

