.addMemoWrap {
  position: absolute;
  width: 100%;
  height: 50vh;
  bottom: 0;
  background: rgb(243, 243, 243);
  z-index: 250;
  padding-top: 30px;
}

.memobtn {
  width: 150px;
  height: 30px;
  font-weight: bold;
  background-color: lightgray;
  cursor: pointer;
  margin: 0 10px 0 10px;
}

.memoWrapper {
  width: 60%;
  margin: 0 auto;
}

.memoDiv {
  margin: 10px 0 10px 0;
  padding-left: 10px;
}

.memoInput {
  width: 460px;
}

.memoPlace {
  font-family: SuseongDotum;
  box-sizing: border-box;
  padding: 5px;
  height: 40px;
}

.memoArea {
  height: 120px;
  resize: none;
  box-sizing: border-box;
  font-family: SuseongDotum;
  padding: 10px;
}

.memoBtnWrap {
  text-align: center;
}

.saveMemo {
  background: #0066cc;
  color: white;
}

.cancelMemo {
}

.hidden {
  display: none;
}
