#title {
  margin: 5px 0;
  padding: 12px;
  width: 450px;
  border: solid 1px lightgray;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  font-size: 14px;
}

#area {
  margin: 5px 0;
  padding: 12px;
  width: 450px;
  border: solid 1px lightgray;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  font-family: SuseongDotum;
  font-size: 14px;
}

// 일정
.dayText {
  margin: 5px 0;
  padding: 12px;
  width: 450px;
  height: 42.8px;
  line-height: 20px;
  border: solid 1px lightgray;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}

// 달력===========================================================
#calendar {
  width: 30px;
  height: 30px;
  font-size: 17px;
  background: #0066cc;
  color: white;
  font-weight: bold;
  float: right;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* 달력을 감싸주는 랩 태그 */
.calWraper {
  width: 450px;
  height: 320px;
  border: 0.8px solid #aaa;
  border-radius: 5px;
  background: white;
  position: absolute;
  margin: 0 auto;
  left: calc(50% + 25px);
  top: 320px;
  transform: translateX(-50%);
  z-index: 95;
}

/* 달력 팝업 숨김 처리 */
.hidden {
  visibility: hidden;
}

/* 캘린더 팝업 내부의 선택 및 취소 버튼 공통 css */
.calBtn {
  width: 40px;
  height: 25px;
  margin: 0 10px 0 10px;
}

/* 캘린더 팝업 내부 버튼 중앙정렬  */
.calBtnWrap {
  text-align: center;
}

/*여기서부터는 달력 라이브러리 관련 태그 */
.react-datepicker {
  border: none;
}

.react-datepicker__month-container {
  width: 450px;
}

.react-datepicker__current-month {
  // margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker__navigation--previous {
  left: 2px;
  margin: 10px;
}
.react-datepicker__navigation--next {
  right: 2px;
  margin: 10px;
}

/* 달력 헤더(월화수목금토일) */
.react-datepicker__day-name {
  width: 40px;
}

/* 선택하는 날짜 태그 관련 속성 */
.custom-day {
  width: 40px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

/* 이번달이 아닌 날짜를 표기할 폰트 색 */
.gray-day {
  color: #aba8b9;
}

/*선택된 날짜를 표기해줄 배경색*/
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background: #68c8ff;
}

/* 오늘 날짜는 font-weight:bold가 default여서 normal로 재설정 */
.react-datepicker__day--today {
  font-weight: normal;
}

.calBtn {
  border: none;
  border-radius: 5px;
}

// ====================================================================

// 타입
.typeBtn {
  margin: 5px 0;
  text-align: center;
  border: none;
  box-sizing: border-box;
  border-radius: 2px 2px;
  background-color: rgb(230, 230, 230);
  width: 85px;
  height: 35px;
  cursor: pointer;
}

.typeBtn.activate {
  background: #0066cc;
  color: white;
  font-weight: bold;
}

// 제목~공유 가운데 정렮
.t_component_btn {
  display: flex;
  justify-content: space-between;
}

.selectTable {
  margin-left: auto;
  margin-right: auto;
}

.selectTable td:first-child {
  width: 50px;
  text-align: left;
}

.t_label {
  line-height: 40px;
}

.t_component button {
  margin: 0 3px;
}

// 지도
.map {
  width: 500px;
  height: 350px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#react-kakao-maps-sdk-map-container {
}

// 일차
.planByDay {
  margin: 0 auto;

  padding: 12px;
  width: 500px;
  height: 42.8px;
  line-height: 20px;
  background: rgb(230, 230, 230);
  // border-top: solid 2px gray;
  color: black;
  position: relative;
  // left: 50%;
  // transform: translateX(-50%);
  box-sizing: border-box;
  display: block;
}

// + 버튼
.buttonDiv {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.addDay {
  width: 30px;
  height: 30px;
  font-size: 17px;
  background: #0066cc;
  color: white;
  font-weight: bold;
  float: right;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

.planMaker_btnWrap {
  text-align: center;
  padding-bottom: 50px;
}

.planMaker_btnWrap button {
  text-align: center;
  border: none;
  border-radius: 2px 2px;
  background-color: lightgray;
  padding: 1%;
  margin: 1%;
  width: 70px;
  cursor: pointer;
}

.updateMemo {
  float: right;
  height: 24px;
  width: 75px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteItem {
  float: right;
  height: 24px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.planByDaysWrap {
  width: 500px;
  margin: 0 auto;
}

/* 등록한 아이템을 감싸는 태그 */
.selectedItemArticle {
  padding: 10px;
}

/* 등록한 아이템 라벨 태그 */
.selectedItemLabel {
  cursor: pointer;
}

.btnWrap button {
  background-color: lightgrey;
  text-align: center;
  border: none;
  border-radius: 2px 2px;
  background-color: lightgray;
  padding: 1%;
  margin: 1%;
  width: 70px;
  cursor: pointer;
}
