@charset "utf-8";

/*********************** 청년13통장사업 ***************************/
.about-con1, .about-con2, .about-con3{margin-bottom:40px; overflow:hidden;}
.talk-box{background:url(../../images/thema/sub/intro-bg.jpg)repeat-y; width:100%; max-width:1200px; padding:20px 15px; box-sizing:border-box; overflow:hidden;}
.talk1{background:#faf5ad; display:inline-block; padding:5px 20px; box-sizing:border-box; border-radius:5px; position:relative; margin:0 40% 10px 20px;}
.talk2{background:#fff; display:inline-block; padding:5px 20px; box-sizing:border-box; border-radius:5px; position:relative; margin:0 20px 10px 40%; float:right;}
.talk3{margin-bottom:0;}
.talk-box p{color:#333;}
.talk1:before{content:''; width:0; height:0; border-top:10px solid #faf5ad; border-left:20px solid transparent; position:absolute; left:-15px; top:10px;}
.talk2:before{content:''; width:0; height:0; border-top:10px solid #fff; border-right:20px solid transparent; position:absolute; right:-15px; top:10px;}
.about-con1 h4{font-size:18px; font-weight:400; color:#555; padding:10px; box-sizing:border-box; border-bottom:1px dotted #aaa; text-align:center;}
.about-con2 p{font-size:16px;}

.passbook-stage{margin-top:20px; position:relative; width:100%; background:url(../../images/thema/sub/h-line.gif)repeat-x center center; overflow:hidden; z-index:-1;}
.stage-box-wrap1{width:25%; float:left;}
.stage-box-wrap2{width:12.5%; float:left;}
.stage-box{border:1px solid #ccc; width:100%; max-width:300px; border-radius:5px; box-sizing:border-box; overflow:hidden; position:relative; min-height:440px; background:#fff;}
.stage-title{margin:20px 20px 0; padding-bottom:15px; box-sizing:border-box; border-bottom:1px dotted #ccc;}
.stage-title h3{font-size:18px; font-weight:500; color:#333;}
.stage-title p{font-size:16px; font-weight:400; color:#333;}
.stage-con ul{padding:10px 20px; box-sizing:border-box;}
.stage-con ul li{font-size:14px; color:#333; font-weight:500; line-height:26px; padding:7px 0;}
.gray-box{font-size:12px; font-weight:400; background:rgba(87,121,157,0.1); border-radius:2px; box-sizing:border-box; padding:5px 10px; margin-right:10px;}
.ft-gray{font-size:13px; color:#888; font-weight:400;}
.stage-con img{display:block; position:absolute; bottom:0; max-width:100%}

.stage-box2{width:100%; max-width:60px; min-height:440px; border-radius:5px; box-sizing:border-box; background:#6e89a0; padding:130px 0; margin:0 30%;}
.stage-box2-2{padding:100px 0;}
.stage-box2 img{display:block; margin:0 auto; padding:10px 0;;}
.stage-box2 h3{font-size:18px; font-weight:500; color:#fff; width:20px; word-wrap:break-word; text-align:center; margin:0 auto; line-height:1.8em;}
.stage-con2 ul li{position:relative; padding-left:16px;}
.stage-con2 ul li:before{content:''; width:5px; height:5px; background:#57799d; position:absolute; left:0; border-radius:5px; top:18px;}

.exception-list{border:1px solid #ccc; box-sizing:border-box; border-radius:5px; padding:15px 20px; overflow:hidden;}
.exception-list ul li{font-size:16px; color:#555; line-height:26px; position:relative; padding:5px 0 5px 16px;}
.exception-list ul li:before{content:''; width:5px; height:5px; background:#57799d; position:absolute; left:0; border-radius:5px; top:18px;}

/*********************** 오시는길 ***************************/
.map{width:100%; min-height:360px; box-sizing:border-box;}
.root_daum_roughmap{width:100% !important; border:0 !important; padding:0 !important; border-radius:0 !important;}
.addr-title{text-align:center;}
.addr-title2{text-align:left; padding:20px 0;}
.addr-title h2{color:#576079; font-size:22px; font-weight:500; padding:35px 0;}
.addr-title2 h2{padding:0 !important;}
.addr-title2 p{font-size:18px; color:#576079; font-weight:300;}
.addr-list{padding:20px; box-sizing:border-box; overflow:hidden;}
.addr-list h3{font-size:22px; font-weight:300; color:#576079; margin-bottom:5px;}
.addr-list h3 span{font-size:18px; margin-right:5px; opacity:0.8;}
.addr-list ul li{display:inline-table; margin-right:20px;}
.addr-list ul li:last-child{margin-right:0;}


@media all and (max-width:1199px){

}

@media all and (max-width:767px){
	.passbook-stage{background:url(../../images/thema/sub/v-line.gif)repeat-y center center;}
	.stage-box-wrap1, .stage-box-wrap2{width:100%;}
	.stage-box{max-width:100%; min-height:380px;}
	.stage-con img{right:0;}
	.img-bg{width:100%; position:absolute; background:#57799d; min-height:136px; bottom:0;}
	.img-bg2{background:#ddefe3;}
	.img-bg3{background:#9ed2d1;}
	.stage-box2{max-width:100%; margin:40px 0; padding:20px; min-height:auto;}
	.stage-box2 h3{letter-spacing:0.5em; width:100%;}
	
	.addr-title h2{padding:20px; font-size:22px;}
	.addr-list{padding:0 10px;}
	.addr-list h3{font-size:18px;}
	
	.about-con1 h4{font-size:16px;}
	.about-con2 p{font-size:14px;}
	.exception-list ul li{font-size:14px;}
	.exception-list ul li::before{top:17px;}
}

@media all and (max-width:525px){
	.stage-box{min-height:420px;}
}

@media all and (max-width:360px){

}




