@charset "utf-8";

.faq-tab{width:100%; text-align:center; margin-bottom:20px; overflow:hidden;}
.faq-tab ul{position:relative; z-index:100;}
.faq-tab ul li{float:left; display:table; width:33.3333%; max-width:400px; height:40px;}
.faq-tab ul li a{font-size:14px; color:#888; line-height:40px; display:block; border:1px solid #ccc; box-sizing:border-box; cursor:pointer; transition:none;}
.faq-tab ul li~li{margin-left:-1px;}
.faq-tab .selected a{border:1px solid #0062b1; color:#0062b1; position:relative; z-index:1;}

.faq-box{width:100%; border:1px solid #ccc; box-sizing:border-box; margin-bottom:10px;}
.faq-q{display:block; box-sizing:border-box; padding:15px 20px;}
.faq-q h3{font-size:16px; color:#333; font-weight:500; position:relative; padding:0 30px; box-sizing:border-box;}
.faq-q h3:before{content:'Q.'; font-size:20px; font-family: 'S-CoreDream-3Light'; color:#f16548; position:absolute; left:0; top:-3px; transition:all 0.4s;}
.faq-q h3:after{content: "\e941"; font-family:'xeicon'; position:absolute; right:0; top:4px; color:#888;}
.faq-a{background:#f8f8f8; padding:10px 20px; box-sizing:border-box; border-top:1px dotted #aaa; display:none;}
.faq-a div{position:relative; padding-left:30px;}
.faq-a div:before{content:'A.'; font-size:18px; font-family: 'S-CoreDream-3Light'; color:#769bce; position:absolute; left:0;}
.faq-box.active .faq-q h3:after{transform:rotate(180deg);}
.no-faq{text-align:center; padding:100px 0; box-sizing:border-box;}




@media all and (max-width:1199px){

}

@media all and (max-width:767px){

}

@media all and (max-width:525px){
	.faq-tab ul li{width:100%; max-width:100%;}
	.faq-tab ul li~li{margin-left:0; margin-top:-1px;}
}

@media all and (max-width:360px){

}

