@charset "utf-8";

pre{font-size:14px; font-family: 'Noto Sans KR', sans-serif; color:#555;}
/*************************쇼미더머니미션이란****************************/
.sub-contents{margin-bottom:40px; overflow:hidden;}
.mission-intro{background:url(../../images/thema/sub/mission-intro-bg.jpg)no-repeat; background-size:cover; width:100%; padding:10px; box-sizing:border-box; overflow:hidden; background-position:20% center;}
.w-border{border:1px solid #fff; width:100%; padding:20px; box-sizing:border-box; overflow:hidden; transition:background 0.4s;}
.m-intro-txt{width:100%; max-width:570px; float:right; padding:20px 0; box-sizing:border-box;}

.why-mentoring ul{text-align:center;}
.why-mentoring ul li{display:inline-table; width:33%; margin-left:-30px;}
.w-m-box{width:100%; max-width:400px; padding:15px 40px; box-sizing:border-box; border-radius:100px; text-align:center;}
.w-m-box1{background:rgba(107,155,210,0.1);}
.w-m-box2{background:rgba(213,220,224,0.3);}
.w-m-box3{background:rgba(126,152,149,0.2);}
.w-m-box img{display:block; margin:0 auto 10px;}
.w-m-box p{font-size:15px; color:#333;}

.want-box{width:95%; max-width:380px; margin:0 auto;}
.want-img{min-height:220px; background-size:cover !important; margin-bottom:10px; position:relative;}
.want-img1{background:url(../../images/thema/sub/want1.jpg)no-repeat center center;}
.want-img2{background:url(../../images/thema/sub/want2.jpg)no-repeat center center;}
.want-img3{background:url(../../images/thema/sub/want3.jpg)no-repeat center center;}
.want-title{background:#fff; width:80%; min-height:60px; position:absolute; right:0; bottom:0;}
.want-title h4{font-size:16px; font-weight:500; padding:22px 26px; box-sizing:border-box; position:relative;}
.want-title h4:before{font-size:40px; position:absolute; color:rgba(51,51,51,0.08); top:5px; left:15px; font-weight:700; font-family:'S-CoreDream-5Medium', 'Noto Sans KR', sans-serif;}
.want-title1 h4:before{content:'01';}
.want-title2 h4:before{content:'02';}
.want-title3 h4:before{content:'03';}

.mission-box-wrap1{position:relative;}
.mission-box-wrap1:after{content:''; position:absolute; width: 0; height: 0; border-left: 13px solid transparent; border-right: 13px solid transparent; border-top: 17px solid #0062b1; bottom:-24px; left:23%;}
.mission-box{width:100%; border:1px solid #ccc; box-sizing:border-box; min-height:200px; overflow:hidden; margin-bottom:10px;}
.mission-box-wrap1 .mission-box{margin-bottom:30px;}
.mission-bg{width:100%; min-height:200px; background-size:cover !important; text-align:center; padding:70px 0; box-sizing:border-box;}
.mission-bg1{background:url(../../images/thema/sub/about-mission1.jpg)no-repeat center center;}
.mission-bg2{background:url(../../images/thema/sub/about-mission2.jpg)no-repeat center center;}
.mission-bg h3{font-size:22px; font-family: 'S-CoreDream-5Medium'; color:#fff;}
.mission-bg h4{font-size:18px; font-family: 'S-CoreDream-3Light'; color:#fff; opacity:0.8; font-weight:400;}
.mission-contents{padding:15px 20px; box-sizing:border-box;}
.mission-contents h4{font-size:18px; font-weight:400; border-bottom:1px dotted #ccc; padding-bottom:15px; margin-bottom:15px;}
.ft-gray2{color:#888;}
.ft-gray3{font-weight:400; font-size:18px; color:#666;}
.mission-contents ul li{font-size:14px; line-height:26px; color:#555; padding:3px 0 3px 16px ; position:relative;}
.mission-contents ul li:before{content:''; width:5px; height:5px; background:#57799d; position:absolute; left:0; border-radius:5px; top:14px;}
.about-mission p{text-align:right;}


/*************************쇼니step01****************************/
#tab-menu{text-align:center; margin-bottom:20px; overflow:hidden;}
#tab-menu ul{position:relative; /* display:inline-block;  */z-index:100;}
#tab-menu ul li{float:left; display:table; width:25%; max-width:300px; height:40px;}
#tab-menu ul li a{font-size:14px; color:#888; line-height:40px; display:block; border:1px solid #ccc; box-sizing:border-box; cursor:pointer; transition:none;}
#tab-menu ul li~li{margin-left:-1px;}
#tab-menu .tab-selected a{border:1px solid #0062b1; color:#0062b1; position:relative; z-index:1;}
.tab-content{display:none;}
.tab-contents .tab-selected{display:inherit;}

.week-bg1{background:url(../../images/thema/sub/step1-1week.jpg)no-repeat;}
.week-bg2{background:url(../../images/thema/sub/step1-2week.jpg)no-repeat;}
.week-bg3{background:url(../../images/thema/sub/step1-3week.jpg)no-repeat;}
.week-bg4{background:url(../../images/thema/sub/step1-4week.jpg)no-repeat;}
.week-bg5{background:url(../../images/thema/sub/step2-1week.jpg)no-repeat;}
.week-bg6{background:url(../../images/thema/sub/step2-2week.jpg)no-repeat;}
.week-bg7{background:url(../../images/thema/sub/step2-3week.jpg)no-repeat;}
.week-bg8{background:url(../../images/thema/sub/step2-4week.jpg)no-repeat;}
.week-bg{width:100%; min-height:300px; /* background-size:cover;  */background-attachment:fixed; background-position:center center; text-align:center; padding-top:100px; box-sizing:border-box; transition:all 0.4s;}
.week-bg h2{font-size:28px; font-family: 'S-CoreDream-5Medium'; display:inline-block; border-bottom:2px solid #000; padding-bottom:5px;}

.week-mission{background:#fff; width:90%; max-width:1100px; margin:-60px auto 0; padding:30px; box-sizing:border-box;}
.w-m-ex{margin-top:20px;}
.w-m-ex img{display:block; max-width:100%;}
.week-mission-img img{display:block; max-width:100%;}
.mission-list{margin-left:30px;}
.mission-list ul{margin-top:-10px; box-sizing:border-box;}
.mission-list ul li{font-size:16px; color:#555; line-height:26px; position:relative; padding:10px 0 10px 40px;}
.list-num{position:absolute; left:0; width:25px; height:25px; border:2px solid #769bce; border-radius:2px; box-sizing:border-box; text-align:center; line-height:23px; font-family:'S-CoreDream-5Medium'; font-size:12px; top:11px;}
.m-list-ex{margin-top:5px; display:block; line-height:24px;}

.btn-wrap3{margin-top:10px; text-align:center;}
.btn-submit{width:100%; max-width:280px; font-size:13px; padding:14px 10px; box-sizing:border-box; background:#374e79; color:#fff; transition:all 0.4s; display:block; margin:0 auto;}
.btn-submit:hover{background:#f16548;}

/*************************쇼니step03****************************/
.step3-program{margin:20px 0; overflow:hidden;}
.step3-program .pro-box{width:95%; max-width:380px; margin:0 auto;}
.step3-program .pro-img{min-height:220px; background-size:cover !important; margin-bottom:10px; position:relative;}
.step3-program .pro-img1{background:url(../../images/thema/sub/program1.jpg)no-repeat center center;}
.step3-program .pro-img2{background:url(../../images/thema/sub/program2.jpg)no-repeat center center;}
.step3-program .pro-img3{background:url(../../images/thema/sub/program3.jpg)no-repeat center center;}
.step3-program .pro-tit{background:#fff; width:80%; min-height:60px; position:absolute; right:0; bottom:0;}
.step3-program .pro-tit h4{font-size:16px; font-weight:500; padding:22px 26px; box-sizing:border-box; position:relative;}
.step3-program .pro-tit h4:before{font-size:40px; position:absolute; color:rgba(51,51,51,0.08); top:5px; left:15px; font-weight:700; font-family:'S-CoreDream-5Medium', 'Noto Sans KR', sans-serif;}
.step3-program .pro-tit1 h4:before{content:'01';}
.step3-program .pro-tit2 h4:before{content:'02';}
.step3-program .pro-tit3 h4:before{content:'03';}
.pro-box-contents h4{font-size:16px; font-weight:500;}
.pro-box-contents h5{font-size:14px; font-weight:500; border-bottom:1px dotted #aaa; padding:4px 0 8px 10px; margin-bottom:8px; position:relative;}
.pro-box-contents h5:before{content:'-'; font-size:14px; color:#333; font-weight:400; position:absolute; left:0;}
.b-bottom-0{border-bottom:0 !important;}

/*************************쇼니step04****************************/
.consulting1{margin-bottom:20px; overflow:hidden;}
.consulting1 p{font-size:16px;}
.consulting2{background:#f8f8f8; border:1px solid #ccc; box-sizing:border-box; overflow:hidden;}
.plan-img{border-right:1px solid #ccc; box-sizing:border-box; overflow:hidden;}
.plan-img img{display:inline-block; margin:0 auto; max-width:50%; float:left;}
.consulting2-con{padding-left:10px;}
.basic-list2{border:0;}



@media all and (max-width:1199px){

}

@media all and (max-width:767px){
	.w-border{background:rgba(255,255,255,0.6);}
	.why-mentoring ul li{width:100%; margin:5px auto;}
	.w-m-box{max-width:100%;}
	.want-box{max-width:100%; margin:0 auto 30px;}
	.mission-box-wrap1:after{left:50%; margin-left:-6px;}
	.week-mission-img img{width:100%; margin-bottom:20px;}
	.mission-list{margin:0;}
	.week-bg{min-height:240px; padding-top:80px;}
	.week-bg h2{font-size:22px;}
	.mission-list ul li{font-size:14px;}
	.step3-program .pro-box{max-width:100%; margin:0 auto 30px;}
	.plan-img{border-bottom:1px solid #ccc; border-right:0;}
	.consulting1 p{font-size:14px;}
	.basic-list ul li{font-size:14px;}
	.basic-list ul li::before{top:17px;}
}

@media all and (max-width:525px){
	.week-bg{background-size:100%; background-attachment:scroll;}
}

@media all and (max-width:360px){

}




