 @charset "utf-8";

/******************slide********************/
.unslider {
  position: relative; 
  overflow:hidden !important;
}

 .unslider-nav {
  position: relative;
  z-index: 888;
  bottom: 40px;
}

.unslider-nav ol li {
  width: 8px !important;
  height: 8px !important;
  background: rgba(0,0,0,0.2) !important;
  border:0 !important;
  border-radius:50px !important;
}

.unslider-nav ol li.unslider-active {
  background:#036eb8 !important;
}

.in {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

#slide {
  width: 100%;
  height: 580px;
  position: relative;
  /* transition:all 0.5s; */
}

#slide .unslider-wrap li {
  height: 580px;
}

#slide .unslider-wrap li:nth-of-type(1) {
  background: url(../images/main/main-slide01.jpg) no-repeat center center;
  background-size: cover;
}

 #slide .unslider-wrap li:nth-of-type(2) {
  background: url(../images//main/main-slide02.jpg) no-repeat center center;
  background-size: cover;
}

#slide .unslider-wrap li:nth-of-type(3) {
  background: url(../images/main/main-slide03.jpg) no-repeat center center;
  background-size: cover;
}

#slide .wrap {
  position: relative;
  width:100%;  max-width:1200px;  margin:0 auto; overflow:hidden;
}

.unslider-arrow{width:50px; height:50px; z-index:99 !important; top:46%; box-sizing:border-box; opacity:0.6; text-align:center; line-height:45px; transition:all 0.4s;} 
.prev:before{content: "\e93d"; font-family:'xeicon'; color:#fff; left:20px !important; font-size:50px;}
.next:before{content: "\e940"; font-family:'xeicon'; color:#fff; left:20px !important; font-size:50px;}
.unslider-arrow:hover{opacity:1;}
.in{margin:-24px auto 0 !important;}

#slide .wrap img{padding-top:110px; display:block; max-width:100%;}
.slide-text-box{padding:180px 0 0 10px;}
.slide-text-box h2{font-size:28px; font-weight:300; color:#333;}
.blue-line{width:50px; height:1px; background: #4199d5; /* Old browsers */
background: -moz-linear-gradient(left, #4199d5 0%, #036eb8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #4199d5 0%,#036eb8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #4199d5 0%,#036eb8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4199d5', endColorstr='#036eb8',GradientType=1 ); /* IE6-9 */
margin:30px 0;
}
.slide-text-box h1{font-size:36px; font-weight:300; color:#333;}
.slide-text-box h1 strong, .slide-text-box h2 strong{font-weight:500}



/******************************section****************************/
.section-wrap{width:100%; max-width:1200px; margin:0 auto;}
.s-title{text-align:center;}
.s-title h1{font-size:32px; color:#333;}
.s-title p{letter-spacing:-0.02em; margin:7px 0;}
.s-title2{text-align:left;}
.s-title h2{font-size:28px;}
.s-title-white h1, .s-title-white h2, .s-title-white p{color:#fff;}

.btn-arrow{width:45px; height:45px; border-radius:25px; border:2px solid #555; font-size:22px; text-align:center; line-height:45px; color:#555; display:inline-block; opacity:0.8; transition:all 0.4s;}
.btn-arrow:hover{opacity:1; background:#036eb8; border-color:#036eb8; color:#fff;}
.btn-arrow2{color:#fff; border-color:#fff;}

.section1{padding:70px 0; box-sizing:border-box; width:100%; overflow:hidden;}
.pro-slider{margin-top:60px;}
.item-img-box{width:100%; max-width:340px; height:340px; background:#f5f5f7; position:relative; margin-bottom:45px; transition:all 0.6s;}
.item-img-box img{position:absolute; bottom:-35px; z-index:1; max-width:100%;}
.item a:hover .item-img-box{background:#4199d5;}

.section2{width:100%; background:url(../images/main/cs-bg.jpg)no-repeat;/*  min-height:380px; padding:50px 0; */ box-sizing:border-box; overflow:hidden; background-size:cover;}
.cs-center{/* padding-left:40px; */padding:50px 40px; overflow:hidden;}
.cs-center ul{margin:50px 0 30px; overflow:hidden;}
.cs-center ul li{font-size:34px; font-weight:300; color:#333; position:relative; padding-left:45px; box-sizing:border-box; width:50%; float:left;}
.cs-center ul li:last-child{width:100%;}
.cs-center ul li span{position:absolute; left:0; color:rgba(3,110,184,0.6); font-size:28px; top:5px;}

.cs-btn-wrap{float:right; display:inline-block;}
.cs-btn-wrap p{font-size:18px; color:#555; display:inline-block; float:left; margin-right:20px; padding:11px 0; box-sizing:border-box;}


.section3{width:100%; padding:60px 0; box-sizing:border-box; overflow:hidden;}
.about{width:100%; max-width:585px; background:url(../images/main/about-bg.jpg)no-repeat; background-size:cover; min-height:350px; background-position:center center; padding:50px; box-sizing:border-box; position:relative;}
.about-btn-wrap{position:absolute; left:50px; bottom:50px;}
.equipment{background:url(../images/main/equipment-bg.jpg)no-repeat; margin-bottom:30px; background-position:100% center;}
.catalog{background:url(../images/main/catalog-bg.jpg)no-repeat; background-position:30% center;}
.about-box{width:100%; max-width:585px; max-height:160px; background-size:cover; padding:45px 50px; box-sizing:border-box; float:right; position:relative;}
.about-box-btn{position:absolute; right:50px; top:57.5px;}





@media all and (max-width:1199px){
	#slide, #slide .unslider-wrap li{height:460px;}
	.slide-text-box{padding:120px 0 0 10px}
	#slide .wrap{padding:0 60px; box-sizing:border-box;}
	
	.cs-center{float:none; max-width:100%; background:rgba(248,248,248,0.85);}
	.notice{max-width:100%;}
	
	
}

@media all and (max-width:767px){
	#slide, #slide .unslider-wrap li{height:340px;}
	.prev:before, .next:before{font-size:22px;}
	.unslider-arrow{line-height:30px; width:35px; height:35px;}
	.unslider-arrow.prev{left:10px !important;}
	.unslider-arrow.next{right:10px !important;}
	.unslider-nav{bottom:20px;}
	.unslider-nav ol li{width:8px !important; height:8px !important;}
	#slide .wrap{padding:0 30px;}
	.slide-text-box{padding:80px 0 0 10px}
	.slide-text-box h2{font-size:20px;}
	.slide-text-box h1{font-size:26px;}
	
	.s-title h1{font-size:24px;}
	
	.cs-center ul{margin:30px 0;}
	.cs-center ul li{font-size:28px; padding-left:30px;}
	.cs-center ul li span{font-size:22px;}
	
	.section3{padding:0;}
	.about{max-width:100%;}
	.about-box{max-width:100%; margin:0 !important;}
}

@media all and (max-width:525px){
	.slide-text-box h2{font-size:16px;}
	.slide-text-box h1{font-size:20px;}
	
	.cs-center ul li{width:100%; float:none; margin:7px 0;}
}

@media all and (max-width:360px){
	
}