@charset "utf-8";

/*header-black*/
#header{width:100%; /* padding:0 50px;  */ box-sizing:border-box; height:80px; position:absolute; z-index:999; border-bottom:1px solid #e4e4e4; background:#fff;}
.logo{position:absolute; left:65px; top:10px;}
.logo img{display:inline-block; box-sizing:border-box; max-width:100%;}
.logo .logo-white{display:none;}

.menu{width:100%; max-width:1200px; margin:0 auto; /* padding-top:20px; */}
.menu > ul{text-align:center;}
.menu > ul > li{display:inline-table; margin:0 25px;}
.menu > ul > li > a{font-size:16px; cursor:pointer; color:#333; line-height:80px; padding:0 10px; box-sizing:border-box; display:block;}
.go-shop i{padding-left:5px;}

.sub-menu{display:none; opacity:0; position:absolute; z-index:999; background:#5e5852; width:100%; max-width:180px; padding:10px 0; margin-left:-50px; transition:all 0.4s;}
.sub-menu li{padding:10px 20px; box-sizing:border-box; text-align:left;}
.sub-menu li a{font-size:15px; color:#fff; font-weight:400; display:block; transition:all 0.3s; opacity:0.8;}
.sub-menu li a:hover{opacity:1;}
.sub-menu2{margin-left:-45px;}

.lang{position:absolute; right:65px; top:30px;}
.lang ul li{float:left; margin:0 3px;}
.lang ul li a{font-size:12px; border-radius:3px; border:1px solid rgba(170,170,170,0.6); box-sizing:border-box; padding:3px 10px 4px; display:block; text-align:center; color:rgba(85,85,85,0.6); font-weight:600; }
.lang ul li.selected a{background:rgba(94,88,82,0.6); color:#fff;}


/*header-white*/
.viewing-page-1 #header, .viewing-page-2 #header, .viewing-page-5 #header{border-color:rgba(255,255,255,0.4); background:none;}
.viewing-page-1 .logo .logo-white, .viewing-page-2 .logo .logo-white, .viewing-page-5 .logo .logo-white{display:block;}
.viewing-page-1 .logo .logo-black, .viewing-page-2 .logo .logo-black, .viewing-page-5 .logo .logo-black{display:none;}
.viewing-page-1 .menu > ul > li > a, .viewing-page-2 .menu > ul > li > a, .viewing-page-5 .menu > ul > li > a{color:#fff;}
.viewing-page-1 .lang ul li a, .viewing-page-2 .lang ul li a, .viewing-page-5 .lang ul li a{border:1px solid rgba(255,255,255,0.6); color:rgba(255,255,255,0.6);}
.viewing-page-1 .lang ul li.selected a, .viewing-page-2 .lang ul li.selected a, .viewing-page-5 .lang ul li.selected a{background:rgba(255,255,255,0.4); color:#fff;}



.btn-more2{font-size:14px; text-align:center; border:1px solid #555; color:#333; box-sizing:border-box; padding:12px; width:100%; max-width:220px; margin:0 auto; display:block; position:relative; opacity:0.6;}
.btn-more2 .arrow{position:relative; transition:padding 0.35s, margin 0.3s; -webkit-transition:padding 0.35s, margin 0.35s;}
.btn-more2 .arrow:after{content: "\e930"; font-family: 'xeicon'; font-size:13px; color:#fff; display:block; position:absolute; right:0; top:1px; opacity:0; transition:opacity 0.2s, right 0.2s; -webkit-transition:opacity 0.2s, right 0.2s; transform:rotate(90deg);}
.btn-more2:hover{background:#a5996f; opacity:1; color:#fff; /* border-color:#a5996f; */ background-color:#5e5852;}
.btn-more2:hover .arrow:after{opacity:1; right:-15px;}
.btn-more2:hover .arrow{margin-left:-10px; padding-right:10px;}





#footer{width:100%; background:#35322f; overflow:hidden;}
.ft-list{width:100%; border-bottom:1px solid rgba(255,255,255,0.2); overflow:hidden;}
.ft-list ul{text-align:center; overflow:hidden;}
.ft-list ul li{display:inline-table; margin:0 5px;}
.ft-list ul li a{font-size:12px; color:#fff; opacity:0.6; padding:10px; box-sizing:border-box; display:block; transition:all 0.4s;}
.ft-list ul li a:hover{opacity:0.8;}

.copyright{width:100%; padding:20px 0; box-sizing:border-box; text-align:center;}
.copyright h4{font-size:18px; color:#fff; opacity:0.8; margin-bottom:10px;}
.copyright ul{font-size:0; margin-bottom:5px;}
.copyright ul li{display:inline-table; margin:0 15px; font-size:12px; color:#fff; opacity:0.6;}
.copyright p{font-size:12px; color:#ccc; opacity:0.6;}

/* .ft-fixed{position:fixed; bottom:0; left:0;} */
.viewing-page-5 #footer{position:absolute; bottom:0; left:0;}

@media all and (max-width:1199px){
	#header{height:60px;}
	#header .logo{left:20px;}
	#header .logo img{max-width:70%;}
	.ham{position:absolute; right:20px;}
	.ham a{font-size:26px; line-height:60px; color:#555; cursor:pointer;}
	.viewing-page-1 .ham a, .viewing-page-2 .ham a, .viewing-page-5 .ham a{color:#fff;}
	.close{display:none;}
	.m-menu{position:fixed; top:60px; right:-100%; z-index:999; height:100vh; background:#a5996f; box-sizing:border-box; width:220px; overflow-y:scroll;}
	.m-menu > ul{text-align:left !important; margin-left:0;}
	.m-menu > ul > li{width:100%; max-width:100%; line-height:50px; margin:0; border-bottom:1px solid rgba(255,255,255,0.2);}
	.m-menu > ul > li > a{color:rgba(255,255,255,0.8); font-size:14px; padding:0 20px; display:block; line-height:inherit;}
	.m-menu .sub-menu{display:none; max-width:100%; position:static; border:0; border-top:1px solid rgba(255,255,255,0.4); background:rgba(0,0,0,0.4); margin-left:0 !important; opacity:1; transition:none;}
	.m-menu .sub-menu li{line-height:40px !important; padding:0 20px;}
	.m-menu .sub-menu li a{font-size:14px;}
	.sub-menu li a:hover{background:none; color:#fff;}
	.lang{position:static;}
	.lang ul li{margin:0; border-bottom:1px solid rgba(255,255,255,0.2); width:50%;}
	.lang ul li a{font-size:13px; border-radius:0; border:0 !important; padding:7px 0; color:rgba(255,255,255,0.6);}
	.lang ul li.selected a{background:rgba(255,255,255,0.4) !important;}
	
	.blind{position:fixed; top:0; left:0; bottom:0; width:100%; height:100%; z-index:998; display:none; background:rgba(0,0,0,0.6); transition:all 0.4s;}
}

@media all and (max-width:767px){
	.btn-more2{font-size:13px; padding:10px;}
	
	.overview{background-size:cover; padding-bottom:60px;}
}

@media all and (max-width:525px){
	.viewing-page-5 #footer{position:inherit;}
}

@media all and (max-width:360px){
	
}