.bodywrap {
  width: 100%;
  margin: 0 auto;
}

.scheduleList {
  margin: 0 auto;
  width: 500px;
}

/* 일정 리스트 아이템 랩 */
.mySchedule {
  width: 230px;
  height: 250px;
  float: left;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgb(226 226 226);
  box-sizing: border-box;
  position: relative;
}
/* 일정 타이틀 텍스트 */
.scheduleLabel {
  width: 200px;
  // font-size: 14px;
}

/* 이미지 랩*/
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이미지 표현을 위한 임시 css */
.plan_image {
  width: 200px;
  height: 170px;
  padding: 10px;
}

/* 일정의 날짜(일정기간) */
.scheduleDate {
  text-align: center;
  width: 230px;
  padding: 0 10px;
  box-sizing: border-box;
}
/* 일정 리스트 전체를 감싸주는 태그 */
// .scheduleWrap{
//     width:585px;
//     margin:0 auto;
// }

/* 페이징 버튼 */
.scheduleListWrap {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

/* 페이지 이동 버튼 */
.btn {
  width: 40px;
  height: 40px;
  font-size: 15px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
/* 현재 보여주고 있는 페이지 활성화 */
.activate {
  background: #0066cc;
  color: white;
  font-weight: bold;
}
/*일정 리스트 없을때 보이는 텍스트 태그*/
.noListHere {
  text-align: center;
  width: 100%;
  height: 300px;
  line-height: 300px;
}

/* 일정 리스트 하단 제목의 몇일부터 몇일 텍스트 */
.dayLabel {
  font-size: 12px;
  width: 200px;
  padding: 3px;
}

/* html, body, main { */
/* 높이를 스크롤 없이 꽉 채우기  */
/* height : 100vh;
    width:100%;
} */
// /* main{
//     /* 위치고정을 시키고 hidden으로 스크롤 처리  */
// 	 /*position : fixed;
// 	overflow : hidden;
// } */
