@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

.inner{width:100%; max-width:1200px; margin:0 auto;}

#pdf-down{width:100%; height:40px; background:#333;}
#pdf-down p{font-size:12px; color:#fff; font-family: 'Montserrat', sans-serif; opacity:0.8; display:inline-block; float:left; padding-right:10px; line-height:40px; box-sizing:border-box;}
#pdf-down ul{padding:10px 0;}
#pdf-down ul li{float:left; margin:0 5px;}

#menu{width:100%; height:80px; background:#fff;}
#menu .inner{position:relative;}
.logo{position:absolute; text-align:center; right:0; left:0; margin-top:12px;}
.logo a{display:inline-block; position:absolute; right:0; left:50%; top:50%; text-align:Center; width:126px; z-index:100; margin-left:-63px;}
.logo a img{max-width:100%; display:block;}

.main-menu > ul{display:inline-block;}
.main-menu > ul:first-child{width:70%;}
.main-menu > ul > li{display:inline-table; margin:0 40px; line-height:80px;}
.main-menu > ul > li:first-child{margin-left:0;}
.main-menu > ul > li > a{font-size:16px; color:#333; cursor:pointer;}

.sub-menu{display:none; position:absolute; z-index:999; background:rgba(0,0,0,0.6); width:100%; max-width:160px; border:1px solid rgba(255,255,255,0.4); box-sizing:border-box; text-align:left !important; overflow:hidden; margin-left:-50px;}
.sub-menu li{line-height:39px; border-bottom:1px dotted rgba(255,255,255,0.4); box-sizing:border-box; overflow:hidden;}
.sub-menu li:last-child{border-bottom:0;}
.sub-menu li a{font-size:14px; color:rgba(255,255,255,0.7); display:block; padding:0 15px;}
.sub-menu li a:hover{background:#333; color:#fff;}

.lang{position:absolute; right:0; top:28px;}
.lang-btn{border:1px solid #ddd; box-sizing:border-box; padding:3px 18px 3px 5px; background:#fff; font-size:13px; color:#888; position:relative; width:100%; text-align:left;}
.lang-btn:before{content:'\e936'; font-family: 'xeicon'; position:absolute; right:5px; top:7px;}
/* .lang-btn:after{content:'\e930';} */
.lang-btn i{padding:0 5px; box-sizing:border-box;}
.lang-menu{position:absolute; background:#fff; z-index:999; box-sizing:border-box; border:1px solid #ddd; margin-top:-1px; border-top:1px dotted #ddd; display:none; width:100%; text-align:center;}
.lang-menu li a{font-size:12px; color:#888; line-height:24px; display:block; padding:0 15px; box-sizing:border-box; transition:all 0.35s;}
.lang-menu li a:hover{color:#333;}

.ham{padding:0 15px; line-height:60px; position:absolute;}
.ham a{font-size:26px; cursor:pointer; color:#555;}
.close{display:none;}

/*scroll-menu*/
.scroll-menu{position:fixed !important; z-index:9999; border-bottom:1px solid rgba(22,27,97,0.4); box-shadow:1px 1px 5px #999; height:90px !important; width:100%;}
.scroll-menu #pdf-down{height:30px;}
.scroll-menu #pdf-down p{line-height:30px;}
.scroll-menu #pdf-down ul{padding:4.5px 0;}
.scroll-menu #menu{height:60px;}
.scroll-menu .logo{margin-top:6px;}
.scroll-menu .logo a{width:106px; margin-left:-53px;}
.scroll-menu .main-menu > ul > li{line-height:60px;}
.scroll-menu .lang{top:17px;}

/*btn-fixed*/
.btn-up-wrap{position:fixed; right:15%; bottom:40px; z-index:999;}
.btn-up{transition:all 0.4s; width:46px; text-align:center; cursor:pointer; color:#b8b8b8; height:46px; box-sizing:border-box; display:block; border:1px solid #dbdbdb; font-size:22px; line-height:40px; /* background:rgba(255,255,255,0.9); */}
.btn-up:hover{color:#555; border-color:#555; background:rgba(255,255,255,0.8);}

#footer{width:100%; background:#333; /* height:170px;  */overflow:hidden;}
.ft-list{width:100%; border-top:1px solid rgba(255,255,255,0.4); border-bottom:1px solid rgba(255,255,255,0.4); box-sizing:border-box;}
.ft-list ul{text-align:center; padding:7px 0 10px;}
.ft-list ul li{display:inline-table; padding:0 10px; line-height:20px;}
.ft-list ul li a{font-size:12px; color:#fff; transition:all 0.4s; opacity:0.6;}
.ft-list ul li a:hover{opacity:1;}
.copy{text-align:center; padding:20px 0; box-sizing:border-box;}
.copy h4{font-family: 'S-CoreDream-5Medium'; font-size:18px; color:rgba(255,255,255,0.6); margin-bottom:20px;}
/* .copy ul{font-size:0; line-height:0;} */
.copy ul li{display:inline-table; padding:0 15px; font-size:12px; color:#888;}
.copy p{font-size:12px; color:#888; margin-top:10px;}














@media all and (max-width:1199px){
	#header{position:relative; z-index:9999;}
	
	#pdf-down{height:30px;}
	#pdf-down p{line-height:30px;}
	#pdf-down ul{padding:4.5px 0;}
	#menu{height:60px;}
	.logo{margin-top:6px;}
	.logo a{width:106px; margin-left:-53px;}
	.lang{top:17px; right:10px;}
	
	.m-menu{position:fixed; top:90px; left:-100%; z-index:9999; height:100%; background:#404040; box-sizing:border-box; width:220px;}
	.m-menu ul{text-align:left !important; width:100% !important;}
	.m-menu ul li{width:100%; max-width:100%; line-height:50px; margin:0; border-bottom:1px solid rgba(255,255,255,0.2);}
	.m-menu ul li a{color:rgba(255,255,255,0.8); font-size:14px; padding:0 20px; display:block;}
	.m-sub-menu{max-width:100%; position:static; border:0; border-top:1px solid rgba(255,255,255,0.4); background:rgba(0,0,0,0.4); margin-left:0;}
	.m-sub-menu li{line-height:40px !important;}
	.sub-menu li a:hover{background:none; color:#fff;}
	.blind{position:fixed; top:0; left:0; bottom:0; width:100%; height:100%; z-index:9988; display:none; background:rgba(0,0,0,0.6); transition:all 0.4s;}
	
	.btn-up-wrap{right:20px; bottom:20px;}
}

@media all and (max-width:767px){

}

@media all and (max-width:525px){
	
}

@media all and (max-width:360px){
	
}