@charset "utf-8";


#header{width:100%; padding:30px 50px 0; box-sizing:border-box; position:fixed; top:0; left:0; z-index:999; transition:all 0.4s; height:100px; border-bottom:1px solid rgba(237,237,237,0.6);}
#header .logo{position:absolute; left:50px; transition:all 0.4s;}
#header .logo img{display:inline-block; max-width:100%; transition:all 0.4s;}

#header .logo .logo2{display:none;}

#header .menu{width:100%; max-width:1200px; margin:0 auto;}
#header .menu > ul{text-align:center;}
#header .menu > ul > li{display:inline-table; margin:0 35px; text-align:center; }
#header .menu > ul > li > a{font-size:18px; color:#fff; line-height:45px; cursor:pointer; box-sizing:border-box; display:block;/*  padding-bottom:10px;  */ padding-bottom:25px;}
/* #header .btn-inquiry{background:#232e84; border-radius:25px; padding:0 35px !important; display:block; line-height:37px !important; font-size:16px !important; margin:4px 0; transition:all 0.4s;}
#header .btn-inquiry:hover{background:#fff; color:#232e84;} */
#header .h-inquiry{position:absolute; right:0; top:-1px; height:100vh; border-left:1px solid rgba(237,237,237,0.6);}
#header .btn-inquiry{width:100px; height:100px; background:#4583c5; opacity:0.9; display:block; position:relative;}
#header .btn-inquiry span{display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); font-size:14px; color:#fff; opacity:0.8;}
#header .btn-inquiry img{display:block; margin:0 auto 10px;}


#header .sub-menu{display:none; background:rgba(69,131,197,0.95); position:absolute; z-index:999; width:100%; max-width:180px; padding:10px 0; transition:all 0.4s; margin-left:-40px;}
#header .sub-menu1{margin-left:-60px;}
#header .sub-menu li{box-sizing:border-box; text-align:left;}
#header .sub-menu li a{font-size:16px; color:#fff; padding:12px 20px; box-sizing:border-box; display:block; opacity:0.7; transition:all 0.4s;}
#header .sub-menu li a:hover{opacity:1;}



/*header-white*/
.fp-viewing-2 #header, .fp-viewing-3 #header, .fp-viewing-4 #header{background:#fff;}
.fp-viewing-2 #header .logo1, .fp-viewing-3 #header .logo1, .fp-viewing-4 #header .logo1{display:none;}
.fp-viewing-2 #header .logo2, .fp-viewing-3 #header .logo2, .fp-viewing-4 #header .logo2{display:block;}
.fp-viewing-2 #header .menu > ul > li > a, .fp-viewing-3 #header .menu > ul > li > a, .fp-viewing-4 #header .menu > ul > li > a{color:#333;}

.fp-viewing-2 #fp-nav ul li a::before, .fp-viewing-2 .fp-slidesNav ul li a::before, .fp-viewing-2 #fp-nav ul li:hover a::before, .fp-viewing-2 .fp-slidesNav ul li:hover a::before, 
.fp-viewing-3 #fp-nav ul li a::before, .fp-viewing-3 .fp-slidesNav ul li a::before, .fp-viewing-3 #fp-nav ul li:hover a::before, .fp-viewing-3 .fp-slidesNav ul li:hover a::before, 
.fp-viewing-4 #fp-nav ul li a::before, .fp-viewing-4 .fp-slidesNav ul li a::before, .fp-viewing-4 #fp-nav ul li:hover a::before, .fp-viewing-4 .fp-slidesNav ul li:hover a::before {border:1px solid #888;}
.fp-viewing-2 #fp-nav ul li:hover a span, .fp-viewing-2 .fp-slidesNav ul li:hover a span, 
.fp-viewing-3 #fp-nav ul li:hover a span, .fp-viewing-3 .fp-slidesNav ul li:hover a span, 
.fp-viewing-4 #fp-nav ul li:hover a span, .fp-viewing-4 .fp-slidesNav ul li:hover a span{background:#888;}
.fp-viewing-2 #fp-nav ul li a span, .fp-viewing-2 .fp-slidesNav ul li a span, 
.fp-viewing-3 #fp-nav ul li a span, .fp-viewing-3 .fp-slidesNav ul li a span, 
.fp-viewing-4 #fp-nav ul li a span, .fp-viewing-4 .fp-slidesNav ul li a span{background:rgba(136,136,136,0.6);}
.fp-viewing-2 #fp-nav ul li a.active span, .fp-viewing-2 .fp-slidesNav ul li a.active span, .fp-viewing-2 #fp-nav ul li:hover a.active span, .fp-viewing-2 .fp-slidesNav ul li:hover a.active span, 
.fp-viewing-3 #fp-nav ul li a.active span, .fp-viewing-3 .fp-slidesNav ul li a.active span, .fp-viewing-3 #fp-nav ul li:hover a.active span, .fp-viewing-3 .fp-slidesNav ul li:hover a.active span, 
.fp-viewing-4 #fp-nav ul li a.active span, .fp-viewing-4 .fp-slidesNav ul li a.active span, .fp-viewing-4 #fp-nav ul li:hover a.active span, .fp-viewing-4 .fp-slidesNav ul li:hover a.active span{background:#888;}
.fp-viewing-2 #fp-nav ul li .fp-tooltip, .fp-viewing-3 #fp-nav ul li .fp-tooltip, .fp-viewing-4 #fp-nav ul li .fp-tooltip{color:#666; opacity:0.6;}


/*btn-fixed*/
.btn-up-wrap{position:fixed; right:50px; bottom:50px; z-index:999; transition:all 0.4s;}
.btn-up{transition:all 0.4s; width:46px; text-align:center; cursor:pointer; color:#b8b8b8; height:46px; box-sizing:border-box; display:block; border:1px solid #dbdbdb; font-size:22px; line-height:40px; /* background:rgba(255,255,255,0.9); */ opacity:0;}
.btn-up:hover{color:#555; border-color:#555; background:rgba(255,255,255,0.8);}







/*====================
	footer
======================*/
#footer{width:100%; padding:60px 50px; box-sizing:border-box; overflow:hidden; background:#3c434a; position:relative;}
#footer .ft-logo{position:absolute; left:50px; top:60px;}
#footer .ft-logo h3{font-size:22px; font-weight:400; color:#fff;}
#footer .ft-info {float:left;}
#footer .ft-info ul{display:block; margin-bottom:40px; overflow:hidden;}
#footer .ft-info ul li, #footer .ft-info p{font-size:14px; color:#fff; opacity:0.6; line-height:26px;}
#footer .ft-info ul li:nth-child(3){float:left; margin-right:30px;}
#footer .ft-info ul li span{padding-right:10px;}

#footer .ft-menu{float:right; width:33.33%;}
#footer .ft-menu ul li{/* float:left; */ margin-left:10px; float:right; margin-bottom:10px;}
#footer .ft-menu ul li a{font-size:14px; color:rgba(255,255,255,0.6); border:1px solid rgba(255,255,255,0.3); border-radius:5px; box-sizing:border-box; padding:8px 20px; transition:all 0.4s; display:block;}
#footer .ft-menu ul li a:hover{background:rgba(255,255,255,0.8); color:#666;}











@media all and (max-width:1199px){
	
	#header{padding:15px 15px 0; height:70px;}
	#header .logo{left:15px; top:22px;}
	#header .logo img{max-width:70%;}
	/* #header .logo{left:30px;} */
	
	.ham{padding:5px 10px; box-sizing:border-box; display:inline-block; position:absolute; right:15px;}
	.ham .line{display:block; width:24px; height:1px; background:#fff; margin:7px auto; transition:all 0.4s;}
	.fp-viewing-2 .ham .line, .fp-viewing-3 .ham .line, .fp-viewing-4 .ham .line{background:#4583c5;}
	.fp-viewing-2 .ham.active .line, .fp-viewing-3 .ham.active .line, .fp-viewing-4 .ham.active .line{background:#fff;}
	.ham.active .line1{transform:translateY(7px) rotate(45deg);}
	.ham.active .line2{opacity:0;}
	.ham.active .line3{transform:translateY(-9px) rotate(-45deg);}
	
	.m-menu{width:80%; max-width:260px; display:block; height:100%; background:#4583c5; position:fixed; top:0; right:-100%; padding-top:80px; box-sizing:border-box; transition:all 0.4s; visibility:hidden; overflow-y:scroll;}
	.m-menu.on{right:0; visibility:visible;}
	.blind{position:fixed; top:0; left:0; bottom:0; width:100%; height:100%; z-index:998; display:none; background:rgba(0,0,0,0.6); transition:all 0.4s;}
	
	.m-menu > ul > li{width:100%; margin:0 !important; border-top:1px solid rgba(255,255,255,0.2); text-align:left !important;}
	.m-menu > ul > li:nth-child(5){border-bottom:1px solid rgba(255,255,255,0.2);}
	.m-menu > ul > li > a{padding:5px 20px !important; opacity:0.8;}
	#header .sub-menu{margin-left:0; max-width:none; background:rgba(0,0,0,0.2); position:static; border-top:1px solid rgba(255,255,255,0.2);}
	
	.fp-viewing-2 #header .menu > ul > li > a, .fp-viewing-3 #header .menu > ul > li > a, .fp-viewing-4 #header .menu > ul > li > a{color:#fff;}
	
	.btn-up-wrap{right:20px; bottom:20px;}
	
	#footer .ft-logo{position:static; margin-bottom:10px;}
	#footer .ft-menu{width:100%; float:none; margin:10px 0 0; overflow:hidden;}
	#footer .ft-menu ul li{float:left; margin-left:0; margin-right:10px;}
}

@media all and (max-width:767px){
	
	#footer{padding:20px 2.5%;}
	/* #footer .ft-menu{margin:10px 0; overflow:hidden; float:none;} */
	#footer .ft-menu ul li{margin-right:5px; margin-bottom:5px;}
	#footer .ft-menu ul li a{font-size:13px; padding:6px 15px;}
	#footer .ft-info ul{margin-bottom:20px;}	
	#footer .ft-info ul li, #footer .ft-info p{font-size:13px; line-height:24px;}
	#footer .ft-info ul li:nth-child(3){float:none;}
}

@media all and (max-width:525px){
	
}

@media all and (max-width:360px){
	
}